In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [25]:
df = pd.read_csv("../data/raw/exploratory.csv")
df.head(5)

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark
0,1064,1064,F,1,FA,1,1/8/2020,0,0,9,9,ОСЕМЕН,236,7/1/2022,1H15132
1,1064,1064,F,1,FA,1,1/8/2020,0,0,9,9,НА_СХЕМУ,236,7/1/2022,9
2,1185,1185,F,1,FA,1,1/20/2020,0,49,9,43,ОСЕМЕН,213,7/1/2022,1H15184
3,1185,1185,F,1,FA,1,1/20/2020,0,49,9,43,НА_СХЕМУ,213,7/1/2022,9
4,1260,1260,F,1,FA,1,1/27/2020,0,49,5,5,НА_СХЕМУ,205,7/1/2022,9

# Предобработка

In [26]:
df=df.drop(columns=["sid"])

## Проверка на пустые значения

In [27]:
for column in df:
    print(column, ":", len(df.loc[(df[column].isnull()) | (df[column]=='-')].index))

id : 0
sex : 0
cycle : 0
childs : 5310
childbirth : 0
dob : 0
deadwood_days : 0
pregancy_days : 0
group_id : 0
group_past : 0
event : 0
milking_days : 0
date : 0
remark : 644

В childs ставится NaN если ещё не было ребенка или животное мужского пола.
В remark стоит - если примечание не требуется

## Приведение к числовым значениям

In [28]:
df.dtypes

id                int64
sex              object
cycle             int64
childs           object
childbirth        int64
dob              object
deadwood_days     int64
pregancy_days     int64
group_id          int64
group_past        int64
event            object
milking_days      int64
date             object
remark           object
dtype: object

### Пол и дети

In [29]:
df['sex'] = df['sex'].apply(lambda x: 1 if x =='F' else 0)

In [30]:
df['childs_fa'] = df['childs'].apply(lambda x: str(x).count('FA'))
df['childs_ma'] = df['childs'].apply(lambda x: str(x).count('MA'))
df['childs_fd'] = df['childs'].apply(lambda x: str(x).count('FD'))
df['childs_md'] = df['childs'].apply(lambda x: str(x).count('MD'))

In [31]:
#df=df.drop(columns=["childs"])
df.dtypes

id                int64
sex               int64
cycle             int64
childs           object
childbirth        int64
dob              object
deadwood_days     int64
pregancy_days     int64
group_id          int64
group_past        int64
event            object
milking_days      int64
date             object
remark           object
childs_fa         int64
childs_ma         int64
childs_fd         int64
childs_md         int64
dtype: object

### Дата рождения

In [32]:
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
df['dob']  = pd.to_datetime(df['dob'], infer_datetime_format=True)
df['age']  = ((df['date'] - df['dob']) / np.timedelta64(1, 'D')).astype(int)

In [33]:
df=df.drop(columns=["dob"])
df.dtypes

id                        int64
sex                       int64
cycle                     int64
childs                   object
childbirth                int64
deadwood_days             int64
pregancy_days             int64
group_id                  int64
group_past                int64
event                    object
milking_days              int64
date             datetime64[ns]
remark                   object
childs_fa                 int64
childs_ma                 int64
childs_fd                 int64
childs_md                 int64
age                       int64
dtype: object

### Дата события

In [34]:
month=['jan','feb','mar','apr','may','jun', 'jul', 'aug', 'sep', 'oct', 'nov',' dec']
for m in range (12):
    df[month[m]]=df['date'].apply(lambda x: 1 if x.month == m + 1 else 0)
df.head()

,id,sex,cycle,childs,childbirth,deadwood_days,pregancy_days,group_id,group_past,event,...,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1064,1,1,FA,1,0,0,9,9,ОСЕМЕН,...,0,0,0,0,1,0,0,0,0,0
1,1064,1,1,FA,1,0,0,9,9,НА_СХЕМУ,...,0,0,0,0,1,0,0,0,0,0
2,1185,1,1,FA,1,0,49,9,43,ОСЕМЕН,...,0,0,0,0,1,0,0,0,0,0
3,1185,1,1,FA,1,0,49,9,43,НА_СХЕМУ,...,0,0,0,0,1,0,0,0,0,0
4,1260,1,1,FA,1,0,49,5,5,НА_СХЕМУ,...,0,0,0,0,1,0,0,0,0,0

## Обработка событий

In [35]:
from enum import Enum

class EventType(Enum):
    
    OTHER   = -1
    #-------------
    ABORT   = 1  # 
    TOSCM   = 2  #
    NULSCM  = 3  #
    DNB     = 4  #
    BRED    = 5  #
    FRESH   = 6  #
    PREG    = 7  #
    PREGBEF = 8  #
    DRY     = 9  #
    DRY2    = 10 #
    OPEN    = 11 #
    #-------------
    WEIGHT  = 12 #
    DEAD    = 13 #
    MOVE    = 14 #
    SOLD    = 15 #
    #--------------
    VAC     = 16 #
    VACVIR  = 17 #
    FOOTRIM = 18 #
    HEALTH  = 19 #
    BROKE   = 20 #
    POT     = 21 #
    ILLMISC = 22 #
    LAME    = 23 #
    KETOS   = 24 #
    MAST    = 25 #
    METR    = 26 #
    PARES   = 27 #
    RP      = 28 #
    
    def __str__(self):
        return self.name
    
    @staticmethod
    def from_str(label):
        EventNames = {
         EventType.ABORT   : ["ABORT", "АБОРТ"],  
         EventType.TOSCM   : ["TOSCM", "НА_СХЕМУ"], 
         EventType.NULSCM  : ["NULSCM","СО_СХЕМЫ"],
         EventType.DNB     : ["DNB", "НЕОСЕМ"],
         EventType.BRED    : ["BRED", "ОСЕМЕН"], 
         EventType.FRESH   : ["FRESH", "ОТЕЛ"],  
         EventType.PREG    : ["PREG", "СТЕЛН"], 
         EventType.PREGBEF : ["PREGBEF", "СТЕЛНДО"],
         EventType.DRY     : ["DRY", "СУХОСТ"],
         EventType.DRY2    : ["DRY2", "СУХ2"],
         EventType.OPEN    : ["OPEN", "ЯЛОВАЯ"],
         #-------
         EventType.WEIGHT  : ["WEIGHT", "ВЕС"],
         EventType.DEAD    : ["DEAD", "ПАЛА"],
         EventType.MOVE    : ["MOVE", "ПЕРЕВОД"],
         EventType.SOLD    : ["SOLD", "ПРОДАНА"],
         #-------
         EventType.VAC     : ["VAC", "ВАКЦИН"],
         EventType.VACVIR  : ["VACVIR", "ВАКВИРУС"],
         EventType.FOOTRIM : ["FOOTRIM", "РАСЧКОП"],
         EventType.HEALTH  : ["HEALTH", "WELL", "ЗДОРОВА"],
         EventType.BROKE   : ["BROKE", "ДЕФЕКТ"],
         EventType.POT     : ["POT", "ПРОФОТ"],
         EventType.ILLMISC : ["ILLMISC", "БОЛЕЗНЬ"],
         EventType.LAME    : ["LAME", "ХРОМОТА"],
         EventType.KETOS   : ["KETOS", "КЕТОЗ"],
         EventType.MAST    : ["MAST", "МАСТИТ"],
         EventType.METR    : ["METR", "МЕТРИТ"],
         EventType.PARES   : ["PARES", "ПАРЕЗ"],
         EventType.RP      : ["RP", "ПОСЛЕД"],
        }
        for ev in EventNames.keys():
            if label in EventNames[ev]:
                return ev
        return Event(-1)

In [36]:
df['event'] = df['event'].apply(lambda x: EventType.from_str(x))
df.head()

,id,sex,cycle,childs,childbirth,deadwood_days,pregancy_days,group_id,group_past,event,...,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1064,1,1,FA,1,0,0,9,9,BRED,...,0,0,0,0,1,0,0,0,0,0
1,1064,1,1,FA,1,0,0,9,9,TOSCM,...,0,0,0,0,1,0,0,0,0,0
2,1185,1,1,FA,1,0,49,9,43,BRED,...,0,0,0,0,1,0,0,0,0,0
3,1185,1,1,FA,1,0,49,9,43,TOSCM,...,0,0,0,0,1,0,0,0,0,0
4,1260,1,1,FA,1,0,49,5,5,TOSCM,...,0,0,0,0,1,0,0,0,0,0

### Примечания к событиям
События делим на три группы:
1. События без примечаний
2. События, примечания к которым обрабатываются однообразно (например примечания --- номер протокола или id семени)
3. События, примечания к которым обрабытваются сложным образом.

Чтобы выбрать событие третьего типа, надо выбрать правило которым его надо обработать, а затем собственно произвести обработку.

In [37]:
for event in EventType:
    print(event, df[df['event'] == event]['remark'].unique().tolist())
    print('---------------------------------------------------------------------------')

OTHER []
---------------------------------------------------------------------------
ABORT ['94 ДНИ', '95 ДНИ', '81 ДНИ', 'БЕЗ ЖТ', '213 ДНИ', '172 ДНИ', 'ЖТ', 'ЛК', '241 ДНИ', '160 ДНИ', '83 ДНИ', '130 ДНИ', '84 ДНИ', '91 ДНИ', '7/25/2022', '214 ДНИ', 'БРАК', '54 ДНИ']
---------------------------------------------------------------------------
TOSCM ['9', '13', '40', '31', '29', '30', '38', '33', '46', '34', '36', '55', '60', '53', '37', '52', '42', '43', '58', '47', '48', '11', '2', '5', '15', '41', '49']
---------------------------------------------------------------------------
NULSCM ['-']
---------------------------------------------------------------------------
DNB ['ВЫМЯ', '-', 'МЕЛКАЯ', 'ВОСПР', 'НОГИ', 'ГИНЕКОЛ', 'НОГИПУТЫ', 'НАДОЙ', 'АТП', 'АБЦЕС', 'БРАК', 'СУСТАВ', 'ЗООТЕХ', 'ABC', 'МАСТИТ', 'ПНЕВМО', 'ЗДОРОВЬЕ']
---------------------------------------------------------------------------
BRED ['1H15132', '1H15184', '501H14018', '1H15689', '1H15461', '501H15515', '7H14578', '501H15681', '614H15481', '507H15248', '1H15879', 'ANSVER', 'FEIM']
---------------------------------------------------------------------------
FRESH ['-']
---------------------------------------------------------------------------
PREG ['33 ДНИ', '95 ДНИ', '94 ДНИ', '31 ДНИ', '32 ДНИ', '96 ДНИ', '30 ДНИ', '80 ДНИ', '117 ДНИ', '83 ДНИ', '82 ДНИ', '81 ДНИ', '92 ДНИ', '101 ДНИ', '38 ДНИ', '36 ДНИ', '37 ДНИ', '34 ДНИ', '213 ДНИ', '86 ДНИ', '84 ДНИ', '214 ДНИ', '66 ДНИ', '35 ДНИ', '215 ДНИ', '220 ДНИ', '93 ДНИ', '59 ДНИ', '165 ДНИ', '164 ДНИ', '169 ДНИ', '180 ДНИ', '167 ДНИ', '175 ДНИ', '181 ДНИ', '168 ДНИ', '166 ДНИ', '189 ДНИ', '163 ДНИ', '160 ДНИ', '161 ДНИ', '178 ДНИ', '185 ДНИ', '179 ДНИ', '193 ДНИ', '191 ДНИ', '87 ДНИ', '192 ДНИ', '97 ДНИ', '171 ДНИ', '188 ДНИ', '190 ДНИ', '183 ДНИ', '177 ДНИ', '150 ДНИ', '195 ДНИ', '187 ДНИ', '184 ДНИ', '162 ДНИ', '194 ДНИ', '170 ДНИ', '173 ДНИ', '90 ДНИ', '106 ДНИ', '127 ДНИ', '176 ДНИ', '172 ДНИ', '89 ДНИ', '88 ДНИ', '104 ДНИ', '98 ДНИ', '120 ДНИ', '91 ДНИ', '103 ДНИ', '100 ДНИ', '99 ДНИ', '102 ДНИ', '109 ДНИ', '85 ДНИ', '107 ДНИ', '122 ДНИ', '39 ДНИ', '52 ДНИ', '221 ДНИ']
---------------------------------------------------------------------------
PREGBEF []
---------------------------------------------------------------------------
DRY ['-', 'CEBA']
---------------------------------------------------------------------------
DRY2 ['-']
---------------------------------------------------------------------------
OPEN ['ЖТ', 'БЖТ', 'ЛК', '-', 'ФК', 'БЕЗ ЖТ', 'БРАК', 'ЖТ,ТОЩАЯ', 'АБС', 'ВОСПР', 'БПАК']
---------------------------------------------------------------------------
WEIGHT ['39', '37', '36', '40', '38', '35', '41', '31', '27', '29', '87', '79', '89', '92', '105', '86', '78', '98', '81', '84', '95', '71', '25', '26', '44', '42', '34', '43', '47', '30', '88', '109', '76', '97', '50', '33', '356', '335', '398', '330', '360', '373', '348', '355', '342', '435', '434', '349', '408', '326', '367', '445', '430', '443', '429', '318', '386', '418', '426', '394', '428', '402', '446', '411', '396', '279', '380', '374', '352', '407', '363', '440', '413', '405', '365', '385', '420', '354', '427', '382', '364', '400', '384', '401', '381', '425', '333', '390', '441', '433', '324', '378', '399', '350', '415', '368', '370', '344', '392', '416', '460', '345', '377', '358', '383', '375', '340', '409', '362', '316', '329', '406', '307', '313', '372', '379', '351', '327', '320', '410', '317', '395', '371', '314', '447', '353', '347', '310', '338', '397', '325', '225', '209', '204', '195', '253', '174', '197', '170', '200', '243', '231', '220', '216', '218', '241', '245', '234', '207', '222', '180', '237', '236', '223', '210', '211', '230', '198', '206', '242', '256', '202', '240', '208', '232', '196', '190', '183', '229', '224', '244', '233', '219', '212', '192', '165', '176', '214', '235', '156', '184', '188', '215', '178', '194', '140', '250', '186', '185', '182', '175', '228', '100', '103', '68', '74', '28', '3', '32', '2']
---------------------------------------------------------------------------
DEAD ['ПАЛА ; Болезни ЖКТ ; УВЗ3', 'ПАЛА ; Прочее ; УВЗ8', 'ПАЛА ; Травмы ; УВЗ5', 'ПАЛА ; Репродукция ; УВЗ6']
---------------------------------------------------------------------------
MOVE ['F008T009', 'F008T003', 'F006T005', 'F006T007', 'F009T001', 'F044T021', 'F021T002', 'F002T001', 'F024T030', 'F004T003', 'F004T010', 'F005T001', 'F017T045', 'F009T042', 'F007T005', 'F005T008', 'F009T010', 'F010T009', 'F009T008', 'F002T043', 'F010T003', 'F001T042', 'F007T006', 'F005T006', 'F021T044', 'F002T044', 'F003T043', 'F008T042', 'F010T042', 'F001T012', 'F007T003', 'F005T003', 'F006T003', 'F012T003', 'F016T038', 'F021T043', 'F018T045', 'F005T042', 'F005T012', 'F009T012', 'F008T005', 'F011T045', 'F015T035', 'F007T012', 'F006T012', 'F004T012', 'F008T012', 'F009T007', 'F043T003', 'F023T010', 'F031T040', 'F029T040', 'F010T007', 'F044T002', 'F004T007', 'F023T001', 'F023T009', 'F005T007', 'F009T003', 'F033T046', 'F041T012', 'F042T001', 'F004T042', 'F042T010', 'F005T043', 'F012T009', 'F002T023', 'F030T046', 'F024T040', 'F029T046', 'F041T007', 'F007T041', 'F002T003', 'F044T042', 'F010T004', 'F021T023', 'F010T012', 'F010T001', 'F001T002', 'F012T005', 'F023T004', 'F046T040', 'F012T041', 'F007T021', 'F009T006', 'F010T005', 'F008T006', 'F010T006', 'F001T043', 'F008T001', 'F009T043', 'F009T005', 'F021T003', 'F011T018', 'F028T011', 'F031T011', 'F011T046', 'F011T040', 'F033T040', 'F028T030', 'F030T028', 'F031T046', 'F030T031', 'F031T030', 'F024T028', 'F034T029', 'F030T024', 'F024T029', 'F029T024', 'F024T031', 'F029T030', 'F040T046', 'F036T029', 'F036T034', 'F038T036', 'F036T038', 'F031T038', 'F035T037', 'F004T023', 'F023T044', 'F004T006', 'F010T023', 'F017T018', 'F012T004', 'F003T004', 'F006T042', 'F002T042', 'F021T042', 'F003T012', 'F005T004', 'F006T001', 'F012T001', 'F004T005', 'F021T004', 'F044T041', 'F044T003', 'F021T005', 'F007T042']
---------------------------------------------------------------------------
SOLD ['ПРОДАНА ; Прочее ; УВЗ7', 'ПРОДАНА ; Травмы ; УВЗ5', 'ПРОДАНА ; Болезни ЖКТ ; УВЗ3', 'ПРОДАНА ; Пневмония ; УВЗ1', 'ПРОДАНА ; Послеродовое ; УВЗ2', 'ПРОДАНА ; Прочее ; УВЗ8', 'ПРОДАНА ; Прочее ; УВЗ4', 'ПРОДАНА ; Агалактия ; УВЗ9', 'ПРОДАНА ; Копыта ; УВЗ4', 'ПРОДАНА ; Прочее ; УВЗ5', 'ПРОДАНА ; Причина 12 ; УВЗ12', 'ПРОДАНА ; Болезни печени ; УВЗ11', 'ПРОДАНА ; МясоКомбинат ; УВЗ13', 'ПРОДАНА ; Бычки ; УВЗ10', 'ПРОДАНА ; Прочее ; УВЗ3', 'ПРОДАНА ; Мастит ; УВЗ7', 'ПРОДАНА ; Прочее ; УВЗ2']
---------------------------------------------------------------------------
VAC ['КОГЛАВАК', 'ЛЕПТО', 'ЛТФ', 'СКОУ']
---------------------------------------------------------------------------
VACVIR ['ВИСТА']
---------------------------------------------------------------------------
FOOTRIM ['РДК', 'КАН']
---------------------------------------------------------------------------
HEALTH ['ХРОМОТА', 'ПРОЧИЕ', 'МАСТИТ', 'ГИНЕКОЛ', 'ПРОЧЕЕ', 'МОЛОДНЯК', 'МАСТИТ,', '910092']
---------------------------------------------------------------------------
BROKE []
---------------------------------------------------------------------------
POT ['ПРОФ2']
---------------------------------------------------------------------------
ILLMISC ['АБС1', 'СУСТАВ', 'ТОЩ', 'ГАСТРО3', 'ГАСТРО2', 'ПНЕВМО1', 'ПУТЫ', 'РОТА', 'ГАСТРО4', 'ТУГОДОЙ', 'РАНА', 'ГАСТРО1', 'УШИБ', 'РИН2', 'ТОЩ2', 'КОЛИ', 'БУР1_?', 'ПОНОС2', 'БУР1_', 'РИН', 'ПНЕВМО2']
---------------------------------------------------------------------------
LAME ['H1_3', 'H2_3', 'HP2_34', 'H2_34', 'V3_3', 'HP2_4', 'M1_34', 'V3_4', 'V2_4', 'HP2_3', 'V1_3', 'H1_34', 'HP1_34', 'HP2_2', 'N1_3', 'N3_3', 'АТ', 'N2_2', 'H2_4', 'V1_4', 'H1_4', 'M1_4', 'H1_3,4', 'H2_3,4', 'N2_3,4', 'HP2_3,4', 'M1_3', 'H1_2', 'HP1_2', 'N1_3,4']
---------------------------------------------------------------------------
KETOS ['КЕТОЗ1', 'КЕТОЗ2']
---------------------------------------------------------------------------
MAST ['КМ3_3', 'КМ1_234', 'ТМ3_4', 'КМ1_34', 'КМ3_4', 'КМ6_4', 'КМ3_1', 'КМ1_4', 'ТМ9_1', 'КМ3_13', 'ТМ9_3', 'КМ3_23', 'ТМ5_4', 'КМ1_23', 'КМ1_3', 'КМ6_1', 'ТМ5_3', 'КМ5_3', 'КМ6_3', 'КМ1_12', 'КМ1_123', 'КМ6_2,3', 'КМ1_1', 'КМ3_2', 'КМ1_1,4', 'ТМ1_3', 'КМ1_1,3', 'КМ1_2,3', 'КМ1_1_4', 'КМ5_2,3', 'КМ1_1,2', 'КМ5_4', 'КМ1_2', 'ТМ2_1', 'СКМ6_1_4', 'КМ1_3,4', 'ТМ2_4', 'ТМ1_4', 'КМ6_1,4', 'КМ2_2', 'МВ', 'КМ1_134', 'КМ3_1,4', 'СКМ6_2', 'КМ6_2', 'СКМ6_1,4', 'ТМ2_2', 'КМ2_1,2', 'КМ3_124', 'СКМ6_1,3', 'КМ5_3,4', 'ТМ2_3,4', 'КМ3_2,4', 'КМ6_1_4', 'КМ4_1,4', 'ТМ3_2', 'ТМ5_1', 'КМ3_1,2', 'КМ6_34']
---------------------------------------------------------------------------
METR ['Э3', 'Э1']
---------------------------------------------------------------------------
PARES ['ПАРЕЗ']
---------------------------------------------------------------------------
RP ['ПОСЛЕД', 'ПОСЛЕД2']
---------------------------------------------------------------------------

Некоторые замечания:
1. В примечаниях к событиям категории OPEN встречается 'БПАК' что судя по всему является опечаткой от 'БРАК'
2. В примечаниях к событиям категории OPEN встречается 'БЖТ' и 'БЕЗ ЖТ' и вероятно это одно и тоже
3. В примечаниях к событиям категории SOLD причина продажи и код причины продажи не находятся во взаимнооднозначном соответствии

In [38]:
import re
countday=re.compile('[0-9]* ДНИ')

df['remark'] = df.apply(lambda row: 'БРАК' if (row.event == EventType.OPEN and row.remark == 'БПАК') else row.remark, axis=1)
df['remark'] = df.apply(lambda row: 'БЖТ' if  (row.event == EventType.OPEN and row.remark == 'БЕЗ ЖТ') else row.remark, axis=1)
df['remark'] = df.apply(lambda row: row.remark.split(';')[1].strip().rstrip() if row.event == EventType.SOLD else row.remark, axis=1)
df['remark'] = df.apply(lambda row: row.remark.split(';')[1].strip().rstrip() if row.event == EventType.DEAD else row.remark, axis=1)

EVENT_EMPTY  = [EventType.OTHER, EventType.NULSCM, EventType.FRESH, EventType.DRY2]
EVENT_UNIQUE = [EventType.TOSCM, EventType.DNB, EventType.BRED, EventType.SOLD, EventType.DEAD, EventType.DRY, EventType.OPEN, EventType.VAC, EventType.VACVIR, EventType.FOOTRIM, EventType.POT, EventType.ILLMISC, EventType.METR, EventType.PARES, EventType.RP]

for event in EVENT_EMPTY:
    df[str(event)] = df.apply(lambda row: 1 if row.event == event else 0, axis=1)

for event in EVENT_UNIQUE:
    protocols = df[df['event'] == event]['remark'].unique().tolist()
    i = 0
    for p in protocols:
        p_feature_name = str(event) + '_' + str(i); i += 1;
        df[p_feature_name] = df.apply(lambda row: 1 if row.event == event and row.remark == p else 0, axis=1)

    
#parse ABORT:
df['ABORT'] = df.apply(lambda row: 1 if row.event == EventType.ABORT else 0, axis=1)
df['ABORT_DAYS'] = df.apply(lambda row: int(row.remark[0:-4]) if (row.event == EventType.ABORT and countday.match(row.remark)) else 0, axis=1)
df['ABORT_YB']   = df.apply(lambda row: 1 if (row.event == EventType.ABORT and row.remark == 'ЖТ') else 0, axis=1)
df['ABORT_LK']   = df.apply(lambda row: 1 if (row.event == EventType.ABORT and row.remark == 'ЛК') else 0, axis=1)
df['ABORT_NYB']  = df.apply(lambda row: 1 if (row.event == EventType.ABORT and row.remark == 'БЕЗ ЖТ') else 0, axis=1)
df['ABORT_BRK']  = df.apply(lambda row: 1 if (row.event == EventType.ABORT and row.remark == 'БРАК') else 0, axis=1)
    
#parse PREG:
df['PREG_EVENT_DAYS'] = df.apply(lambda row: int(row.remark[0:-4]) if (row.event == EventType.PREG and countday.match(row.remark)) else 0, axis=1)

#parse PREGBEF:
df['PREGBEF_EVENT_DAYS'] = df.apply(lambda row: int(row.remark[0:-4]) if (row.event == EventType.PREGBEF and countday.match(row.remark)) else 0, axis=1)

#parse WEIGHT:
#df['WEIGHT']  = df.apply(lambda row: int(row.remark) if (row.event == EventType.WEIGHT) else 0, axis=1)
df.head()

,id,sex,cycle,childs,childbirth,deadwood_days,pregancy_days,group_id,group_past,event,...,RP_0,RP_1,ABORT,ABORT_DAYS,ABORT_YB,ABORT_LK,ABORT_NYB,ABORT_BRK,PREG_EVENT_DAYS,PREGBEF_EVENT_DAYS
0,1064,1,1,FA,1,0,0,9,9,BRED,...,0,0,0,0,0,0,0,0,0,0
1,1064,1,1,FA,1,0,0,9,9,TOSCM,...,0,0,0,0,0,0,0,0,0,0
2,1185,1,1,FA,1,0,49,9,43,BRED,...,0,0,0,0,0,0,0,0,0,0
3,1185,1,1,FA,1,0,49,9,43,TOSCM,...,0,0,0,0,0,0,0,0,0,0
4,1260,1,1,FA,1,0,49,5,5,TOSCM,...,0,0,0,0,0,0,0,0,0,0

### Целевые события
Теперь разберемся с целевыми событиями: мастит и хромота

In [39]:
def prot_id(s):
    return s[0:s.find('_'):]

def prot_num(s):
    m = []
    t = s[s.find('_') + 1::]
    for i in range(len(t)):
        if t[i] == '_':
            a = int(t[i - 1])
            b = int(t[i + 1])
            for j in range(a+1, b):
                m.append(j)
        elif t[i].isdigit():
            m.append(int(t[i]))
    return m

# Протоколы лечения хромоты
print(set(map(prot_id, df[df['event'] == EventType.LAME]['remark'].unique().tolist())))
# Протоколы лечения мастита
print(set(map(prot_id, df[df['event'] == EventType.MAST]['remark'].unique().tolist())))

{'V2', 'N3', 'А', 'H1', 'H2', 'N1', 'HP1', 'V3', 'HP2', 'N2', 'V1', 'M1'}
{'КМ2', 'ТМ3', 'КМ5', 'СКМ6', 'ТМ9', 'КМ4', 'КМ1', 'ТМ5', 'ТМ2', 'М', 'КМ6', 'ТМ1', 'КМ3'}

In [40]:
def parse_LAME():
    protocols = set(map(prot_id, df[df['event'] == EventType.LAME]['remark'].unique().tolist()))
    for p in protocols:
        for i in range(1, 5):
            feature_name = 'LAME_'+ p + '_' + str(i)
            df[feature_name] =  df.apply(lambda row: 1 if ((row.event == EventType.LAME) and (p == prot_id(row.remark)) and (i in prot_num(row.remark))) else 0, axis=1)

def parse_MAST():
    protocols = set(map(prot_id, df[df['event'] == EventType.MAST]['remark'].unique().tolist()))
    for p in protocols:
        for i in range(1, 5):
            feature_name = 'MAST_'+ p + '_' + str(i)
            df[feature_name] =  df.apply(lambda row: 1 if ((row.event == EventType.MAST) and (p == prot_id(row.remark)) and (i in prot_num(row.remark))) else 0, axis=1)
parse_LAME()
parse_MAST()

In [42]:
df.head()

,id,sex,cycle,childs,childbirth,deadwood_days,pregancy_days,group_id,group_past,event,...,MAST_КМ6_3,MAST_КМ6_4,MAST_ТМ1_1,MAST_ТМ1_2,MAST_ТМ1_3,MAST_ТМ1_4,MAST_КМ3_1,MAST_КМ3_2,MAST_КМ3_3,MAST_КМ3_4
0,1064,1,1,FA,1,0,0,9,9,BRED,...,0,0,0,0,0,0,0,0,0,0
1,1064,1,1,FA,1,0,0,9,9,TOSCM,...,0,0,0,0,0,0,0,0,0,0
2,1185,1,1,FA,1,0,49,9,43,BRED,...,0,0,0,0,0,0,0,0,0,0
3,1185,1,1,FA,1,0,49,9,43,TOSCM,...,0,0,0,0,0,0,0,0,0,0
4,1260,1,1,FA,1,0,49,5,5,TOSCM,...,0,0,0,0,0,0,0,0,0,0