In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv("../data/raw/exploratory.csv")
df.head(5)

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark
0,1064,1064,F,1,FA,1,1/8/2020,0,0,9,9,ОСЕМЕН,236,7/1/2022,1H15132
1,1064,1064,F,1,FA,1,1/8/2020,0,0,9,9,НА_СХЕМУ,236,7/1/2022,9
2,1185,1185,F,1,FA,1,1/20/2020,0,49,9,43,ОСЕМЕН,213,7/1/2022,1H15184
3,1185,1185,F,1,FA,1,1/20/2020,0,49,9,43,НА_СХЕМУ,213,7/1/2022,9
4,1260,1260,F,1,FA,1,1/27/2020,0,49,5,5,НА_СХЕМУ,205,7/1/2022,9

# Предобработка

In [5]:
df['event_index'] = list(range(1, df.shape[0] + 1))

## Проверка на пустые значения

In [4]:
for column in df:
    print(column, ":", len(df.loc[(df[column].isnull()) | (df[column]=='-')].index))

id : 0
sid : 198
sex : 0
cycle : 0
childs : 5310
childbirth : 0
dob : 0
deadwood_days : 0
pregancy_days : 0
group_id : 0
group_past : 0
event : 0
milking_days : 0
date : 0
remark : 644
event_index : 0

В childs ставится NaN если ещё не было ребенка или животное мужского пола.
В remark стоит - если примечание не требуется

## Приведение к числовым значениям

In [145]:
df.dtypes

id                int64
sex              object
cycle             int64
childs           object
childbirth        int64
dob              object
deadwood_days     int64
pregancy_days     int64
group_id          int64
group_past        int64
event            object
milking_days      int64
date             object
remark           object
dtype: object

### Пол и дети

In [130]:
df['sex'] = df['sex'].apply(lambda x: 1 if x =='F' else 0)

In [131]:
df['childs_fa'] = df['childs'].apply(lambda x: str(x).count('FA'))
df['childs_ma'] = df['childs'].apply(lambda x: str(x).count('MA'))
df['childs_fd'] = df['childs'].apply(lambda x: str(x).count('FD'))
df['childs_md'] = df['childs'].apply(lambda x: str(x).count('MD'))

df['childs_m'] = df['childs'].apply(lambda x: str(x).count('M'))
df['childs_f'] = df['childs'].apply(lambda x: str(x).count('F'))
df['childs_d'] = df['childs'].apply(lambda x: str(x).count('D'))
df['childs_a'] = df['childs'].apply(lambda x: str(x).count('A'))

In [132]:
#df=df.drop(columns=["childs"])
df.dtypes

id                int64
sex               int64
cycle             int64
childs           object
childbirth        int64
dob              object
deadwood_days     int64
pregancy_days     int64
group_id          int64
group_past        int64
event            object
milking_days      int64
date             object
remark           object
childs_fa         int64
childs_ma         int64
childs_fd         int64
childs_md         int64
dtype: object

### Дата рождения

In [63]:
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
df['dob']  = pd.to_datetime(df['dob'], infer_datetime_format=True)
df['age']  = ((df['date'] - df['dob']) / np.timedelta64(1, 'D')).astype(int)

In [134]:
df=df.drop(columns=["dob"])
df.dtypes

id                        int64
sex                       int64
cycle                     int64
childs                   object
childbirth                int64
deadwood_days             int64
pregancy_days             int64
group_id                  int64
group_past                int64
event                    object
milking_days              int64
date             datetime64[ns]
remark                   object
childs_fa                 int64
childs_ma                 int64
childs_fd                 int64
childs_md                 int64
age                       int64
dtype: object

### Дата события

In [135]:
month=['jan','feb','mar','apr','may','jun', 'jul', 'aug', 'sep', 'oct', 'nov',' dec']
for m in range (12):
    df[month[m]]=df['date'].apply(lambda x: 1 if x.month == m + 1 else 0)
df.head()

,id,sex,cycle,childs,childbirth,deadwood_days,pregancy_days,group_id,group_past,event,...,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1064,1,1,FA,1,0,0,9,9,ОСЕМЕН,...,0,0,0,0,1,0,0,0,0,0
1,1064,1,1,FA,1,0,0,9,9,НА_СХЕМУ,...,0,0,0,0,1,0,0,0,0,0
2,1185,1,1,FA,1,0,49,9,43,ОСЕМЕН,...,0,0,0,0,1,0,0,0,0,0
3,1185,1,1,FA,1,0,49,9,43,НА_СХЕМУ,...,0,0,0,0,1,0,0,0,0,0
4,1260,1,1,FA,1,0,49,5,5,НА_СХЕМУ,...,0,0,0,0,1,0,0,0,0,0

## Обработка событий

In [6]:
import re
from enum import IntEnum

class EventType(IntEnum):
    OTHER   = 0
    #-------------
    ABORT   = 101  # 
    TOSCM   = 102  #
    NULSCM  = 103  #
    DNB     = 104  #
    BRED    = 105  #
    FRESH   = 106  #
    PREG    = 107  #
    PREGBEF = 108  #
    DRY     = 109  #
    DRY2    = 110 #
    OPEN    = 111 #
    #--------------
    VAC     = 201 #
    VACVIR  = 202 #
    FOOTRIM = 203 #
    HEALTH  = 204 #
    BROKE   = 205 #
    POT     = 206 #
    ILLMISC = 207 #
    LAME    = 208 #
    KETOS   = 209 #
    MAST    = 210 #
    METR    = 211 #
    PARES   = 212 #
    RP      = 213 #
    #-------------
    WEIGHT  = 301 #
    DEAD    = 302 #
    MOVE    = 303 #
    SOLD    = 304 #
    
    def __str__(self):
        return self.name
    
    @staticmethod
    def from_str(label):
        EventNames = {
            EventType.ABORT   : ["ABORT", "АБОРТ"],  
            EventType.TOSCM   : ["TOSCM", "НА_СХЕМУ"], 
            EventType.NULSCM  : ["NULSCM","СО_СХЕМЫ"],
            EventType.DNB     : ["DNB", "НЕОСЕМ"],
            EventType.BRED    : ["BRED", "ОСЕМЕН"], 
            EventType.FRESH   : ["FRESH", "ОТЕЛ"],  
            EventType.PREG    : ["PREG", "СТЕЛН"], 
            EventType.PREGBEF : ["PREGBEF", "СТЕЛНДО"],
            EventType.DRY     : ["DRY", "СУХОСТ"],
            EventType.DRY2    : ["DRY2", "СУХ2"],
            EventType.OPEN    : ["OPEN", "ЯЛОВАЯ"],
            #-------
            EventType.WEIGHT  : ["WEIGHT", "ВЕС"],
            EventType.DEAD    : ["DEAD", "ПАЛА"],
            EventType.MOVE    : ["MOVE", "ПЕРЕВОД"],
            EventType.SOLD    : ["SOLD", "ПРОДАНА"],
            #-------
            EventType.VAC     : ["VAC", "ВАКЦИН"],
            EventType.VACVIR  : ["VACVIR", "ВАКВИРУС"],
            EventType.FOOTRIM : ["FOOTRIM", "РАСЧКОП"],
            EventType.HEALTH  : ["HEALTH", "WELL", "ЗДОРОВА"],
            EventType.BROKE   : ["BROKE", "ДЕФЕКТ"],
            EventType.POT     : ["POT", "ПРОФОТ"],
            EventType.ILLMISC : ["ILLMISC", "БОЛЕЗНЬ"],
            EventType.LAME    : ["LAME", "ХРОМОТА"],
            EventType.KETOS   : ["KETOS", "КЕТОЗ"],
            EventType.MAST    : ["MAST", "МАСТИТ"],
            EventType.METR    : ["METR", "МЕТРИТ"],
            EventType.PARES   : ["PARES", "ПАРЕЗ"],
            EventType.RP      : ["RP", "ПОСЛЕД"],
        }
        for ev in EventNames.keys():
            if label in EventNames[ev]:
                return ev
        return EventType(0)

In [7]:
df['event'] = df['event'].apply(lambda x: EventType.from_str(x))
df.head()

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark,event_index
0,1064,1064,F,1,FA,1,1/8/2020,0,0,9,9,105,236,7/1/2022,1H15132,1
1,1064,1064,F,1,FA,1,1/8/2020,0,0,9,9,102,236,7/1/2022,9,2
2,1185,1185,F,1,FA,1,1/20/2020,0,49,9,43,105,213,7/1/2022,1H15184,3
3,1185,1185,F,1,FA,1,1/20/2020,0,49,9,43,102,213,7/1/2022,9,4
4,1260,1260,F,1,FA,1,1/27/2020,0,49,5,5,102,205,7/1/2022,9,5

### Примечания к событиям
События делим на три группы:
1. События без примечаний
2. События, примечания к которым обрабатываются однообразно (например примечания --- номер протокола или id семени)
3. События, примечания к которым обрабытваются сложным образом.

Чтобы выбрать событие третьего типа, надо выбрать правило которым его надо обработать, а затем собственно произвести обработку.

In [66]:
for event in EventType:
    print(event, df[df['event'] == event]['remark'].unique().tolist())
    print('---------------------------------------------------------------------------')

OTHER []
---------------------------------------------------------------------------
ABORT ['94 ДНИ', '95 ДНИ', '81 ДНИ', 'БЕЗ ЖТ', '213 ДНИ', '172 ДНИ', 'ЖТ', 'ЛК', '241 ДНИ', '160 ДНИ', '83 ДНИ', '130 ДНИ', '84 ДНИ', '91 ДНИ', '7/25/2022', '214 ДНИ', 'БРАК', '54 ДНИ']
---------------------------------------------------------------------------
TOSCM ['9', '13', '40', '31', '29', '30', '38', '33', '46', '34', '36', '55', '60', '53', '37', '52', '42', '43', '58', '47', '48', '11', '2', '5', '15', '41', '49']
---------------------------------------------------------------------------
NULSCM ['-']
---------------------------------------------------------------------------
DNB ['ВЫМЯ', '-', 'МЕЛКАЯ', 'ВОСПР', 'НОГИ', 'ГИНЕКОЛ', 'НОГИПУТЫ', 'НАДОЙ', 'АТП', 'АБЦЕС', 'БРАК', 'СУСТАВ', 'ЗООТЕХ', 'ABC', 'МАСТИТ', 'ПНЕВМО', 'ЗДОРОВЬЕ']
---------------------------------------------------------------------------
BRED ['1H15132', '1H15184', '501H14018', '1H15689', '1H15461', '501H15515', '7H14578', '501H15681', '614H15481', '507H15248', '1H15879', 'ANSVER', 'FEIM']
---------------------------------------------------------------------------
FRESH ['-']
---------------------------------------------------------------------------
PREG ['33 ДНИ', '95 ДНИ', '94 ДНИ', '31 ДНИ', '32 ДНИ', '96 ДНИ', '30 ДНИ', '80 ДНИ', '117 ДНИ', '83 ДНИ', '82 ДНИ', '81 ДНИ', '92 ДНИ', '101 ДНИ', '38 ДНИ', '36 ДНИ', '37 ДНИ', '34 ДНИ', '213 ДНИ', '86 ДНИ', '84 ДНИ', '214 ДНИ', '66 ДНИ', '35 ДНИ', '215 ДНИ', '220 ДНИ', '93 ДНИ', '59 ДНИ', '165 ДНИ', '164 ДНИ', '169 ДНИ', '180 ДНИ', '167 ДНИ', '175 ДНИ', '181 ДНИ', '168 ДНИ', '166 ДНИ', '189 ДНИ', '163 ДНИ', '160 ДНИ', '161 ДНИ', '178 ДНИ', '185 ДНИ', '179 ДНИ', '193 ДНИ', '191 ДНИ', '87 ДНИ', '192 ДНИ', '97 ДНИ', '171 ДНИ', '188 ДНИ', '190 ДНИ', '183 ДНИ', '177 ДНИ', '150 ДНИ', '195 ДНИ', '187 ДНИ', '184 ДНИ', '162 ДНИ', '194 ДНИ', '170 ДНИ', '173 ДНИ', '90 ДНИ', '106 ДНИ', '127 ДНИ', '176 ДНИ', '172 ДНИ', '89 ДНИ', '88 ДНИ', '104 ДНИ', '98 ДНИ', '120 ДНИ', '91 ДНИ', '103 ДНИ', '100 ДНИ', '99 ДНИ', '102 ДНИ', '109 ДНИ', '85 ДНИ', '107 ДНИ', '122 ДНИ', '39 ДНИ', '52 ДНИ', '221 ДНИ']
---------------------------------------------------------------------------
PREGBEF []
---------------------------------------------------------------------------
DRY ['-', 'CEBA']
---------------------------------------------------------------------------
DRY2 ['-']
---------------------------------------------------------------------------
OPEN ['ЖТ', 'БЖТ', 'ЛК', '-', 'ФК', 'БЕЗ ЖТ', 'БРАК', 'ЖТ,ТОЩАЯ', 'АБС', 'ВОСПР', 'БПАК']
---------------------------------------------------------------------------
VAC ['КОГЛАВАК', 'ЛЕПТО', 'ЛТФ', 'СКОУ']
---------------------------------------------------------------------------
VACVIR ['ВИСТА']
---------------------------------------------------------------------------
FOOTRIM ['РДК', 'КАН']
---------------------------------------------------------------------------
HEALTH ['ХРОМОТА', 'ПРОЧИЕ', 'МАСТИТ', 'ГИНЕКОЛ', 'ПРОЧЕЕ', 'МОЛОДНЯК', 'МАСТИТ,', '910092']
---------------------------------------------------------------------------
BROKE []
---------------------------------------------------------------------------
POT ['ПРОФ2']
---------------------------------------------------------------------------
ILLMISC ['АБС1', 'СУСТАВ', 'ТОЩ', 'ГАСТРО3', 'ГАСТРО2', 'ПНЕВМО1', 'ПУТЫ', 'РОТА', 'ГАСТРО4', 'ТУГОДОЙ', 'РАНА', 'ГАСТРО1', 'УШИБ', 'РИН2', 'ТОЩ2', 'КОЛИ', 'БУР1_?', 'ПОНОС2', 'БУР1_', 'РИН', 'ПНЕВМО2']
---------------------------------------------------------------------------
LAME ['H1_3', 'H2_3', 'HP2_34', 'H2_34', 'V3_3', 'HP2_4', 'M1_34', 'V3_4', 'V2_4', 'HP2_3', 'V1_3', 'H1_34', 'HP1_34', 'HP2_2', 'N1_3', 'N3_3', 'АТ', 'N2_2', 'H2_4', 'V1_4', 'H1_4', 'M1_4', 'H1_3,4', 'H2_3,4', 'N2_3,4', 'HP2_3,4', 'M1_3', 'H1_2', 'HP1_2', 'N1_3,4']
---------------------------------------------------------------------------
KETOS ['КЕТОЗ1', 'КЕТОЗ2']
---------------------------------------------------------------------------
MAST ['КМ3_3', 'КМ1_234', 'ТМ3_4', 'КМ1_34', 'КМ3_4', 'КМ6_4', 'КМ3_1', 'КМ1_4', 'ТМ9_1', 'КМ3_13', 'ТМ9_3', 'КМ3_23', 'ТМ5_4', 'КМ1_23', 'КМ1_3', 'КМ6_1', 'ТМ5_3', 'КМ5_3', 'КМ6_3', 'КМ1_12', 'КМ1_123', 'КМ6_2,3', 'КМ1_1', 'КМ3_2', 'КМ1_1,4', 'ТМ1_3', 'КМ1_1,3', 'КМ1_2,3', 'КМ1_1_4', 'КМ5_2,3', 'КМ1_1,2', 'КМ5_4', 'КМ1_2', 'ТМ2_1', 'СКМ6_1_4', 'КМ1_3,4', 'ТМ2_4', 'ТМ1_4', 'КМ6_1,4', 'КМ2_2', 'МВ', 'КМ1_134', 'КМ3_1,4', 'СКМ6_2', 'КМ6_2', 'СКМ6_1,4', 'ТМ2_2', 'КМ2_1,2', 'КМ3_124', 'СКМ6_1,3', 'КМ5_3,4', 'ТМ2_3,4', 'КМ3_2,4', 'КМ6_1_4', 'КМ4_1,4', 'ТМ3_2', 'ТМ5_1', 'КМ3_1,2', 'КМ6_34']
---------------------------------------------------------------------------
METR ['Э3', 'Э1']
---------------------------------------------------------------------------
PARES ['ПАРЕЗ']
---------------------------------------------------------------------------
RP ['ПОСЛЕД', 'ПОСЛЕД2']
---------------------------------------------------------------------------
WEIGHT ['39', '37', '36', '40', '38', '35', '41', '31', '27', '29', '87', '79', '89', '92', '105', '86', '78', '98', '81', '84', '95', '71', '25', '26', '44', '42', '34', '43', '47', '30', '88', '109', '76', '97', '50', '33', '356', '335', '398', '330', '360', '373', '348', '355', '342', '435', '434', '349', '408', '326', '367', '445', '430', '443', '429', '318', '386', '418', '426', '394', '428', '402', '446', '411', '396', '279', '380', '374', '352', '407', '363', '440', '413', '405', '365', '385', '420', '354', '427', '382', '364', '400', '384', '401', '381', '425', '333', '390', '441', '433', '324', '378', '399', '350', '415', '368', '370', '344', '392', '416', '460', '345', '377', '358', '383', '375', '340', '409', '362', '316', '329', '406', '307', '313', '372', '379', '351', '327', '320', '410', '317', '395', '371', '314', '447', '353', '347', '310', '338', '397', '325', '225', '209', '204', '195', '253', '174', '197', '170', '200', '243', '231', '220', '216', '218', '241', '245', '234', '207', '222', '180', '237', '236', '223', '210', '211', '230', '198', '206', '242', '256', '202', '240', '208', '232', '196', '190', '183', '229', '224', '244', '233', '219', '212', '192', '165', '176', '214', '235', '156', '184', '188', '215', '178', '194', '140', '250', '186', '185', '182', '175', '228', '100', '103', '68', '74', '28', '3', '32', '2']
---------------------------------------------------------------------------
DEAD ['ПАЛА ; Болезни ЖКТ ; УВЗ3', 'ПАЛА ; Прочее ; УВЗ8', 'ПАЛА ; Травмы ; УВЗ5', 'ПАЛА ; Репродукция ; УВЗ6']
---------------------------------------------------------------------------
MOVE ['F008T009', 'F008T003', 'F006T005', 'F006T007', 'F009T001', 'F044T021', 'F021T002', 'F002T001', 'F024T030', 'F004T003', 'F004T010', 'F005T001', 'F017T045', 'F009T042', 'F007T005', 'F005T008', 'F009T010', 'F010T009', 'F009T008', 'F002T043', 'F010T003', 'F001T042', 'F007T006', 'F005T006', 'F021T044', 'F002T044', 'F003T043', 'F008T042', 'F010T042', 'F001T012', 'F007T003', 'F005T003', 'F006T003', 'F012T003', 'F016T038', 'F021T043', 'F018T045', 'F005T042', 'F005T012', 'F009T012', 'F008T005', 'F011T045', 'F015T035', 'F007T012', 'F006T012', 'F004T012', 'F008T012', 'F009T007', 'F043T003', 'F023T010', 'F031T040', 'F029T040', 'F010T007', 'F044T002', 'F004T007', 'F023T001', 'F023T009', 'F005T007', 'F009T003', 'F033T046', 'F041T012', 'F042T001', 'F004T042', 'F042T010', 'F005T043', 'F012T009', 'F002T023', 'F030T046', 'F024T040', 'F029T046', 'F041T007', 'F007T041', 'F002T003', 'F044T042', 'F010T004', 'F021T023', 'F010T012', 'F010T001', 'F001T002', 'F012T005', 'F023T004', 'F046T040', 'F012T041', 'F007T021', 'F009T006', 'F010T005', 'F008T006', 'F010T006', 'F001T043', 'F008T001', 'F009T043', 'F009T005', 'F021T003', 'F011T018', 'F028T011', 'F031T011', 'F011T046', 'F011T040', 'F033T040', 'F028T030', 'F030T028', 'F031T046', 'F030T031', 'F031T030', 'F024T028', 'F034T029', 'F030T024', 'F024T029', 'F029T024', 'F024T031', 'F029T030', 'F040T046', 'F036T029', 'F036T034', 'F038T036', 'F036T038', 'F031T038', 'F035T037', 'F004T023', 'F023T044', 'F004T006', 'F010T023', 'F017T018', 'F012T004', 'F003T004', 'F006T042', 'F002T042', 'F021T042', 'F003T012', 'F005T004', 'F006T001', 'F012T001', 'F004T005', 'F021T004', 'F044T041', 'F044T003', 'F021T005', 'F007T042']
---------------------------------------------------------------------------
SOLD ['ПРОДАНА ; Прочее ; УВЗ7', 'ПРОДАНА ; Травмы ; УВЗ5', 'ПРОДАНА ; Болезни ЖКТ ; УВЗ3', 'ПРОДАНА ; Пневмония ; УВЗ1', 'ПРОДАНА ; Послеродовое ; УВЗ2', 'ПРОДАНА ; Прочее ; УВЗ8', 'ПРОДАНА ; Прочее ; УВЗ4', 'ПРОДАНА ; Агалактия ; УВЗ9', 'ПРОДАНА ; Копыта ; УВЗ4', 'ПРОДАНА ; Прочее ; УВЗ5', 'ПРОДАНА ; Причина 12 ; УВЗ12', 'ПРОДАНА ; Болезни печени ; УВЗ11', 'ПРОДАНА ; МясоКомбинат ; УВЗ13', 'ПРОДАНА ; Бычки ; УВЗ10', 'ПРОДАНА ; Прочее ; УВЗ3', 'ПРОДАНА ; Мастит ; УВЗ7', 'ПРОДАНА ; Прочее ; УВЗ2']
---------------------------------------------------------------------------

Некоторые замечания:
1. В примечаниях к событиям категории OPEN встречается 'БПАК' что судя по всему является опечаткой от 'БРАК'
2. В примечаниях к событиям категории OPEN встречается 'БЖТ' и 'БЕЗ ЖТ' и вероятно это одно и тоже
3. В примечаниях к событиям категории SOLD причина продажи и код причины продажи не находятся во взаимнооднозначном соответствии
4. Примечания к событиям LAME и MAST не единобразны
5. В примечании к событии ILLMISC есть протокол БУР1_?

**Что делаем:**

Фиксим пункты 1 и 2, в примечаниях к событиям SOLD и DEAD оставляем только причину продажи/смерти (без кода). 

Примечания к событиям MAST и LAME приводим к виду {Код протокола}_{пораженные соски/ноги}

In [8]:
df['remark'] = df.apply(lambda row: 'БРАК' if (row.event == EventType.OPEN and row.remark == 'БПАК') else row.remark, axis=1)
df['remark'] = df.apply(lambda row: 'БЕЗ ЖТ' if  (row.event == EventType.OPEN and row.remark == 'БЖТ') else row.remark, axis=1)
df['remark'] = df.apply(lambda row: row.remark.split(';')[1].strip().rstrip() if row.event == EventType.SOLD else row.remark, axis=1)
df['remark'] = df.apply(lambda row: row.remark.split(';')[1].strip().rstrip() if row.event == EventType.DEAD else row.remark, axis=1)


def get_protocol_id(s):
    return s[0:s.find('_'):]

def get_protocol_num(s):
    m = []
    t = s[s.find('_') + 1::]
    for i in range(len(t)):
        if t[i] == '_':
            for j in range(int(t[i - 1])+1, int(t[i + 1])):
                m.append(j)
        elif t[i].isdigit():
            m.append(int(t[i]))
    return m

df['remark'] = df.apply(lambda row: get_protocol_id(row.remark) + '_' + ''.join(list(map(str, get_protocol_num(row.remark)))) if (row.event == EventType.LAME or row.event == EventType.MAST) else row.remark, axis=1)

#### Механика парсинга:
К каждому событию составляется набор правил:

Правило это функция + регулярное выражение. Если примечание удовлетворяет регулярке, то его содержимое отправляется в функцию, а выход функции записывается в каунтер {ИМЯ СОБЫТИЯ}_{НОМЕР ПРАВИЛА}

In [10]:
class EventParsingRule:
    def __init__(self, pattern, parser):
        self.raw = pattern
        self.parse = parser
        self.pattern = re.compile(pattern)
    
        
RuleBin  = EventParsingRule('.*', lambda x: 1)
RuleNum  = EventParsingRule('[0-9]*', lambda x: int(x)) 
RuleDays = EventParsingRule('[0-9]* ДНИ', lambda x: int(x[0:-4]))

def satisfy(s, rules):
    for rule in rules:
        if rule.pattern.match(s):
            return True
    return False

def generate_unique_rules(event):
    global df
    patterns = df[df['event'] == event]['remark'].unique().tolist()
    rules = []
    for p in patterns:
        rules.append(EventParsingRule(p, lambda x: 1))
    
    return rules

def generate_combined_rules(specific_rules, event):
    global df
    rules = specific_rules.copy()
    patterns = df[df['event'] == event].loc[df['remark'].apply(lambda s: satisfy(s, specific_rules)) == False]['remark'].unique().tolist()
    for p in patterns:
        rules.append(EventParsingRule(p, lambda x: 1))
    
    return rules


def generate_protocol_rules(event):
    global df
    protocols = set(map(get_protocol_id, df[df['event'] == event]['remark'].unique().tolist()))
    rules = []
    for p in protocols:
        for i in range(1, 5):
            rules.append(EventParsingRule(p + '_' + f'(([0-9]+{i})|{i})[0-9]*', lambda x: 1))
    return rules

EventRules = {
    EventType.OTHER   : [RuleBin],
    EventType.ABORT   : generate_combined_rules([RuleDays], EventType.ABORT),
    EventType.TOSCM   : generate_unique_rules(EventType.TOSCM), 
    EventType.NULSCM  : [RuleBin],
    EventType.DNB     : generate_unique_rules(EventType.DNB), 
    EventType.BRED    : generate_unique_rules(EventType.BRED), 
    EventType.FRESH   : [RuleBin],  
    EventType.PREG    : [RuleDays], 
    EventType.PREGBEF : [RuleDays],
    EventType.DRY     : generate_unique_rules(EventType.DRY), 
    EventType.DRY2    : [RuleBin],
    EventType.OPEN    : generate_unique_rules(EventType.OPEN),
    #-------
    EventType.WEIGHT  : [RuleNum],
    EventType.DEAD    : generate_unique_rules(EventType.DEAD),
    EventType.MOVE    : [RuleBin],
    EventType.SOLD    : generate_unique_rules(EventType.SOLD),
    #-------
    EventType.VAC     : generate_unique_rules(EventType.VAC),
    EventType.VACVIR  : generate_unique_rules(EventType.VACVIR),
    EventType.FOOTRIM : generate_unique_rules(EventType.FOOTRIM), # Может быть тут Bin поставить?
    EventType.HEALTH  : [RuleBin],
    EventType.BROKE   : generate_unique_rules(EventType.BROKE),
    EventType.POT     : generate_unique_rules(EventType.POT),
    EventType.ILLMISC : generate_unique_rules(EventType.ILLMISC),
    EventType.LAME    : generate_protocol_rules(EventType.LAME),
    EventType.KETOS   : generate_unique_rules(EventType.KETOS),
    EventType.MAST    : generate_protocol_rules(EventType.MAST),
    EventType.METR    : generate_unique_rules(EventType.METR),
    EventType.PARES   : generate_unique_rules(EventType.PARES),
    EventType.RP      : generate_unique_rules(EventType.RP),
}

#Get All Rules:
print("Правила парсинга:")
for event in EventType:
    print(str(event)+':')
    for number in range(len(EventRules[event])):
        print(str(event)+'_'+str(number) + ' :', EventRules[event][number].raw)
    print('------')

def ParseRemark(event, remark):
    global EventRules
    for rule in EventRules[event]:
        if rule.pattern.match(remark):
            return (rule.parse(remark))
    return 0

for event in EventType:
    df[str(event)] =  df.apply(lambda row: 1 if row.event == event else 0, axis=1)
    for number in range(len(EventRules[event])):
        df[str(event)+'_'+str(number)] = df.apply(lambda row: ParseRemark(event, row.remark) if row.event == event else 0, axis=1)

Правила парсинга:
OTHER:
OTHER_0 : .*
------
ABORT:
ABORT_0 : [0-9]* ДНИ
ABORT_1 : БЕЗ ЖТ
ABORT_2 : ЖТ
ABORT_3 : ЛК
ABORT_4 : 7/25/2022
ABORT_5 : БРАК
------
TOSCM:
TOSCM_0 : 9
TOSCM_1 : 13
TOSCM_2 : 40
TOSCM_3 : 31
TOSCM_4 : 29
TOSCM_5 : 30
TOSCM_6 : 38
TOSCM_7 : 33
TOSCM_8 : 46
TOSCM_9 : 34
TOSCM_10 : 36
TOSCM_11 : 55
TOSCM_12 : 60
TOSCM_13 : 53
TOSCM_14 : 37
TOSCM_15 : 52
TOSCM_16 : 42
TOSCM_17 : 43
TOSCM_18 : 58
TOSCM_19 : 47
TOSCM_20 : 48
TOSCM_21 : 11
TOSCM_22 : 2
TOSCM_23 : 5
TOSCM_24 : 15
TOSCM_25 : 41
TOSCM_26 : 49
------
NULSCM:
NULSCM_0 : .*
------
DNB:
DNB_0 : ВЫМЯ
DNB_1 : -
DNB_2 : МЕЛКАЯ
DNB_3 : ВОСПР
DNB_4 : НОГИ
DNB_5 : ГИНЕКОЛ
DNB_6 : НОГИПУТЫ
DNB_7 : НАДОЙ
DNB_8 : АТП
DNB_9 : АБЦЕС
DNB_10 : БРАК
DNB_11 : СУСТАВ
DNB_12 : ЗООТЕХ
DNB_13 : ABC
DNB_14 : МАСТИТ
DNB_15 : ПНЕВМО
DNB_16 : ЗДОРОВЬЕ
------
BRED:
BRED_0 : 1H15132
BRED_1 : 1H15184
BRED_2 : 501H14018
BRED_3 : 1H15689
BRED_4 : 1H15461
BRED_5 : 501H15515
BRED_6 : 7H14578
BRED_7 : 501H15681
BRED_8 : 614H15481
BRED_9 : 507H15248
BRED_10 : 1H15879
BRED_11 : ANSVER
BRED_12 : FEIM
------
FRESH:
FRESH_0 : .*
------
PREG:
PREG_0 : [0-9]* ДНИ
------
PREGBEF:
PREGBEF_0 : [0-9]* ДНИ
------
DRY:
DRY_0 : -
DRY_1 : CEBA
------
DRY2:
DRY2_0 : .*
------
OPEN:
OPEN_0 : ЖТ
OPEN_1 : БЕЗ ЖТ
OPEN_2 : ЛК
OPEN_3 : -
OPEN_4 : ФК
OPEN_5 : БРАК
OPEN_6 : ЖТ,ТОЩАЯ
OPEN_7 : АБС
OPEN_8 : ВОСПР
------
VAC:
VAC_0 : КОГЛАВАК
VAC_1 : ЛЕПТО
VAC_2 : ЛТФ
VAC_3 : СКОУ
------
VACVIR:
VACVIR_0 : ВИСТА
------
FOOTRIM:
FOOTRIM_0 : РДК
FOOTRIM_1 : КАН
------
HEALTH:
HEALTH_0 : .*
------
BROKE:
------
POT:
POT_0 : ПРОФ2
------
ILLMISC:
ILLMISC_0 : АБС1
ILLMISC_1 : СУСТАВ
ILLMISC_2 : ТОЩ
ILLMISC_3 : ГАСТРО3
ILLMISC_4 : ГАСТРО2
ILLMISC_5 : ПНЕВМО1
ILLMISC_6 : ПУТЫ
ILLMISC_7 : РОТА
ILLMISC_8 : ГАСТРО4
ILLMISC_9 : ТУГОДОЙ
ILLMISC_10 : РАНА
ILLMISC_11 : ГАСТРО1
ILLMISC_12 : УШИБ
ILLMISC_13 : РИН2
ILLMISC_14 : ТОЩ2
ILLMISC_15 : КОЛИ
ILLMISC_16 : БУР1_?
ILLMISC_17 : ПОНОС2
ILLMISC_18 : БУР1_
ILLMISC_19 : РИН
ILLMISC_20 : ПНЕВМО2
------
LAME:
LAME_0 : V2_(([0-9]+1)|1)[0-9]*
LAME_1 : V2_(([0-9]+2)|2)[0-9]*
LAME_2 : V2_(([0-9]+3)|3)[0-9]*
LAME_3 : V2_(([0-9]+4)|4)[0-9]*
LAME_4 : V1_(([0-9]+1)|1)[0-9]*
LAME_5 : V1_(([0-9]+2)|2)[0-9]*
LAME_6 : V1_(([0-9]+3)|3)[0-9]*
LAME_7 : V1_(([0-9]+4)|4)[0-9]*
LAME_8 : HP1_(([0-9]+1)|1)[0-9]*
LAME_9 : HP1_(([0-9]+2)|2)[0-9]*
LAME_10 : HP1_(([0-9]+3)|3)[0-9]*
LAME_11 : HP1_(([0-9]+4)|4)[0-9]*
LAME_12 : H2_(([0-9]+1)|1)[0-9]*
LAME_13 : H2_(([0-9]+2)|2)[0-9]*
LAME_14 : H2_(([0-9]+3)|3)[0-9]*
LAME_15 : H2_(([0-9]+4)|4)[0-9]*
LAME_16 : А_(([0-9]+1)|1)[0-9]*
LAME_17 : А_(([0-9]+2)|2)[0-9]*
LAME_18 : А_(([0-9]+3)|3)[0-9]*
LAME_19 : А_(([0-9]+4)|4)[0-9]*
LAME_20 : N2_(([0-9]+1)|1)[0-9]*
LAME_21 : N2_(([0-9]+2)|2)[0-9]*
LAME_22 : N2_(([0-9]+3)|3)[0-9]*
LAME_23 : N2_(([0-9]+4)|4)[0-9]*
LAME_24 : V3_(([0-9]+1)|1)[0-9]*
LAME_25 : V3_(([0-9]+2)|2)[0-9]*
LAME_26 : V3_(([0-9]+3)|3)[0-9]*
LAME_27 : V3_(([0-9]+4)|4)[0-9]*
LAME_28 : N1_(([0-9]+1)|1)[0-9]*
LAME_29 : N1_(([0-9]+2)|2)[0-9]*
LAME_30 : N1_(([0-9]+3)|3)[0-9]*
LAME_31 : N1_(([0-9]+4)|4)[0-9]*
LAME_32 : M1_(([0-9]+1)|1)[0-9]*
LAME_33 : M1_(([0-9]+2)|2)[0-9]*
LAME_34 : M1_(([0-9]+3)|3)[0-9]*
LAME_35 : M1_(([0-9]+4)|4)[0-9]*
LAME_36 : HP2_(([0-9]+1)|1)[0-9]*
LAME_37 : HP2_(([0-9]+2)|2)[0-9]*
LAME_38 : HP2_(([0-9]+3)|3)[0-9]*
LAME_39 : HP2_(([0-9]+4)|4)[0-9]*
LAME_40 : H1_(([0-9]+1)|1)[0-9]*
LAME_41 : H1_(([0-9]+2)|2)[0-9]*
LAME_42 : H1_(([0-9]+3)|3)[0-9]*
LAME_43 : H1_(([0-9]+4)|4)[0-9]*
LAME_44 : N3_(([0-9]+1)|1)[0-9]*
LAME_45 : N3_(([0-9]+2)|2)[0-9]*
LAME_46 : N3_(([0-9]+3)|3)[0-9]*
LAME_47 : N3_(([0-9]+4)|4)[0-9]*
------
KETOS:
KETOS_0 : КЕТОЗ1
KETOS_1 : КЕТОЗ2
------
MAST:
MAST_0 : КМ6_(([0-9]+1)|1)[0-9]*
MAST_1 : КМ6_(([0-9]+2)|2)[0-9]*
MAST_2 : КМ6_(([0-9]+3)|3)[0-9]*
MAST_3 : КМ6_(([0-9]+4)|4)[0-9]*
MAST_4 : КМ4_(([0-9]+1)|1)[0-9]*
MAST_5 : КМ4_(([0-9]+2)|2)[0-9]*
MAST_6 : КМ4_(([0-9]+3)|3)[0-9]*
MAST_7 : КМ4_(([0-9]+4)|4)[0-9]*
MAST_8 : ТМ9_(([0-9]+1)|1)[0-9]*
MAST_9 : ТМ9_(([0-9]+2)|2)[0-9]*
MAST_10 : ТМ9_(([0-9]+3)|3)[0-9]*
MAST_11 : ТМ9_(([0-9]+4)|4)[0-9]*
MAST_12 : КМ1_(([0-9]+1)|1)[0-9]*
MAST_13 : КМ1_(([0-9]+2)|2)[0-9]*
MAST_14 : КМ1_(([0-9]+3)|3)[0-9]*
MAST_15 : КМ1_(([0-9]+4)|4)[0-9]*
MAST_16 : ТМ2_(([0-9]+1)|1)[0-9]*
MAST_17 : ТМ2_(([0-9]+2)|2)[0-9]*
MAST_18 : ТМ2_(([0-9]+3)|3)[0-9]*
MAST_19 : ТМ2_(([0-9]+4)|4)[0-9]*
MAST_20 : ТМ1_(([0-9]+1)|1)[0-9]*
MAST_21 : ТМ1_(([0-9]+2)|2)[0-9]*
MAST_22 : ТМ1_(([0-9]+3)|3)[0-9]*
MAST_23 : ТМ1_(([0-9]+4)|4)[0-9]*
MAST_24 : КМ3_(([0-9]+1)|1)[0-9]*
MAST_25 : КМ3_(([0-9]+2)|2)[0-9]*
MAST_26 : КМ3_(([0-9]+3)|3)[0-9]*
MAST_27 : КМ3_(([0-9]+4)|4)[0-9]*
MAST_28 : СКМ6_(([0-9]+1)|1)[0-9]*
MAST_29 : СКМ6_(([0-9]+2)|2)[0-9]*
MAST_30 : СКМ6_(([0-9]+3)|3)[0-9]*
MAST_31 : СКМ6_(([0-9]+4)|4)[0-9]*
MAST_32 : ТМ3_(([0-9]+1)|1)[0-9]*
MAST_33 : ТМ3_(([0-9]+2)|2)[0-9]*
MAST_34 : ТМ3_(([0-9]+3)|3)[0-9]*
MAST_35 : ТМ3_(([0-9]+4)|4)[0-9]*
MAST_36 : КМ2_(([0-9]+1)|1)[0-9]*
MAST_37 : КМ2_(([0-9]+2)|2)[0-9]*
MAST_38 : КМ2_(([0-9]+3)|3)[0-9]*
MAST_39 : КМ2_(([0-9]+4)|4)[0-9]*
MAST_40 : ТМ5_(([0-9]+1)|1)[0-9]*
MAST_41 : ТМ5_(([0-9]+2)|2)[0-9]*
MAST_42 : ТМ5_(([0-9]+3)|3)[0-9]*
MAST_43 : ТМ5_(([0-9]+4)|4)[0-9]*
MAST_44 : М_(([0-9]+1)|1)[0-9]*
MAST_45 : М_(([0-9]+2)|2)[0-9]*
MAST_46 : М_(([0-9]+3)|3)[0-9]*
MAST_47 : М_(([0-9]+4)|4)[0-9]*
MAST_48 : КМ5_(([0-9]+1)|1)[0-9]*
MAST_49 : КМ5_(([0-9]+2)|2)[0-9]*
MAST_50 : КМ5_(([0-9]+3)|3)[0-9]*
MAST_51 : КМ5_(([0-9]+4)|4)[0-9]*
------
METR:
METR_0 : Э3
METR_1 : Э1
------
PARES:
PARES_0 : ПАРЕЗ
------
RP:
RP_0 : ПОСЛЕД
RP_1 : ПОСЛЕД2
------
WEIGHT:
WEIGHT_0 : [0-9]*
------
DEAD:
DEAD_0 : Болезни ЖКТ
DEAD_1 : Прочее
DEAD_2 : Травмы
DEAD_3 : Репродукция
------
MOVE:
MOVE_0 : .*
------
SOLD:
SOLD_0 : Прочее
SOLD_1 : Травмы
SOLD_2 : Болезни ЖКТ
SOLD_3 : Пневмония
SOLD_4 : Послеродовое
SOLD_5 : Агалактия
SOLD_6 : Копыта
SOLD_7 : Причина 12
SOLD_8 : Болезни печени
SOLD_9 : МясоКомбинат
SOLD_10 : Бычки
SOLD_11 : Мастит
------

Посмотрим что получилось:

In [141]:
df.head(5)

,id,sex,cycle,childs,childbirth,deadwood_days,pregancy_days,group_id,group_past,event,...,SOLD_2,SOLD_3,SOLD_4,SOLD_5,SOLD_6,SOLD_7,SOLD_8,SOLD_9,SOLD_10,SOLD_11
0,1064,1,1,FA,1,0,0,9,9,105,...,0,0,0,0,0,0,0,0,0,0
1,1064,1,1,FA,1,0,0,9,9,102,...,0,0,0,0,0,0,0,0,0,0
2,1185,1,1,FA,1,0,49,9,43,105,...,0,0,0,0,0,0,0,0,0,0
3,1185,1,1,FA,1,0,49,9,43,102,...,0,0,0,0,0,0,0,0,0,0
4,1260,1,1,FA,1,0,49,5,5,102,...,0,0,0,0,0,0,0,0,0,0

## Учёт истории и переводы
Теперь мы переходим к обработке контексто-зависимых забытий. Для этого надо иметь понимаение какое событие произошло ДО текущего события и ПОСЛЕ текущего события.

Как понять очередность событий, если они происходят в один день? Для начала надо посмотреть на примеры такого.

In [161]:
sf = df.groupby(['id', 'date']).count()
sf[sf['event'] > 3]

,,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,remark
id,date,,,,,,,,,,,,
4146,7/3/2022,4,4,4,4,4,4,4,4,4,4,4,4
4245,7/29/2022,4,4,4,4,4,4,4,4,4,4,4,4
6214,7/1/2022,4,4,4,4,4,4,4,4,4,4,4,4
8036,7/29/2022,4,4,4,4,4,4,4,4,4,4,4,4
11293,7/20/2022,4,4,0,4,4,4,4,4,4,4,4,4
12171,7/20/2022,4,4,0,4,4,4,4,4,4,4,4,4
20398,7/21/2022,4,4,0,4,4,4,4,4,4,4,4,4
20855,7/12/2022,4,4,0,4,4,4,4,4,4,4,4,4
803063,7/8/2022,4,4,4,4,4,4,4,4,4,4,4,4
803155,7/25/2022,4,4,4,4,4,4,4,4,4,4,4,4
809017,7/25/2022,4,4,4,4,4,4,4,4,4,4,4,4
812117,7/5/2022,4,4,4,4,4,4,4,4,4,4,4,4
900527,7/18/2022,5,5,5,5,5,5,5,5,5,5,5,5
904014,7/15/2022,4,4,4,4,4,4,4,4,4,4,4,4
904040,7/19/2022,5,5,5,5,5,5,5,5,5,5,5,5
912010,7/12/2022,4,4,4,4,4,4,4,4,4,4,4,4

Иногда (но очень редко), с коровой происходит несколько событий в один день. Как правило эти события отделены переводом, а между переводами порядок не важен.

Кстати параметр "Предыдущая группа животного" указывает на группу в предыдущем событии! Сортировка событий в течении дня происходит так:
1. Разбить события на на группы (каждая группа отвечает что делали с животным когда оно было в соотвествующей группе)
2. Упорядочить группы в соответсвии с информацией о перводах
3. Упорядочить события внутри группы по порядку из Enuma

### События перемещения:
Надо проверить, что события перемещения отображают корректную информацию

In [111]:
df['incorrect_move'] = df.apply(lambda row: 1 if row.event == EventType.MOVE and int(row.remark[1:4]) != row.group_id else 0, axis=1)
df[df['incorrect_move'] == 1].head()

Empty DataFrame
Columns: [id, sid, sex, cycle, childs, childbirth, dob, deadwood_days, pregancy_days, group_id, group_past, event, milking_days, date, remark, incorrect_move]
Index: []

### Сортировка событий:

**TODO**:
Написано максимально криво надо подправить. К тому же есть вопросы к эффективности

In [9]:
print(df[df['event'] == EventType.FRESH]['group_id'].unique().tolist())

cond = ((df['event'] == EventType.FRESH) & (df['group_id'] == 18))
df[cond].head(10)

[18, 17, 45, 33, 40]

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark,event_index
126,8136,8136,F,1,FA,1,8/17/2020,0,0,18,8,106,0,7/1/2022,-,127
353,612062,612062,F,4,MA,1,12/12/2016,63,0,18,21,106,0,7/1/2022,-,354
432,811180,811180,F,3,MA,1,11/24/2018,57,0,18,10,106,0,7/1/2022,-,433
475,907168,907168,F,2,FA,1,7/24/2019,64,0,18,4,106,0,7/1/2022,-,476
480,907225,907225,F,2,FA,1,7/30/2019,71,0,18,10,106,0,7/1/2022,-,481
487,908049,908049,F,2,MA,1,8/9/2019,49,0,18,43,106,0,7/1/2022,-,488
502,909158,909158,F,2,FA,1,9/21/2019,57,0,18,10,106,0,7/1/2022,-,503
512,910131,910131,F,2,FA,1,10/19/2019,57,0,18,10,106,0,7/1/2022,-,513
514,910171,910171,F,2,FA,1,10/26/2019,64,0,18,10,106,0,7/1/2022,-,515
604,807075,807075,F,3,FA,1,7/14/2018,58,0,18,2,106,0,7/2/2022,-,605

In [12]:
import itertools
def path_sort(edge_list):
    m = len(edge_list)
    if m == 1:
        return edge_list
    
    for sigma in itertools.permutations(list(range(m))):
        bad=False
        for i in range(1, m):
            if edge_list[sigma[i]][1] != edge_list[sigma[i-1]][0]:
                bad=True
                break
        if not bad:
            edge_list_fixed = [edge_list[sigma[i]] for i in range(1, m)]
            return edge_list_fixed
    return edge_list


def get_day_ordering(r):
    
    cow_id   = r.id
    ev_date  = r.date 
    ev_index = r.event_index
    
    global df
    today = df[(df['id'] == cow_id) & (df['date'] == ev_date)].copy()
    
    moves = today[today['event'] == EventType.MOVE]
    if moves.shape[0] == 0:
        today.sort_values(by=['event'])
        today['ord'] = list(range(1, today.shape[0] + 1, 1))
        return (today[today['event_index'] == ev_index]['ord'].iloc[0])
   
    moves['to']   = moves['remark'].apply(lambda x: int(x[5::]))
    moves['from'] = moves['remark'].apply(lambda x: int(x[1:4:]))
    
    edge_list  = path_sort(moves.apply(lambda row: (row['from'], row['to']), axis=1).tolist())
    path = [edge[0] for edge in edge_list]
    path.append(edge_list[-1][1])
    
    try:
        today['group_ord'] = today['group_id'].apply(lambda x: path.index(x))
        today.sort_values(by=['group_ord', 'event'])
    except:
        #print('------------------')
        #print(edge_list)
        #print(row)
        #print('------------------')
        today.sort_values(by=['event'])
        
    today['ord'] = list(range(1, today.shape[0] + 1, 1))
    
    return (today[today['event_index'] == ev_index]['ord'].iloc[0])

In [13]:
df['ord'] = df.apply(lambda row: get_day_ordering(row), axis=1)
df.sort_values(by=['id', 'date', 'ord'])

------------------
[(44, 21)]
id                    8136
sid                   8136
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              8/17/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               8
event                  303
milking_days             0
date              7/1/2022
remark            F044T021
event_index            126
ord                      1
Name: 125, dtype: object
------------------
------------------
[(44, 21)]
id                    8136
sid                   8136
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              8/17/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               8
event                  106
milking_days             0
date              7/1/2022
remark                   -
event_index            127
ord                      2
Name: 126, dtype: object
------------------
------------------
[(44, 21)]
id                 809002
sid                809002
sex                     F
cycle                   3
childs                 FA
childbirth              1
dob              9/1/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             10
event                 303
milking_days            0
date             7/3/2022
remark           F044T021
event_index           784
ord                     1
Name: 783, dtype: object
------------------
------------------
[(44, 21)]
id                 809002
sid                809002
sex                     F
cycle                   3
childs                 FA
childbirth              1
dob              9/1/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             10
event                 213
milking_days            0
date             7/3/2022
remark            ПОСЛЕД2
event_index           785
ord                     2
Name: 784, dtype: object
------------------
------------------
[(44, 21)]
id                 809002
sid                809002
sex                     F
cycle                   3
childs                 FA
childbirth              1
dob              9/1/2018
deadwood_days          59
pregancy_days           0
group_id               18
group_past             10
event                 106
milking_days            0
date             7/3/2022
remark                  -
event_index           786
ord                     3
Name: 785, dtype: object
------------------
------------------
[(44, 21)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               18
group_past             44
event                 106
milking_days            0
date             7/3/2022
remark                  -
event_index           787
ord                     1
Name: 786, dtype: object
------------------
------------------
[(44, 21)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             44
event                 213
milking_days            0
date             7/3/2022
remark            ПОСЛЕД2
event_index           788
ord                     2
Name: 787, dtype: object
------------------
------------------
[(44, 21)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             44
event                 303
milking_days            0
date             7/3/2022
remark           F044T021
event_index           789
ord                     3
Name: 788, dtype: object
------------------
------------------
[(44, 21)]
id                  803181
sid                 803181
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              3/30/2018
deadwood_days           53
pregancy_days            0
group_id                44
group_past              10
event                  303
milking_days             0
date              7/4/2022
remark            F044T021
event_index           1199
ord                      1
Name: 1198, dtype: object
------------------
------------------
[(44, 21)]
id                  803181
sid                 803181
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              3/30/2018
deadwood_days           53
pregancy_days            0
group_id                18
group_past              10
event                  106
milking_days             0
date              7/4/2022
remark                   -
event_index           1200
ord                      2
Name: 1199, dtype: object
------------------
------------------
[(44, 21)]
id                  803181
sid                 803181
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              3/30/2018
deadwood_days           53
pregancy_days            0
group_id                44
group_past              10
event                  211
milking_days             0
date              7/4/2022
remark                  Э1
event_index           1201
ord                      3
Name: 1200, dtype: object
------------------
------------------
[(17, 45)]
id                  912062
sid                 912062
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              12/7/2019
deadwood_days            0
pregancy_days          269
group_id                17
group_past              18
event                  303
milking_days           280
date              7/4/2022
remark            F017T045
event_index           1365
ord                      1
Name: 1364, dtype: object
------------------
------------------
[(17, 45)]
id                  912062
sid                 912062
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              12/7/2019
deadwood_days            0
pregancy_days          269
group_id                 3
group_past              18
event                  109
milking_days           280
date              7/4/2022
remark                   -
event_index           1366
ord                      2
Name: 1365, dtype: object
------------------
------------------
[(44, 21)]
id                    9158
sid                   9158
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               8
event                  106
milking_days             0
date              7/5/2022
remark                   -
event_index           1441
ord                      1
Name: 1440, dtype: object
------------------
------------------
[(44, 21)]
id                    9158
sid                   9158
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               8
event                  303
milking_days             0
date              7/5/2022
remark            F044T021
event_index           1442
ord                      2
Name: 1441, dtype: object
------------------
------------------
[(44, 21)]
id                    9158
sid                   9158
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               8
event                  211
milking_days             0
date              7/5/2022
remark                  Э1
event_index           1443
ord                      3
Name: 1442, dtype: object
------------------

------------------
[(5, 12)]
id                 702036
sid                702036
sex                     F
cycle                   4
childs                 FA
childbirth              1
dob              2/5/2017
deadwood_days          52
pregancy_days         158
group_id                1
group_past             12
event                 207
milking_days          205
date             7/5/2022
remark             СУСТАВ
event_index          1533
ord                     1
Name: 1532, dtype: object
------------------
------------------
[(5, 12)]
id                 702036
sid                702036
sex                     F
cycle                   4
childs                 FA
childbirth              1
dob              2/5/2017
deadwood_days          52
pregancy_days         158
group_id               12
group_past             12
event                 204
milking_days          205
date             7/5/2022
remark            ХРОМОТА
event_index          1534
ord                     2
Name: 1533, dtype: object
------------------
------------------
[(5, 12)]
id                 702036
sid                702036
sex                     F
cycle                   4
childs                 FA
childbirth              1
dob              2/5/2017
deadwood_days          52
pregancy_days         158
group_id                5
group_past             12
event                 303
milking_days          205
date             7/5/2022
remark           F005T012
event_index          1535
ord                     3
Name: 1534, dtype: object
------------------
------------------
[(6, 12)]
id                  709108
sid                 709108
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              9/20/2017
deadwood_days           62
pregancy_days            0
group_id                 6
group_past              12
event                  303
milking_days           266
date              7/5/2022
remark            F006T012
event_index           1552
ord                      1
Name: 1551, dtype: object
------------------
------------------
[(6, 12)]
id                  709108
sid                 709108
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              9/20/2017
deadwood_days           62
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           266
date              7/5/2022
remark             ХРОМОТА
event_index           1553
ord                      2
Name: 1552, dtype: object
------------------
------------------
[(6, 12)]
id                  709108
sid                 709108
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              9/20/2017
deadwood_days           62
pregancy_days            0
group_id                 5
group_past              12
event                  203
milking_days           266
date              7/5/2022
remark                 КАН
event_index           1554
ord                      3
Name: 1553, dtype: object
------------------
------------------
[(18, 45)]
id                   812117
sid                  812117
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              12/17/2018
deadwood_days            57
pregancy_days           280
group_id                 17
group_past               18
event                   201
milking_days            312
date               7/5/2022
remark                 СКОУ
event_index            1621
ord                       1
Name: 1620, dtype: object
------------------
------------------
[(18, 45)]
id                   812117
sid                  812117
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              12/17/2018
deadwood_days            57
pregancy_days           280
group_id                 17
group_past               18
event                   110
milking_days            312
date               7/5/2022
remark                    -
event_index            1622
ord                       2
Name: 1621, dtype: object
------------------
------------------
[(18, 45)]
id                   812117
sid                  812117
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              12/17/2018
deadwood_days            57
pregancy_days           280
group_id                 18
group_past               18
event                   208
milking_days            312
date               7/5/2022
remark                 V3_4
event_index            1623
ord                       3
Name: 1622, dtype: object
------------------
------------------
[(18, 45)]
id                   812117
sid                  812117
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              12/17/2018
deadwood_days            57
pregancy_days           280
group_id                 18
group_past               18
event                   303
milking_days            312
date               7/5/2022
remark             F018T045
event_index            1624
ord                       4
Name: 1623, dtype: object
------------------
------------------
[(6, 12)]
id                  907216
sid                 907216
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              7/29/2019
deadwood_days            0
pregancy_days            0
group_id                 6
group_past              12
event                  303
milking_days           379
date              7/5/2022
remark            F006T012
event_index           1679
ord                      1
Name: 1678, dtype: object
------------------
------------------
[(6, 12)]
id                  907216
sid                 907216
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              7/29/2019
deadwood_days            0
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           379
date              7/5/2022
remark             ХРОМОТА
event_index           1680
ord                      2
Name: 1679, dtype: object
------------------
------------------
[(6, 12)]
id                  907216
sid                 907216
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              7/29/2019
deadwood_days            0
pregancy_days            0
group_id                 5
group_past              12
event                  203
milking_days           379
date              7/5/2022
remark                 КАН
event_index           1681
ord                      3
Name: 1680, dtype: object
------------------
------------------
[(9, 12)]
id                  910027
sid                 910027
sex                      F
cycle                    1
childs                  MA
childbirth               1
dob              10/4/2019
deadwood_days            0
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           295
date              7/5/2022
remark             ХРОМОТА
event_index           1694
ord                      1
Name: 1693, dtype: object
------------------
------------------
[(9, 12)]
id                  910027
sid                 910027
sex                      F
cycle                    1
childs                  MA
childbirth               1
dob              10/4/2019
deadwood_days            0
pregancy_days            0
group_id                 9
group_past              12
event                  303
milking_days           295
date              7/5/2022
remark            F009T012
event_index           1695
ord                      2
Name: 1694, dtype: object
------------------
------------------
[(9, 12)]
id                  910027
sid                 910027
sex                      F
cycle                    1
childs                  MA
childbirth               1
dob              10/4/2019
deadwood_days            0
pregancy_days            0
group_id                 5
group_past              12
event                  203
milking_days           295
date              7/5/2022
remark                 КАН
event_index           1696
ord                      3
Name: 1695, dtype: object
------------------

------------------
[(17, 45)]
id                  709076
sid                 709076
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              9/16/2017
deadwood_days           63
pregancy_days          215
group_id                42
group_past              17
event                  109
milking_days           343
date              7/6/2022
remark                   -
event_index           1869
ord                      1
Name: 1868, dtype: object
------------------
------------------
[(17, 45)]
id                  709076
sid                 709076
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              9/16/2017
deadwood_days           63
pregancy_days          215
group_id                17
group_past              17
event                  303
milking_days           343
date              7/6/2022
remark            F017T045
event_index           1870
ord                      2
Name: 1869, dtype: object
------------------
------------------
[(44, 21)]
id                   910179
sid                  910179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/27/2019
deadwood_days            62
pregancy_days             0
group_id                 44
group_past               10
event                   303
milking_days              0
date               7/6/2022
remark             F044T021
event_index            1958
ord                       1
Name: 1957, dtype: object
------------------
------------------
[(44, 21)]
id                   910179
sid                  910179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/27/2019
deadwood_days            62
pregancy_days             0
group_id                 44
group_past               10
event                   206
milking_days              0
date               7/6/2022
remark                ПРОФ2
event_index            1959
ord                       2
Name: 1958, dtype: object
------------------
------------------
[(44, 21)]
id                   910179
sid                  910179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/27/2019
deadwood_days            62
pregancy_days             0
group_id                 18
group_past               10
event                   106
milking_days              0
date               7/6/2022
remark                    -
event_index            1960
ord                       3
Name: 1959, dtype: object
------------------
------------------
[(21, 44)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               21
group_past             44
event                 303
milking_days            6
date             7/9/2022
remark           F021T044
event_index          2737
ord                     1
Name: 2736, dtype: object
------------------
------------------
[(21, 44)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             44
event                 209
milking_days            6
date             7/9/2022
remark             КЕТОЗ1
event_index          2738
ord                     2
Name: 2737, dtype: object
------------------
------------------
[(21, 44)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               42
group_past             44
event                 203
milking_days            6
date             7/9/2022
remark                КАН
event_index          2739
ord                     3
Name: 2738, dtype: object
------------------
------------------
[(1, 2)]
id                  909158
sid                 909158
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              9/21/2019
deadwood_days           57
pregancy_days            0
group_id                 1
group_past              10
event                  303
milking_days            10
date             7/11/2022
remark            F001T002
event_index           3470
ord                      1
Name: 3469, dtype: object
------------------
------------------
[(1, 2)]
id                  909158
sid                 909158
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              9/21/2019
deadwood_days           57
pregancy_days            0
group_id                21
group_past              10
event                  204
milking_days            10
date             7/11/2022
remark              МАСТИТ
event_index           3471
ord                      2
Name: 3470, dtype: object
------------------
------------------
[(44, 21)]
id                   910184
sid                  910184
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/28/2019
deadwood_days            60
pregancy_days             0
group_id                 44
group_past                4
event                   211
milking_days              0
date              7/11/2022
remark                   Э1
event_index            3495
ord                       1
Name: 3494, dtype: object
------------------
------------------
[(44, 21)]
id                   910184
sid                  910184
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/28/2019
deadwood_days            60
pregancy_days             0
group_id                 18
group_past                4
event                   106
milking_days              0
date              7/11/2022
remark                    -
event_index            3496
ord                       2
Name: 3495, dtype: object
------------------
------------------
[(44, 21)]
id                   910184
sid                  910184
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/28/2019
deadwood_days            60
pregancy_days             0
group_id                 44
group_past                4
event                   303
milking_days              0
date              7/11/2022
remark             F044T021
event_index            3497
ord                       3
Name: 3496, dtype: object
------------------
------------------
[(6, 12)]
id                    4245
sid                   4245
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              4/28/2020
deadwood_days            0
pregancy_days            0
group_id                 6
group_past              12
event                  105
milking_days           163
date             7/29/2022
remark           614H15481
event_index           4066
ord                      1
Name: 4065, dtype: object
------------------
------------------
[(6, 12)]
id                    4245
sid                   4245
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              4/28/2020
deadwood_days            0
pregancy_days            0
group_id                 9
group_past              12
event                  102
milking_days           163
date             7/29/2022
remark                   9
event_index           4067
ord                      2
Name: 4066, dtype: object
------------------
------------------
[(6, 12)]
id                    4245
sid                   4245
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              4/28/2020
deadwood_days            0
pregancy_days            0
group_id                 6
group_past              12
event                  303
milking_days           163
date             7/29/2022
remark            F006T012
event_index           4068
ord                      3
Name: 4067, dtype: object
------------------
------------------
[(6, 12)]
id                    4245
sid                   4245
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              4/28/2020
deadwood_days            0
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           163
date             7/29/2022
remark             ХРОМОТА
event_index           4069
ord                      4
Name: 4068, dtype: object
------------------

------------------
[(6, 12)]
id                    8036
sid                   8036
sex                      F
cycle                    1
childs                  FD
childbirth               2
dob               8/6/2020
deadwood_days            0
pregancy_days            0
group_id                 6
group_past               8
event                  105
milking_days            59
date             7/29/2022
remark           614H15481
event_index           4489
ord                      1
Name: 4488, dtype: object
------------------
------------------
[(6, 12)]
id                    8036
sid                   8036
sex                      F
cycle                    1
childs                  FD
childbirth               2
dob               8/6/2020
deadwood_days            0
pregancy_days            0
group_id                 9
group_past               8
event                  102
milking_days            59
date             7/29/2022
remark                  13
event_index           4490
ord                      2
Name: 4489, dtype: object
------------------
------------------
[(6, 12)]
id                    8036
sid                   8036
sex                      F
cycle                    1
childs                  FD
childbirth               2
dob               8/6/2020
deadwood_days            0
pregancy_days            0
group_id                 6
group_past               8
event                  303
milking_days            59
date             7/29/2022
remark            F006T012
event_index           4491
ord                      3
Name: 4490, dtype: object
------------------
------------------
[(6, 12)]
id                    8036
sid                   8036
sex                      F
cycle                    1
childs                  FD
childbirth               2
dob               8/6/2020
deadwood_days            0
pregancy_days            0
group_id                12
group_past               8
event                  204
milking_days            59
date             7/29/2022
remark             ХРОМОТА
event_index           4492
ord                      4
Name: 4491, dtype: object
------------------
------------------
[(44, 21)]
id                    9070
sid                   9070
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/10/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               9
event                  303
milking_days             0
date             7/21/2022
remark            F044T021
event_index           4701
ord                      1
Name: 4700, dtype: object
------------------
------------------
[(44, 21)]
id                    9070
sid                   9070
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/10/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               9
event                  206
milking_days             0
date             7/21/2022
remark               ПРОФ2
event_index           4702
ord                      2
Name: 4701, dtype: object
------------------
------------------
[(44, 21)]
id                    9070
sid                   9070
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/10/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               9
event                  106
milking_days             0
date             7/21/2022
remark                   -
event_index           4703
ord                      3
Name: 4702, dtype: object
------------------
------------------
[(44, 21)]
id                    9128
sid                   9128
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/18/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               2
event                  106
milking_days             0
date             7/18/2022
remark                   -
event_index           4786
ord                      1
Name: 4785, dtype: object
------------------
------------------
[(44, 21)]
id                    9128
sid                   9128
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/18/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               2
event                  211
milking_days             0
date             7/18/2022
remark                  Э1
event_index           4787
ord                      2
Name: 4786, dtype: object
------------------
------------------
[(44, 21)]
id                    9128
sid                   9128
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/18/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               2
event                  303
milking_days             0
date             7/18/2022
remark            F044T021
event_index           4788
ord                      3
Name: 4787, dtype: object
------------------
------------------
[(44, 21)]
id                    9159
sid                   9159
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               9
event                  303
milking_days             0
date             7/14/2022
remark            F044T021
event_index           4819
ord                      1
Name: 4818, dtype: object
------------------
------------------
[(44, 21)]
id                    9159
sid                   9159
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               9
event                  211
milking_days             0
date             7/14/2022
remark                  Э1
event_index           4820
ord                      2
Name: 4819, dtype: object
------------------
------------------
[(44, 21)]
id                    9159
sid                   9159
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               9
event                  106
milking_days             0
date             7/14/2022
remark                   -
event_index           4821
ord                      3
Name: 4820, dtype: object
------------------
------------------
[(33, 40)]
id                    11145
sid                       -
sex                       F
cycle                     1
childs                   FD
childbirth                1
dob              11/14/2020
deadwood_days             0
pregancy_days             0
group_id                 44
group_past               40
event                   213
milking_days              0
date              7/28/2022
remark              ПОСЛЕД2
event_index            5237
ord                       1
Name: 5236, dtype: object
------------------
------------------
[(33, 40)]
id                    11145
sid                       -
sex                       F
cycle                     1
childs                   FD
childbirth                1
dob              11/14/2020
deadwood_days             0
pregancy_days             0
group_id                 40
group_past               40
event                   106
milking_days              0
date              7/28/2022
remark                    -
event_index            5238
ord                       2
Name: 5237, dtype: object
------------------
------------------
[(33, 40)]
id                    11145
sid                       -
sex                       F
cycle                     0
childs                  NaN
childbirth                1
dob              11/14/2020
deadwood_days             0
pregancy_days           208
group_id                 33
group_past               33
event                   303
milking_days            621
date              7/28/2022
remark             F033T040
event_index            5239
ord                       3
Name: 5238, dtype: object
------------------
------------------
[(31, 11)]
id                    11293
sid                   11293
sex                       F
cycle                     0
childs                  NaN
childbirth                0
dob              11/28/2020
deadwood_days             0
pregancy_days           234
group_id                 11
group_past               45
event                   303
milking_days            599
date              7/20/2022
remark             F011T040
event_index            5306
ord                       1
Name: 5305, dtype: object
------------------
------------------
[(31, 11)]
id                    11293
sid                   11293
sex                       F
cycle                     0
childs                  NaN
childbirth                0
dob              11/28/2020
deadwood_days             0
pregancy_days           234
group_id                 31
group_past               45
event                   107
milking_days            599
date              7/20/2022
remark              192 ДНИ
event_index            5307
ord                       2
Name: 5306, dtype: object
------------------
------------------
[(31, 11)]
id                    11293
sid                   11293
sex                       F
cycle                     0
childs                  NaN
childbirth                0
dob              11/28/2020
deadwood_days             0
pregancy_days           234
group_id                 31
group_past               45
event                   303
milking_days            599
date              7/20/2022
remark             F031T011
event_index            5308
ord                       3
Name: 5307, dtype: object
------------------
------------------
[(31, 11)]
id                    11293
sid                   11293
sex                       F
cycle                     0
childs                  NaN
childbirth                0
dob              11/28/2020
deadwood_days             0
pregancy_days           234
group_id                 40
group_past               45
event                   207
milking_days            599
date              7/20/2022
remark                 ПУТЫ
event_index            5309
ord                       4
Name: 5308, dtype: object
------------------

------------------
[(44, 21)]
id                  606021
sid                 606021
sex                      F
cycle                    5
childs                  MA
childbirth               1
dob               6/4/2016
deadwood_days           57
pregancy_days            0
group_id                18
group_past              21
event                  106
milking_days             0
date             7/22/2022
remark                   -
event_index           9103
ord                      1
Name: 9102, dtype: object
------------------
------------------
[(44, 21)]
id                  606021
sid                 606021
sex                      F
cycle                    5
childs                  MA
childbirth               1
dob               6/4/2016
deadwood_days           57
pregancy_days            0
group_id                44
group_past              21
event                  213
milking_days             0
date             7/22/2022
remark             ПОСЛЕД2
event_index           9104
ord                      2
Name: 9103, dtype: object
------------------
------------------
[(44, 21)]
id                  606021
sid                 606021
sex                      F
cycle                    5
childs                  MA
childbirth               1
dob               6/4/2016
deadwood_days           57
pregancy_days            0
group_id                44
group_past              21
event                  303
milking_days             0
date             7/22/2022
remark            F044T021
event_index           9105
ord                      3
Name: 9104, dtype: object
------------------
------------------
[(44, 21)]
id                  708142
sid                 708142
sex                      F
cycle                    4
childs                  FA
childbirth               1
dob              8/20/2017
deadwood_days           57
pregancy_days            0
group_id                44
group_past               4
event                  303
milking_days             0
date             7/29/2022
remark            F044T021
event_index           9354
ord                      1
Name: 9353, dtype: object
------------------
------------------
[(44, 21)]
id                  708142
sid                 708142
sex                      F
cycle                    4
childs                  FA
childbirth               1
dob              8/20/2017
deadwood_days           57
pregancy_days            0
group_id                44
group_past               4
event                  211
milking_days             0
date             7/29/2022
remark                  Э1
event_index           9355
ord                      2
Name: 9354, dtype: object
------------------
------------------
[(44, 21)]
id                  708142
sid                 708142
sex                      F
cycle                    4
childs                  FA
childbirth               1
dob              8/20/2017
deadwood_days           57
pregancy_days            0
group_id                18
group_past               4
event                  106
milking_days             0
date             7/29/2022
remark                   -
event_index           9356
ord                      3
Name: 9355, dtype: object
------------------
------------------
[(23, 4)]
id                  805168
sid                 805168
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              5/29/2018
deadwood_days           54
pregancy_days            0
group_id                23
group_past               4
event                  303
milking_days            21
date             7/19/2022
remark            F023T004
event_index           9686
ord                      1
Name: 9685, dtype: object
------------------
------------------
[(23, 4)]
id                  805168
sid                 805168
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              5/29/2018
deadwood_days           54
pregancy_days            0
group_id                 2
group_past               4
event                  204
milking_days            21
date             7/19/2022
remark             ГИНЕКОЛ
event_index           9687
ord                      2
Name: 9686, dtype: object
------------------
------------------
[(44, 21)]
id                  806015
sid                 806015
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob               6/2/2018
deadwood_days           65
pregancy_days            0
group_id                44
group_past               4
event                  303
milking_days             0
date             7/16/2022
remark            F044T021
event_index           9694
ord                      1
Name: 9693, dtype: object
------------------
------------------
[(44, 21)]
id                  806015
sid                 806015
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob               6/2/2018
deadwood_days           65
pregancy_days            0
group_id                44
group_past               4
event                  211
milking_days             0
date             7/16/2022
remark                  Э1
event_index           9695
ord                      2
Name: 9694, dtype: object
------------------
------------------
[(44, 21)]
id                  806015
sid                 806015
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob               6/2/2018
deadwood_days           65
pregancy_days            0
group_id                18
group_past               4
event                  106
milking_days             0
date             7/16/2022
remark                   -
event_index           9696
ord                      3
Name: 9695, dtype: object
------------------
------------------
[(44, 21)]
id                  807147
sid                 807147
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              7/25/2018
deadwood_days           56
pregancy_days            0
group_id                44
group_past               4
event                  206
milking_days             0
date             7/14/2022
remark               ПРОФ2
event_index           9791
ord                      1
Name: 9790, dtype: object
------------------
------------------
[(44, 21)]
id                  807147
sid                 807147
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              7/25/2018
deadwood_days           56
pregancy_days            0
group_id                18
group_past               4
event                  106
milking_days             0
date             7/14/2022
remark                   -
event_index           9792
ord                      2
Name: 9791, dtype: object
------------------
------------------
[(44, 21)]
id                  807147
sid                 807147
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              7/25/2018
deadwood_days           56
pregancy_days            0
group_id                44
group_past               4
event                  303
milking_days             0
date             7/14/2022
remark            F044T021
event_index           9793
ord                      3
Name: 9792, dtype: object
------------------
------------------
[(44, 21)]
id                  807163
sid                 807163
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              7/28/2018
deadwood_days          106
pregancy_days            0
group_id                44
group_past               2
event                  303
milking_days             0
date             7/22/2022
remark            F044T021
event_index           9798
ord                      1
Name: 9797, dtype: object
------------------
------------------
[(44, 21)]
id                  807163
sid                 807163
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              7/28/2018
deadwood_days          106
pregancy_days            0
group_id                18
group_past               2
event                  106
milking_days             0
date             7/22/2022
remark                   -
event_index           9799
ord                      2
Name: 9798, dtype: object
------------------

------------------
[(6, 12)]
id                  811042
sid                 811042
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/6/2018
deadwood_days           66
pregancy_days          230
group_id                 6
group_past               7
event                  303
milking_days           289
date             7/19/2022
remark            F006T012
event_index          10044
ord                      1
Name: 10043, dtype: object
------------------
------------------
[(6, 12)]
id                  811042
sid                 811042
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/6/2018
deadwood_days           66
pregancy_days          230
group_id                12
group_past               7
event                  204
milking_days           289
date             7/19/2022
remark             ХРОМОТА
event_index          10045
ord                      2
Name: 10044, dtype: object
------------------
------------------
[(6, 12)]
id                  811042
sid                 811042
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/6/2018
deadwood_days           66
pregancy_days          230
group_id                 7
group_past               7
event                  203
milking_days           289
date             7/19/2022
remark                 КАН
event_index          10046
ord                      3
Name: 10045, dtype: object
------------------
------------------
[(23, 4)]
id                   811221
sid                  811221
sex                       F
cycle                     3
childs                   FA
childbirth                1
dob              11/30/2018
deadwood_days            54
pregancy_days             0
group_id                 23
group_past                4
event                   303
milking_days             21
date              7/19/2022
remark             F023T004
event_index           10122
ord                       1
Name: 10121, dtype: object
------------------
------------------
[(23, 4)]
id                   811221
sid                  811221
sex                       F
cycle                     3
childs                   FA
childbirth                1
dob              11/30/2018
deadwood_days            54
pregancy_days             0
group_id                  2
group_past                4
event                   204
milking_days             21
date              7/19/2022
remark              ГИНЕКОЛ
event_index           10123
ord                       2
Name: 10122, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                 1
group_past               1
event                  207
milking_days           151
date             7/19/2022
remark                 ТОЩ
event_index          10394
ord                      1
Name: 10393, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                 1
group_past               1
event                  207
milking_days           151
date             7/19/2022
remark               БУР1_
event_index          10395
ord                      2
Name: 10394, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                 1
group_past               1
event                  204
milking_days           151
date             7/19/2022
remark             ХРОМОТА
event_index          10396
ord                      3
Name: 10395, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                 4
group_past               1
event                  303
milking_days           151
date             7/19/2022
remark            F004T012
event_index          10397
ord                      4
Name: 10396, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                12
group_past               1
event                  303
milking_days           151
date             7/19/2022
remark            F012T001
event_index          10398
ord                      5
Name: 10397, dtype: object
------------------
------------------
[(10, 12)]
id                  904138
sid                 904138
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob              4/21/2019
deadwood_days           58
pregancy_days            0
group_id                10
group_past              12
event                  303
milking_days           129
date             7/19/2022
remark            F010T012
event_index          10438
ord                      1
Name: 10437, dtype: object
------------------
------------------
[(10, 12)]
id                  904138
sid                 904138
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob              4/21/2019
deadwood_days           58
pregancy_days            0
group_id                 4
group_past              12
event                  203
milking_days           129
date             7/19/2022
remark                 КАН
event_index          10439
ord                      2
Name: 10438, dtype: object
------------------
------------------
[(10, 12)]
id                  904138
sid                 904138
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob              4/21/2019
deadwood_days           58
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           129
date             7/19/2022
remark             ХРОМОТА
event_index          10440
ord                      3
Name: 10439, dtype: object
------------------
------------------
[(23, 4)]
id                  907125
sid                 907125
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              7/19/2019
deadwood_days           54
pregancy_days            0
group_id                 2
group_past              10
event                  204
milking_days            21
date             7/19/2022
remark             ГИНЕКОЛ
event_index          10749
ord                      1
Name: 10748, dtype: object
------------------
------------------
[(23, 4)]
id                  907125
sid                 907125
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              7/19/2019
deadwood_days           54
pregancy_days            0
group_id                23
group_past              10
event                  303
milking_days            21
date             7/19/2022
remark            F023T004
event_index          10750
ord                      2
Name: 10749, dtype: object
------------------
------------------
[(23, 4)]
id                  908011
sid                 908011
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               8/2/2019
deadwood_days           58
pregancy_days            0
group_id                23
group_past              10
event                  303
milking_days            39
date             7/19/2022
remark            F023T004
event_index          10828
ord                      1
Name: 10827, dtype: object
------------------
------------------
[(23, 4)]
id                  908011
sid                 908011
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               8/2/2019
deadwood_days           58
pregancy_days            0
group_id                 2
group_past              10
event                  204
milking_days            39
date             7/19/2022
remark             ГИНЕКОЛ
event_index          10829
ord                      2
Name: 10828, dtype: object
------------------

------------------
[(44, 21)]
id                  910033
sid                 910033
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              10/5/2019
deadwood_days           56
pregancy_days            0
group_id                44
group_past              21
event                  303
milking_days             0
date             7/28/2022
remark            F044T021
event_index          11055
ord                      1
Name: 11054, dtype: object
------------------
------------------
[(44, 21)]
id                  910033
sid                 910033
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              10/5/2019
deadwood_days           56
pregancy_days            0
group_id                44
group_past              21
event                  206
milking_days             0
date             7/28/2022
remark               ПРОФ2
event_index          11056
ord                      2
Name: 11055, dtype: object
------------------
------------------
[(44, 21)]
id                  910033
sid                 910033
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              10/5/2019
deadwood_days           56
pregancy_days            0
group_id                18
group_past              21
event                  106
milking_days             0
date             7/28/2022
remark                   -
event_index          11057
ord                      3
Name: 11056, dtype: object
------------------
------------------
[(23, 4)]
id                   910188
sid                  910188
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/29/2019
deadwood_days            54
pregancy_days             0
group_id                 23
group_past                4
event                   303
milking_days             21
date              7/19/2022
remark             F023T004
event_index           11205
ord                       1
Name: 11204, dtype: object
------------------
------------------
[(23, 4)]
id                   910188
sid                  910188
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/29/2019
deadwood_days            54
pregancy_days             0
group_id                  2
group_past                4
event                   204
milking_days             21
date              7/19/2022
remark              ГИНЕКОЛ
event_index           11206
ord                       2
Name: 11205, dtype: object
------------------
------------------
[(44, 3)]
id                  911030
sid                 911030
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/4/2019
deadwood_days           50
pregancy_days            0
group_id                44
group_past               3
event                  303
milking_days             2
date             7/17/2022
remark            F044T003
event_index          11247
ord                      1
Name: 11246, dtype: object
------------------
------------------
[(44, 3)]
id                  911030
sid                 911030
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/4/2019
deadwood_days           50
pregancy_days            0
group_id                 3
group_past               3
event                  210
milking_days             2
date             7/17/2022
remark              КМ6_34
event_index          11248
ord                      2
Name: 11247, dtype: object
------------------
------------------
[(44, 3)]
id                  911030
sid                      -
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              11/4/2019
deadwood_days            0
pregancy_days          266
group_id                18
group_past              17
event                  210
milking_days           332
date             7/17/2022
remark              КМ6_34
event_index          11249
ord                      3
Name: 11248, dtype: object
------------------
------------------
[(23, 10)]
id                   911107
sid                  911107
sex                       F
cycle                     2
childs                   MA
childbirth                1
dob              11/12/2019
deadwood_days            53
pregancy_days             0
group_id                 23
group_past               10
event                   303
milking_days             21
date              7/26/2022
remark             F023T010
event_index           11317
ord                       1
Name: 11316, dtype: object
------------------
------------------
[(23, 10)]
id                   911107
sid                  911107
sex                       F
cycle                     2
childs                   MA
childbirth                1
dob              11/12/2019
deadwood_days            53
pregancy_days             0
group_id                  2
group_past               10
event                   204
milking_days             21
date              7/26/2022
remark              ГИНЕКОЛ
event_index           11318
ord                       2
Name: 11317, dtype: object
------------------
------------------
[(44, 21)]
id                   911179
sid                  911179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              11/22/2019
deadwood_days            57
pregancy_days             0
group_id                 44
group_past                4
event                   303
milking_days              0
date              7/29/2022
remark             F044T021
event_index           11365
ord                       1
Name: 11364, dtype: object
------------------
------------------
[(44, 21)]
id                   911179
sid                  911179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              11/22/2019
deadwood_days            57
pregancy_days             0
group_id                 18
group_past                4
event                   106
milking_days              0
date              7/29/2022
remark                    -
event_index           11366
ord                       2
Name: 11365, dtype: object
------------------
------------------
[(44, 21)]
id                   911179
sid                  911179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              11/22/2019
deadwood_days            57
pregancy_days             0
group_id                 44
group_past                4
event                   206
milking_days              0
date              7/29/2022
remark                ПРОФ2
event_index           11367
ord                       3
Name: 11366, dtype: object
------------------
------------------
[(17, 45)]
id                   912253
sid                  912253
sex                       F
cycle                     1
childs                   FA
childbirth                1
dob              12/30/2019
deadwood_days             0
pregancy_days           250
group_id                 17
group_past               17
event                   303
milking_days            280
date              7/30/2022
remark             F017T045
event_index           11548
ord                       1
Name: 11547, dtype: object
------------------
------------------
[(17, 45)]
id                   912253
sid                  912253
sex                       F
cycle                     1
childs                   FA
childbirth                1
dob              12/30/2019
deadwood_days             0
pregancy_days           250
group_id                  3
group_past               17
event                   109
milking_days            280
date              7/30/2022
remark                    -
event_index           11549
ord                       2
Name: 11548, dtype: object
------------------

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark,event_index,ord
1965,1001,1001,F,1,FA,1,1/1/2020,0,203,9,9,203,248,7/7/2022,КАН,1966,1
3805,1005,1005,F,1,MA,1,1/1/2020,0,173,6,6,303,254,7/13/2022,F006T007,3806,1
2881,1007,1007,F,1,FA,1,1/1/2020,0,256,5,17,303,268,7/11/2022,F005T006,2882,1
3806,1007,1007,F,1,FA,1,1/1/2020,0,258,6,17,107,275,7/18/2022,214 ДНИ,3807,1
3807,1007,1007,F,1,FA,1,1/1/2020,0,258,6,17,109,278,7/21/2022,CEBA,3808,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11554,912269,912269,F,1,FA,1,12/31/2019,0,223,7,7,303,242,7/19/2022,F007T012,11555,1
11555,912269,912269,F,1,FA,1,12/31/2019,0,223,12,7,204,242,7/19/2022,ХРОМОТА,11556,2
11556,912270,912270,F,1,MA,1,12/31/2019,0,257,7,17,203,275,7/16/2022,КАН,11557,1
11557,912270,912270,F,1,MA,1,12/31/2019,0,257,7,17,107,277,7/18/2022,213 ДНИ,11558,1
11558,912270,912270,F,1,MA,1,12/31/2019,0,257,7,17,109,280,7/21/2022,-,11559,1

**TODO** Спросить что вообще с номерами групп происходит:

In [15]:
df[((df['date'] == '7/29/2022') & (df['id'] == 8036))].head(10)

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark,event_index,ord
4488,8036,8036,F,1,FD,2,8/6/2020,0,0,6,8,105,59,7/29/2022,614H15481,4489,1
4489,8036,8036,F,1,FD,2,8/6/2020,0,0,9,8,102,59,7/29/2022,13,4490,2
4490,8036,8036,F,1,FD,2,8/6/2020,0,0,6,8,303,59,7/29/2022,F006T012,4491,3
4491,8036,8036,F,1,FD,2,8/6/2020,0,0,12,8,204,59,7/29/2022,ХРОМОТА,4492,4

In [16]:
df[((df['date'] == '7/22/2022') & (df['id'] == 807163))].head(10)

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark,event_index,ord
9797,807163,807163,F,3,FA,1,7/28/2018,106,0,44,2,303,0,7/22/2022,F044T021,9798,1
9798,807163,807163,F,3,FA,1,7/28/2018,106,0,18,2,106,0,7/22/2022,-,9799,2

На самом деле такое решение имеет смысл только если нет ситуации когда животное кидают из группы в группу по циклу (например перевели из 3 в 12 потом обратно в 3), в таком случае восстановить порядок наверняка невозможно. Но судя по всему такого не происходит

###  Cобытия выздоровления и болезней:
Заболевания КЕТОЗ, МЕТРИТ, ПАРЕЗ, ПОСЛЕД, ПРОФОТ протекают в новотельный период и имеют общий критерий выписки: все послеотельные осложнения животного вылечили, корова пригодна к дальнейшей работе и воспроизводству (примечание при выписке ГИНЕКОЛ). Примечание МОЛОДНЯК к событию ЗДОРОВА имеют только животные 0-й лактации (телки и бычки). Примечание ПРОЧИЕ к событию ЗДОРОВА имеют животные, перенесшие прочие заболевания (событие БОЛЕЗНЬ).

In [42]:
df.head()

,id,sex,cycle,childs,childbirth,deadwood_days,pregancy_days,group_id,group_past,event,...,MAST_КМ6_3,MAST_КМ6_4,MAST_ТМ1_1,MAST_ТМ1_2,MAST_ТМ1_3,MAST_ТМ1_4,MAST_КМ3_1,MAST_КМ3_2,MAST_КМ3_3,MAST_КМ3_4
0,1064,1,1,FA,1,0,0,9,9,BRED,...,0,0,0,0,0,0,0,0,0,0
1,1064,1,1,FA,1,0,0,9,9,TOSCM,...,0,0,0,0,0,0,0,0,0,0
2,1185,1,1,FA,1,0,49,9,43,BRED,...,0,0,0,0,0,0,0,0,0,0
3,1185,1,1,FA,1,0,49,9,43,TOSCM,...,0,0,0,0,0,0,0,0,0,0
4,1260,1,1,FA,1,0,49,5,5,TOSCM,...,0,0,0,0,0,0,0,0,0,0

# Генерация новых фичей