In [1]:
import re
import itertools
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../data/raw/raw.csv")
df.head(5)

,Номер события,Номер животного,Ушная бирка животного,Пол,Номер лактации,Результат отела,Легкость отела,Дата рождения,Дней в сухостое предыдущей лактации,Дней стельности при событии,Номер группы животного,Предыдущий номер группы животного,Событие,Дни доения при событии,Дата события,Примечание события
0,0,146,598621616,F,6,FA,1,29.03.2010,62,277,18,18,РАСЧКОП,336,28.03.2019,КАН
1,1,146,598621616,F,6,FA,1,29.03.2010,62,277,18,18,ВАКЦИН,349,10.04.2019,КОГЛАВАК
2,2,146,598621616,F,6,FA,1,29.03.2010,62,277,18,18,ВАКЦИН,349,10.04.2019,ЛЕПТО
3,3,291,530073354,F,6,MA,1,30.07.2009,68,0,23,23,ПЕРЕВОД,448,08.04.2019,F001T023
4,4,291,530073354,F,6,MA,1,30.07.2009,68,0,23,23,ПРОДАНА,458,18.04.2019,ПРОДАНА ; Прочее ; УВЗ8

# Предобработка

In [3]:
col_mapper = {
    'Номер события'                      : 'event_id',
    'Пол'                                : 'sex',
    'Номер животного'                    : 'id',
    'Номер лактации'                     : 'lactation_number',
    'Результат отела'                    : 'birth_result',
    'Легкость отела'                     : 'birth_difficult',
    'Дата рождения'                      : 'birthday',
    'Дней в сухостое предыдущей лактации': 'days_no_milking',
    'Дней стельности при событии'        : 'days_pregnant',
    'Номер группы животного'             : 'group_id',
    'Предыдущий номер группы животного'  : 'prev_group_id',
    'Событие'                            : 'event',
    'Дни доения при событии'             : 'days_milking',
    'Дата события'                       : 'date',
    'Примечание события'                 : 'remark'
}

df.drop([col for col in df.columns if col not in col_mapper], axis=1, inplace=True)
df.columns = [col_mapper[col] for col in df.columns]
df.head()

,event_id,id,sex,lactation_number,birth_result,birth_difficult,birthday,days_no_milking,days_pregnant,group_id,prev_group_id,event,days_milking,date,remark
0,0,146,F,6,FA,1,29.03.2010,62,277,18,18,РАСЧКОП,336,28.03.2019,КАН
1,1,146,F,6,FA,1,29.03.2010,62,277,18,18,ВАКЦИН,349,10.04.2019,КОГЛАВАК
2,2,146,F,6,FA,1,29.03.2010,62,277,18,18,ВАКЦИН,349,10.04.2019,ЛЕПТО
3,3,291,F,6,MA,1,30.07.2009,68,0,23,23,ПЕРЕВОД,448,08.04.2019,F001T023
4,4,291,F,6,MA,1,30.07.2009,68,0,23,23,ПРОДАНА,458,18.04.2019,ПРОДАНА ; Прочее ; УВЗ8

## Проверка на пустые значения

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592307 entries, 0 to 592306
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   event_id          592307 non-null  int64
 1   id                592307 non-null  int64
 2   sex               592307 non-null  object
 3   lactation_number  592307 non-null  int64
 4   birth_result      331357 non-null  object
 5   birth_difficult   592307 non-null  int64
 6   birthday          592307 non-null  object
 7   days_no_milking   592307 non-null  int64
 8   days_pregnant     592307 non-null  int64
 9   group_id          592307 non-null  int64
 10  prev_group_id     592307 non-null  int64
 11  event             592307 non-null  object
 12  days_milking      592307 non-null  int64
 13  date              592307 non-null  object
 14  remark            592307 non-null  object
dtypes: int64(9), object(6)
memory usage: 67.8+ MB

В childs ставится NaN если ещё не было ребенка или животное мужского пола.
В remark стоит '-' если примечание не требуется

## Обработка событий

Привидем поле event к нормальному виду:

In [5]:
EventSynonims = {
    "ABORT"   : ["ABORT", "АБОРТ"],  
    "TOSCM"   : ["TOSCM", "НА_СХЕМУ"], 
    "NULSCM"  : ["NULSCM","СО_СХЕМЫ"],
    "DNB"     : ["DNB", "НЕОСЕМ"],
    "BRED"    : ["BRED", "ОСЕМЕН"], 
    "FRESH"   : ["FRESH", "ОТЕЛ"],  
    "PREG"    : ["PREG", "СТЕЛН"], 
    "PREGBEF" : ["PREGBEF", "СТЕЛНДО"],
    "DRY"     : ["DRY", "СУХОСТ"],
    "DRY2"    : ["DRY2", "СУХ2"],
    "OPEN"    : ["OPEN", "ЯЛОВАЯ"],
    #-------
    "WEIGHT"  : ["WEIGHT", "ВЕС"],
    "DEAD"    : ["DEAD", "ПАЛА"],
    "MOVE"    : ["MOVE", "ПЕРЕВОД"],
    "SOLD"    : ["SOLD", "ПРОДАНА"],
    #-------
    "VAC"     : ["VAC", "ВАКЦИН"],
    "VACVIR"  : ["VACVIR", "ВАКВИРУС"],
    "FOOTRIM" : ["FOOTRIM", "РАСЧКОП"],
    "HEALTH"  : ["HEALTH", "WELL", "ЗДОРОВА"],
    "BROKE"   : ["BROKE", "ДЕФЕКТ"],
    "POT"     : ["POT", "ПРОФОТ"],
    "ILLMISC" : ["ILLMISC", "БОЛЕЗНЬ"],
    "LAME"    : ["LAME", "ХРОМОТА"],
    "KETOS"   : ["KETOS", "КЕТОЗ"],
    "MAST"    : ["MAST", "МАСТИТ"],
    "METR"    : ["METR", "МЕТРИТ"],
    "PARES"   : ["PARES", "ПАРЕЗ"],
    "RP"      : ["RP", "ПОСЛЕД"],
}

EventName = dict()
for event in EventSynonims.keys():
    for label in EventSynonims[event]:
        EventName[label] = event
EventTypes = EventSynonims.keys()

Унифицируем все события к английскому:

In [6]:
df['event'] = df['event'].apply(lambda label: EventName[label])
df.head(10)

,event_id,id,sex,lactation_number,birth_result,birth_difficult,birthday,days_no_milking,days_pregnant,group_id,prev_group_id,event,days_milking,date,remark
0,0,146,F,6,FA,1,29.03.2010,62,277,18,18,FOOTRIM,336,28.03.2019,КАН
1,1,146,F,6,FA,1,29.03.2010,62,277,18,18,VAC,349,10.04.2019,КОГЛАВАК
2,2,146,F,6,FA,1,29.03.2010,62,277,18,18,VAC,349,10.04.2019,ЛЕПТО
3,3,291,F,6,MA,1,30.07.2009,68,0,23,23,MOVE,448,08.04.2019,F001T023
4,4,291,F,6,MA,1,30.07.2009,68,0,23,23,SOLD,458,18.04.2019,ПРОДАНА ; Прочее ; УВЗ8
5,5,321,F,6,FA,3,11.09.2009,62,291,18,18,MAST,213,15.03.2019,МВ
6,6,321,F,6,FA,3,11.09.2009,62,291,18,18,MAST,215,17.03.2019,ТМ6_34
7,7,321,F,6,FA,3,11.09.2009,62,291,18,18,MOVE,216,18.03.2019,F006T003
8,8,321,F,6,FA,3,11.09.2009,62,291,18,18,MAST,221,23.03.2019,КМ4_134
9,9,321,F,6,FA,3,11.09.2009,62,291,18,18,HEALTH,230,01.04.2019,МАСТИТ

Посмотрим какие есть примечания

In [7]:
def remarks(event):
    return df[df['event'] == event]['remark'].unique().tolist()
    
for event in EventTypes:
    print(event + ':\n', remarks(event))
    print('---------------------------------------------------------------------------')

ABORT:
 ['189 ДНИ', '146 ДНИ', '205 ДНИ', '94 ДНИ', '95 ДНИ', '217 ДНИ', '93 ДНИ', '167 ДНИ', '182 ДНИ', '141 ДНИ', '184 ДНИ', '51 ДНИ', '208 ДНИ', '58 ДНИ', '69 ДНИ', '155 ДНИ', '46 ДНИ', '206 ДНИ', '65 ДНИ', '200 ДНИ', '90 ДНИ', '33 ДНИ', '194 ДНИ', '56 ДНИ', '68 ДНИ', '67 ДНИ', '96 ДНИ', '59 ДНИ', '89 ДНИ', '91 ДНИ', '48 ДНИ', '55 ДНИ', '188 ДНИ', '181 ДНИ', '136 ДНИ', '214 ДНИ', '196 ДНИ', '170 ДНИ', '61 ДНИ', '104 ДНИ', '120 ДНИ', '101 ДНИ', '62 ДНИ', '76 ДНИ', '84 ДНИ', '85 ДНИ', '219 ДНИ', '229 ДНИ', '192 ДНИ', '78 ДНИ', '39 ДНИ', '60 ДНИ', '82 ДНИ', '105 ДНИ', '103 ДНИ', '216 ДНИ', '165 ДНИ', '134 ДНИ', '44 ДНИ', '110 ДНИ', '169 ДНИ', '40 ДНИ', '53 ДНИ', '215 ДНИ', '151 ДНИ', '176 ДНИ', '80 ДНИ', '108 ДНИ', '98 ДНИ', '88 ДНИ', '77 ДНИ', '198 ДНИ', '73 ДНИ', '228 ДНИ', '221 ДНИ', '140 ДНИ', '125 ДНИ', '145 ДНИ', '195 ДНИ', '123 ДНИ', '161 ДНИ', '171 ДНИ', '74 ДНИ', '47 ДНИ', '202 ДНИ', '257 ДНИ', '157 ДНИ', '106 ДНИ', '72 ДНИ', '100 ДНИ', '54 ДНИ', '81 ДНИ', '66 ДНИ', '36 ДНИ', 'ДС', '158 ДНИ', '115 ДНИ', 'АБОРТ', 'ЖТ', 'БЖТ', '174 ДНИ', '45 ДНИ', '31 ДНИ', 'ОХОТА', '137 ДНИ', '63 ДНИ', 'ФК', '211 ДНИ', '237 ДНИ', '0', '234 ДНИ', '107 ДНИ', 'ЛК', '207 ДНИ', '218 ДНИ', '150 ДНИ', 'ДЛ СХ', '220 ДНИ', '185 ДНИ', '42 ДНИ', '43 ДНИ', '86 ДНИ', '174 DAYS', '148 ДНИ', '87 ДНИ', '52 ДНИ', '175 ДНИ', '49 ДНИ', '83 ДНИ', '290 ДНИ', '156 ДНИ', '180 ДНИ', '92 ДНИ', '129 ДНИ', '230 ДНИ', '193 ДНИ', '178 ДНИ', '102 ДНИ', '172 ДНИ', '223 ДНИ', '118 ДНИ', '57 ДНИ', '270 ДНИ', '213 ДНИ', '114 ДНИ', '224 ДНИ', '143 ДНИ', '99 ДНИ', '-', '227 ДНИ', '128 ДНИ', '111 ДНИ', '75 ДНИ', '38 ДНИ', '222 ДНИ', '112 ДНИ', '166 ДНИ', '50 ДНИ', '130 ДНИ', '41 ДНИ', '131 ДНИ', '162 ДНИ', '204 ДНИ', '209 ДНИ', '119 ДНИ', '226 ДНИ', '187 ДНИ', 'ЖИРНАЯ', 'ДЛ СХЕМА', 'ЖТ,', '109 ДНИ', 'БРАК', '34 ДНИ', 'БРАКГИНЕ', '197 ДНИ', '168 ДНИ', '212 ДНИ', '113 ДНИ', '117 ДНИ', '203 ДНИ', '147 ДНИ', '164 ДНИ', '177 ДНИ', '122 ДНИ', '64 ДНИ', '190 ДНИ', '79 ДНИ', '201 ДНИ', '149 ДНИ', 'БЫЛОСЕМ', '186 ДНИ', '35 ДНИ', '152 ДНИ', '144 ДНИ', 'БРАКЖИРН', '71 ДНИ', '250 ДНИ', '142 ДНИ', '97 ДНИ', '116 ДНИ', '241 ДНИ', '124 ДНИ', '248 ДНИ', '159 ДНИ', '138 ДНИ', '135 ДНИ', '225 ДНИ', 'БЕЗ ЖТ', '160 ДНИ', '25.07.2022', '139 ДНИ', '153 ДНИ', '173 ДНИ', '121 ДНИ', '210 ДНИ']
---------------------------------------------------------------------------
TOSCM:
 ['5', '9', '11', '2', '13', '14', '15', '16', '40', '31', '29', '30', '38', '33', '46', '34', '36', '55', '60', '53', '37', '52', '42', '43', '58', '47', '48', '41', '49']
---------------------------------------------------------------------------
NULSCM:
 ['-']
---------------------------------------------------------------------------
DNB:
 ['ЗООТЕХ', 'НОГИ', 'ВЫМЯ', 'СУСТАВ', 'ГИНЕКОЛ', 'АТП', 'AM', 'АМ', 'СОКОЛОВ', 'АБС', 'МАТКА', 'МНС', '-', 'ЖИРНАЯ', 'ХРОМОТА', 'АБСЦЕСС', 'БРАК АБС', 'АБОРТ', 'НОГИ ТОЩ', 'ХУДАЯ', '6 ОСЕМ', 'ФК', 'ЖТ', 'МУТ ВЫД', 'ЛК', 'ГЕНИКОЛ', 'ВОСПР', 'АГАЛАКТ', 'МАСТИТ', 'ВЫПЯЧ', 'СУСТ_ВЫМ', 'АМБ', 'АТ', 'ВЫМЯТРОЦ', 'ЗООБРАК', 'БР ВЫПАД', 'АТБ', 'Б/МАТКИ', 'НОГ+ВЫМЯ', 'ТОЩ', 'АБЦ ОПУХ', 'КИСТА', 'АБЦ', 'ЩЕКАРАЗР', 'ТРОЦНОГИ', 'ЗООТ3', 'ЗООТ', 'БРАК МОЛ', 'ЖИРН', 'МАСТ', 'МОЛОКО', 'ССС', 'ТВАРЬ', 'ТУГОДОЙ', 'НАДОЙ', 'ТОНК СОС', 'НОГИТРОЦ', 'АБС МАТК', 'ЗОOТЕХ', 'ТРОЦ', 'БРАКТРОЦ', 'РОСТ', 'БРАКНОГИ', 'КЕТОЗ', 'РИН', 'ABC', 'БРАК', 'НЕДОРОСТ', 'МЕЛКАЯ', 'СЛЕПАЯ', 'ТОЩ СУСТ', 'ТОЩЬ', 'ЗАПУСК-', 'УЗКИЙТАЗ', 'АБСМАТКИ', 'ПНЕВМО', 'БЕЗГЛАЗА', 'АГАЛАКТИ', 'РАЗВИТИЕ', 'ВЛАГАЛИЩ', 'АБСМАТКА', 'СУСТАВЫ', 'АГ+СУС', 'CJYZ', 'ВЕС', 'ГЛАЗА', 'ГЕНЕКОЛ', 'НОГИ3', 'ВЫПЯЧИВ', 'БЕЗМАТКИ', 'АВС', 'РАЗРЫВ', 'ПНЕВМА', 'НОГИПУТЫ', 'АБЦЕС', 'ЗДОРОВЬЕ', 'БЕЗМЕТКИ', 'СПАЙКИ']
---------------------------------------------------------------------------
BRED:
 ['1H11917', '1H11673', '1H11978', 'CALGARY', '1H11344', '777H10778', 'PLUTON', '777H10771', '777H10777', '777H10574', '777H10690', '1H13162', '200H528', '1H12902', '1H12490', '1H11372', '777H11079', '777H10915', '777H11243', '1H13471', '200H10591', '1H13411', '1H11913', 'TOUCH', '1H15057', '1H13456', '1H14138', '777H15000', '777H15074', 'FEIM', 'ANSVER', '501H15074', '501H15000', '1H13878', '501H14018', '1H15132', '1H15185', '1H15184', '501H15132', '501H15681', '1H15689', '501H15515', '501H15184', '1H15461', '601H15575', '7H14578', '614H15481', '1H15879', '507H15248']
---------------------------------------------------------------------------
FRESH:
 ['-']
---------------------------------------------------------------------------
PREG:
 ['32 ДНИ', '94 ДНИ', '95 ДНИ', '31 ДНИ', '30 ДНИ', '103 ДНИ', '92 ДНИ', '96 ДНИ', '34 ДНИ', '91 ДНИ', '35 ДНИ', '36 ДНИ', '101 ДНИ', '93 ДНИ', '33 ДНИ', '90 ДНИ', '97 ДНИ', '214 ДНИ', '102 ДНИ', '202 ДНИ', '206 ДНИ', '246 ДНИ', '216 ДНИ', '215 ДНИ', '217 ДНИ', '223 ДНИ', '218 ДНИ', '203 ДНИ', '224 ДНИ', '208 ДНИ', '204 ДНИ', '207 ДНИ', '205 ДНИ', '210 ДНИ', '212 ДНИ', '200 ДНИ', '201 ДНИ', '108 ДНИ', '107 ДНИ', '199 ДНИ', '211 ДНИ', '37 ДНИ', '222 ДНИ', '220 ДНИ', '198 ДНИ', '245 ДНИ', '88 ДНИ', '221 ДНИ', '219 ДНИ', '38 ДНИ', '82 ДНИ', '209 ДНИ', '98 ДНИ', '39 ДНИ', '86 ДНИ', '84 ДНИ', '105 ДНИ', '100 ДНИ', '41 ДНИ', '114 ДНИ', '136 ДНИ', '122 ДНИ', '226 ДНИ', '106 ДНИ', '85 ДНИ', '228 ДНИ', '110 ДНИ', '225 ДНИ', '213 ДНИ', '124 ДНИ', '227 ДНИ', '126 ДНИ', '141 ДНИ', '233 ДНИ', '238 ДНИ', '167 ДНИ', '104 ДНИ', '172 ДНИ', '99 ДНИ', '118 ДНИ', '111 ДНИ', '81 ДНИ', '89 ДНИ', '109 ДНИ', '115 ДНИ', '116 ДНИ', '83 ДНИ', '120 ДНИ', '80 ДНИ', '117 ДНИ', '119 ДНИ', '121 ДНИ', '130 ДНИ', '197 ДНИ', '237 ДНИ', '87 ДНИ', '123 ДНИ', '125 ДНИ', '145 ДНИ', '132 ДНИ', '146 ДНИ', '112 ДНИ', '71 ДНИ', '185 ДНИ', '129 ДНИ', '113 ДНИ', '44 ДНИ', '171 ДНИ', '236 ДНИ', '127 ДНИ', '45 ДНИ', '182 ДНИ', '229 ДНИ', '230 ДНИ', '235 ДНИ', '232 ДНИ', '177 ДНИ', '192 ДНИ', '156 ДНИ', '181 ДНИ', '194 ДНИ', '160 ДНИ', '234 ДНИ', '179 ДНИ', '163 ДНИ', '186 ДНИ', '180 ДНИ', '178 ДНИ', '166 ДНИ', '196 ДНИ', '231 ДНИ', '158 ДНИ', '195 ДНИ', '175 ДНИ', '159 ДНИ', '176 ДНИ', '189 ДНИ', '188 ДНИ', '184 ДНИ', '155 ДНИ', '161 ДНИ', '168 ДНИ', '191 ДНИ', '173 ДНИ', '153 ДНИ', '183 ДНИ', '134 ДНИ', '169 ДНИ', '170 ДНИ', '164 ДНИ', '174 ДНИ', '116 DAYS', '154 ДНИ', '162 ДНИ', '157 ДНИ', '152 ДНИ', '90 DAYS', '151 ДНИ', '40 ДНИ', '78 ДНИ', '128 ДНИ', '92 DAYS', '86 DAYS', '87 DAYS', '117 DAYS', '89 DAYS', '101 DAYS', '42 ДНИ', '51 ДНИ', '266 ДНИ', '187 ДНИ', '165 ДНИ', '150 ДНИ', '148 ДНИ', '149 ДНИ', '48 ДНИ', '138 ДНИ', '143 ДНИ', '140 ДНИ', '75 ДНИ', '29 ДНИ', '147 ДНИ', '135 ДНИ', '144 ДНИ', '131 ДНИ', '193 ДНИ', '190 ДНИ', '139 ДНИ', '73 ДНИ', '52 ДНИ', '67 ДНИ', '142 ДНИ', '43 ДНИ', '66 ДНИ', '68 ДНИ', '253 ДНИ', '28 ДНИ', '56 ДНИ', '47 ДНИ', '269 ДНИ', '137 ДНИ', '133 ДНИ', '240 ДНИ', '49 ДНИ', '50 ДНИ', '62 ДНИ', '252 ДНИ', '46 ДНИ', '17 ДНИ', '54 ДНИ', '79 ДНИ', '60 ДНИ', '63 ДНИ', '55 ДНИ', '273 ДНИ', '53 ДНИ', '74 ДНИ', '59 ДНИ']
---------------------------------------------------------------------------
PREGBEF:
 ['94 ДНИ', '60 ДНИ', '74 ДНИ', '55 ДНИ', '80 ДНИ', '53 ДНИ', '202 ДНИ', '57 ДНИ', '272 ДНИ', '48 ДНИ', '59 ДНИ', '56 ДНИ', '52 ДНИ', '143 ДНИ', '51 ДНИ', '240 ДНИ', '109 ДНИ', '67 ДНИ', '61 ДНИ', '71 ДНИ', '30 ДНИ']
---------------------------------------------------------------------------
DRY:
 ['CEBA', '-', 'СЕВА', 'СEBA', '0', 'АТР124', 'AZIT']
---------------------------------------------------------------------------
DRY2:
 ['-']
---------------------------------------------------------------------------
OPEN:
 ['-', 'ФК', 'ЛКЭ', 'ЖТ', 'БРАК', '?', 'ДС', 'ЛК', 'ЖТ БРАК', 'БЖТ', 'ЖЗТ', 'ОХОТА', 'БРАК АБС', 'ХУДАЯ', 'ЖТ Э', 'ПРИД', 'ЭС', '11 СХ', 'МУТ ВЫД', 'ПОЛИКИСТ', 'ДЛ СХ', 'ПК', 'ВОСПР', 'Э', 'БЕЗ ЖТ', 'БЛК', 'ЖТМ', 'ДЛСХ', 'ЭМ', 'ФК, СТЕЛ', 'ЮЖТ', 'ПОЛИКИС', 'ФОЛ', 'АБС', 'ЖТ ДЛ СХ', 'ГИПОФУНК', 'ВЫМЯ', 'ГИПОФ', 'ИЗ БРАКА', 'ЖТ,', 'БРАКНОГИ', 'ДЛ СХЕМА', 'ДЛСХ ОХО', 'БР ЖИРНА', 'ЖТ3', 'ЭМБР', 'ЖТ/АБС', 'БР МАТКА', 'БРАКАБС', 'ЭНДОМЕТР', '2', 'БРАКТОЩА', 'ФЛ', 'БРАКЖИРН', 'ГПФ', 'АБ МАТКИ', 'ЖТ ПОЛИК', 'ЖТ,ТОЩАЯ', 'БПАК', 'БЕЗЖТ']
---------------------------------------------------------------------------
WEIGHT:
 ['630', '615', '605', '610', '595', '580', '575', '555', '565', '570', '560', '535', '545', '550', '525', '530', '540', '505', '520', '500', '515', '510', '490', '495', '455', '480', '485', '475', '465', '470', '450', '460', '445', '430', '425', '440', '435', '420', '385', '415', '400', '410', '390', '395', '405', '370', '375', '380', '365', '363', '362', '360', '330', '359', '353', '357', '358', '349', '355', '333', '340', '335', '345', '350', '348', '343', '347', '342', '313', '305', '332', '361', '354', '329', '339', '346', '336', '344', '326', '320', '312', '321', '318', '322', '317', '304', '307', '328', '308', '315', '327', '325', '314', '310', '302', '303', '300', '295', '309', '316', '297', '311', '291', '296', '298', '287', '280', '301', '292', '275', '276', '290', '288', '286', '284', '285', '277', '278', '283', '293', '273', '279', '272', '269', '262', '281', '274', '263', '265', '256', '260', '266', '264', '229', '259', '230', '247', '245', '249', '234', '268', '267', '235', '239', '270', '258', '248', '242', '241', '236', '240', '231', '243', '237', '233', '250', '255', '251', '254', '244', '238', '232', '220', '246', '209', '212', '214', '218', '227', '225', '217', '211', '219', '213', '224', '204', '207', '215', '191', '221', '223', '203', '200', '202', '216', '199', '226', '210', '205', '222', '196', '197', '187', '184', '186', '185', '177', '189', '178', '195', '194', '192', '188', '193', '198', '181', '190', '182', '201', '171', '176', '154', '159', '165', '164', '149', '162', '166', '161', '160', '151', '163', '157', '155', '170', '148', '153', '169', '130', '158', '150', '135', '156', '120', '146', '124', '121', '152', '147', '95', '167', '101', '143', '119', '136', '134', '127', '133', '140', '122', '129', '132', '123', '137', '118', '104', '126', '125', '96', '138', '93', '102', '116', '115', '107', '98', '110', '90', '106', '99', '105', '103', '112', '94', '92', '40', '38', '35', '31', '37', '100', '88', '89', '108', '97', '111', '91', '87', '85', '34', '44', '39', '45', '42', '50', '41', '28', '52', '47', '51', '36', '53', '43', '48', '49', '32', '30', '57', '46', '56', '25', '620', '635', '625', '590', '585', '600', '388', '369', '352', '378', '368', '367', '334', '341', '323', '338', '366', '337', '324', '319', '289', '257', '294', '271', '299', '261', '306', '282', '253', '252', '206', '228', '183', '180', '175', '179', '208', '174', '172', '145', '173', '128', '139', '168', '26', '33', '117', '141', '131', '142', '113', '114', '55', '27', '54', '640', '650', '383', '377', '386', '373', '372', '376', '356', '109', '79', '351', '144', '86', '1', '60', '19', '331', '364', '0', '22', '374', '382', '384', '371', '4', '403', '404', '401', '407', '387', '379', '2340', '381', '391', '389', '29', '402', '406', '398', '59', '80', '81', '453', '467', '427', '394', '396', '412', '408', '438', '446', '392', '422', '67', '83', '70', '84', '77', '82', '73', '72', '75', '64', '74', '501', '497', '508', '503', '512', '507', '516', '489', '494', '493', '518', '477', '488', '482', '498', '499', '478', '476', '479', '487', '486', '481', '472', '393', '397', '414', '78', '432', '417', '409', '399', '416', '426', '413', '434', '423', '428', '418', '419', '444', '447', '437', '454', '436', '429', '411', '439', '462', '451', '456', '459', '449', '466', '464', '431', '458', '463', '433', '473', '457', '468', '471', '469', '492', '452', '441', '443', '448', '474', '461', '24', '517', '506', '484', '421', '424', '442', '608', '496', '527', '539', '537', '522', '491', '526', '513', '519', '645', '58', '68', '76', '23', '71', '822', '66', '65', '61', '62', '20', '3', '2']
---------------------------------------------------------------------------
DEAD:
 ['ПАЛА ; Прочее ; УВЗ8', 'ПАЛА ; Пневмония ; УВЗ1', 'ПАЛА ; Травмы ; УВЗ5', 'ПАЛА ; Послеродовое ; УВЗ2', 'ПАЛА ; Болезни ЖКТ ; УВЗ3', 'ПАЛА ; Пневмония ; УВЗ3', 'ПАЛА ; Болезни печени ; УВЗ11', 'ПАЛА ; Прочее ; ПАЛА', 'ПАЛА ; Репродукция ; УВЗ6']
---------------------------------------------------------------------------
MOVE:
 ['F001T023', 'F006T003', 'F004T012', 'F011T042', 'F010T007', 'F017T018', 'F044T021', 'F021T002', 'F006T012', 'F011T003', 'F003T043', 'F021T044', 'F011T004', 'F010T013', 'F017T045', 'F011T005', 'F004T007', 'F010T005', 'F004T003', 'F005T012', 'F013T003', 'F043T007', 'F010T011', 'F010T006', 'F006T007', 'F010T012', 'F011T007', 'F012T042', 'F007T004', 'F002T043', 'F005T003', 'F002T044', 'F044T002', 'F005T007', 'F007T005', 'F004T021', 'F002T023', 'F004T005', 'F005T004', 'F011T012', 'F042T001', 'F041T042', 'F001T041', 'F010T004', 'F007T006', 'F013T023', 'F011T013', 'F011T006', 'F003T013', 'F010T003', 'F044T042', 'F011T010', 'F007T012', 'F012T023', 'F005T013', 'F013T042', 'F004T006', 'F007T042', 'F010T042', 'F003T023', 'F007T001', 'F002T021', 'F013T043', 'F005T042', 'F004T009', 'F005T008', 'F010T041', 'F012T010', 'F006T001', 'F045T017', 'F006T042', 'F041T012', 'F012T041', 'F042T041', 'F011T041', 'F004T042', 'F010T009', 'F018T045', 'F007T003', 'F006T013', 'F013T044', 'F009T011', 'F001T010', 'F001T042', 'F045T018', 'F021T043', 'F003T012', 'F002T042', 'F001T007', 'F007T008', 'F008T011', 'F011T001', 'F008T005', 'F044T005', 'F006T005', 'F006T008', 'F001T003', 'F044T041', 'F009T008', 'F009T010', 'F009T007', 'F009T003', 'F003T042', 'F042T043', 'F007T010', 'F006T010', 'F001T021', 'F021T023', 'F006T011', 'F002T010', 'F044T012', 'F009T012', 'F011T009', 'F003T010', 'F008T013', 'F043T003', 'F043T042', 'F042T012', 'F010T002', 'F004T011', 'F002T013', 'F008T007', 'F009T042', 'F043T010', 'F010T008', 'F023T004', 'F013T004', 'F010T001', 'F009T044', 'F008T006', 'F008T012', 'F002T011', 'F008T009', 'F003T011', 'F008T003', 'F003T007', 'F009T006', 'F008T042', 'F004T013', 'F032T018', 'F007T009', 'F009T005', 'F007T021', 'F031T032', 'F032T040', 'F008T004', 'F028T032', 'F012T009', 'F009T001', 'F003T009', 'F008T041', 'F032T047', 'F047T018', 'F031T047', 'F009T013', 'F002T009', 'F009T002', 'F001T006', 'F031T040', 'F046T034', 'F040T031', 'F030T038', 'F030T031', 'F031T038', 'F040T046', 'F046T040', 'F028T040', 'F031T030', 'F030T028', 'F032T046', 'F047T046', 'F028T047', 'F030T040', 'F031T046', 'F046T031', 'F030T046', 'F046T030', 'F022T030', 'F034T046', 'F025T022', 'F022T027', 'F027T030', 'F022T028', 'F028T030', 'F022T046', 'F024T030', 'F034T029', 'F029T024', 'F029T022', 'F024T027', 'F024T040', 'F040T034', 'F034T040', 'F040T022', 'F029T040', 'F022T034', 'F027T040', 'F027T038', 'F029T030', 'F030T022', 'F024T046', 'F038T034', 'F038T040', 'F016T038', 'F042T023', 'F012T003', 'F043T006', 'F044T023', 'F005T001', 'F006T004', 'F043T011', 'F009T004', 'F012T005', 'F045T044', 'F007T011', 'F006T021', 'F003T006', 'F001T012', 'F012T011', 'F042T044', 'F006T043', 'F006T041', 'F007T043', 'F006T009', 'F003T041', 'F004T044', 'F005T006', 'F012T007', 'F001T005', 'F003T021', 'F003T001', 'F018T040', 'F031T018', 'F047T040', 'F028T046', 'F030T048', 'F048T031', 'F030T045', 'F045T046', 'F028T031', 'F022T024', 'F029T046', 'F029T027', 'F027T046', 'F034T022', 'F042T005', 'F005T021', 'F012T006', 'F003T004', 'F004T041', 'F042T003', 'F012T001', 'F043T012', 'F012T002', 'F043T005', 'F003T005', 'F005T011', 'F002T012', 'F042T008', 'F034T038', 'F044T001', 'F004T008', 'F008T010', 'F008T001', 'F028T038', 'F031T028', 'F028T048', 'F048T046', 'F040T030', 'F024T034', 'F034T024', 'F038T016', 'F018T021', 'F010T000', 'F021T003', 'F011T002', 'F006T000', 'F005T000', 'F044T003', 'F001T043', 'F002T003', 'F043T004', 'F017T042', 'F004T001', 'F012T021', 'F043T001', 'F002T001', 'F007T041', 'F009T000', 'F047T017', 'F043T008', 'F031T017', 'F003T008', 'F001T002', 'F002T008', 'F042T002', 'F028T017', 'F047T045', 'F017T030', 'F030T017', 'F017T040', 'F046T045', 'F048T028', 'F048T040', 'F048T030', 'F012T004', 'F042T006', 'F042T045', 'F006T044', 'F004T010', 'F021T042', 'F005T009', 'F011T008', 'F012T008', 'F008T002', 'F042T009', 'F009T021', 'F040T017', 'F017T046', 'F038T046', 'F045T040', 'F046T038', 'F038T030', 'F029T034', 'F038T029', 'F034T030', 'F005T023', 'F023T005', 'F044T011', 'F041T043', 'F010T023', 'F023T042', 'F041T007', 'F043T021', 'F017T005', 'F007T044', 'F012T044', 'F001T011', 'F003T002', 'F031T011', 'F028T011', 'F031T045', 'F045T011', 'F028T018', 'F003T044', 'F040T038', 'F030T029', 'F030T024', 'F002T041', 'F010T043', 'F043T044', 'F021T001', 'F011T018', 'F001T009', 'F043T041', 'F018T046', 'F011T045', 'F011T040', 'F040T045', 'F046T028', 'F024T028', 'F024T029', 'F011T038', 'F028T024', 'F011T046', 'F041T006', 'F021T017', 'F024T031', 'F005T041', 'F011T031', 'F044T043', 'F021T007', 'F021T000', 'F004T043', 'F001T004', 'F000T002', 'F044T000', 'F011T028', 'F005T010', 'F043T002', 'F001T008', 'F009T041', 'F021T008', 'F042T004', 'F012T043', 'F046T029', 'F042T010', 'F008T043', 'F015T038', 'F004T002', 'F002T004', 'F040T028', 'F046T018', 'F005T043', 'F002T007', 'F009T043', 'F008T021', 'F021T004', 'F045T021', 'F018T011', 'F041T001', 'F021T012', 'F002T029', 'F024T038', 'F030T034', 'F040T024', 'F034T036', 'F038T036', 'F000T017', 'F017T000', 'F042T007', 'F036T038', 'F036T034', 'F031T050', 'F028T050', 'F017T007', 'F050T046', 'F050T030', 'F001T044', 'F005T050', 'F007T050', 'F010T050', 'F008T050', 'F041T044', 'F013T001', 'F042T021', 'F018T042', 'F041T009', 'F046T011', 'F028T023', 'F031T023', 'F001T013', 'F007T013', 'F012T013', 'F043T013', 'F013T005', 'F044T013', 'F040T029', 'F023T050', 'F050T023', 'F023T011', 'F023T028', 'F002T005', 'F044T050', 'F043T050', 'F001T050', 'F012T050', 'F042T050', 'F041T050', 'F050T042', 'F030T023', 'F018T044', 'F003T050', 'F009T050', 'F002T050', 'F017T050', 'F021T050', 'F050T005', 'F030T050', 'F046T050', 'F029T050', 'F034T050', 'F036T029', 'F036T030', 'F030T033', 'F024T033', 'F033T046', 'F038T037', 'F015T037', 'F033T030', 'F029T033', 'F031T033', 'F028T033', 'F050T012', 'F050T041', 'F004T050', 'F050T001', 'F045T050', 'F046T033', 'F040T033', 'F033T040', 'F015T035', 'F010T021', 'F023T009', 'F023T008', 'F008T023', 'F023T003', 'F023T010', 'F023T041', 'F023T001', 'F041T004', 'F035T038', 'F033T011', 'F030T032', 'F023T012', 'F046T024', 'F035T037', 'F000T044', 'F023T044', 'F021T005', 'F004T023']
---------------------------------------------------------------------------
SOLD:
 ['ПРОДАНА ; Прочее ; УВЗ8', 'ПРОДАНА ; Мастит ; УВЗ7', 'ПРОДАНА ; МясоКомбинат ; УВЗ13', 'ПРОДАНА ; Травмы ; УВЗ5', 'ПРОДАНА ; Послеродовое ; УВЗ2', 'ПРОДАНА ; Копыта ; УВЗ4', 'ПРОДАНА ; Пневмония ; УВЗ1', 'ПРОДАНА ; Репродукция ; УВЗ6', 'ПРОДАНА ; Бычки ; УВЗ10', 'ПРОДАНА ; Прочее ; УВЗ13', 'ПРОДАНА ; Болезни ЖКТ ; УВЗ3', 'ПРОДАНА ; Прочее ; УВЗ10', 'ПРОДАНА ; Пневмония ; УВЗ10', 'ПРОДАНА ; Травмы ; УВЗ3', 'SOLD ; Бычки ; УВЗ10', 'SOLD ; Прочее ; УВЗ8', 'SOLD ; Травмы ; УВЗ5', 'SOLD ; Болезни ЖКТ ; УВЗ3', 'ПРОДАНА ; Прочее ; УВЗ5', 'ПРОДАНА ; Прочее ; УВЗ3', 'ПРОДАНА ; Прочее ; УВЗ1', 'ПРОДАНА ; Прочее ; УВЗ7', 'ПРОДАНА ; Травмы ; УВЗ8', 'ПРОДАНА ; Прочее ; УВЗ2', 'ПРОДАНА ; Агалактия ; УВЗ9', 'ПРОДАНА ; Болезни печени ; УВЗ11', 'ПРОДАНА ; Причина 12 ; УВЗ12', 'ПРОДАНА ; Прочее ; УВЗ4', 'УВЗ5']
---------------------------------------------------------------------------

VAC:
 ['КОГЛАВАК', 'ЛЕПТО', 'ТРИВАКТ', 'СУПРАВАК', 'ЛТФ', 'КРОВЬ', 'СИБИР', 'РОТАГАЛ', 'ТУБЕР', 'СКОУ']
---------------------------------------------------------------------------
VACVIR:
 ['ВИСТА']
---------------------------------------------------------------------------
FOOTRIM:
 ['КАН', 'РДК', '-', 'РДК3', 'КАН3']
---------------------------------------------------------------------------
HEALTH:
 ['МАСТИТ', 'ХРОМОТА', 'ГИНЕКОЛ', 'ПРОЧИЕ', 'МОЛОДНЯК', 'ПРОЧЕЕ', '611078', 'ХРОМАТА', '812142', 'МАТСТИТ', '912238', '102181', '22592', 'МАСТИТ,', '910092', 'ПОНОС', 'МАСТИТ3']
---------------------------------------------------------------------------
BROKE:
 ['НОГИ', '-', '2 СОСКА', 'ТУГОДОЙ', 'ATP4', 'АТР4', 'АТР1', 'СЛЕПАЯ', 'АТР2', 'АТР3', 'ВЫМЯ', 'АБСЦЕСС', 'ЖИРНАЯ', 'МАТКА', 'БРАКНОГИ', 'Т', 'БТ', 'БЕЛЬМО', '2СОСКА']
---------------------------------------------------------------------------
POT:
 ['ПРОФ2', 'ПРОФОТ']
---------------------------------------------------------------------------
ILLMISC:
 ['ТОЩ2', 'ТОЩ', 'ПОНОС2', 'АБС1', 'ПОНОС', 'РАНА', 'БУР1_?', 'ПУТЫ', 'ПОНОС4', 'БУР1_?51', 'БУР1_?60', 'РИН', 'РУБЕЦ1', 'ПОНОС3', 'ПНЕВМО1', 'БУР1_34', 'ПНЕВМО2', 'ПОНОС5', 'БУР1_', 'СУСТАВ', 'ТУГОДОЙ', 'УШИБ', 'БУР1', 'ГИНТЕЛ', 'ТОЩ3', 'ТИМПАНИЯ', 'РУБЕЦ2', 'ПОНОС7', 'БУР1_2', 'БУР1_1', 'БУР2_?', 'БУР1_1,2', 'БУР1_3', 'БУР1_4', 'КОЛИ', 'РОТА', 'ГАСТРО1', 'ГАСТРО3', 'ГАСТРО4', 'РИН2', 'ПОНОС6', 'ГАСТРО2']
---------------------------------------------------------------------------
LAME:
 ['H2_3', 'H1_4', 'H2_34', 'H2_4', 'N1_3', 'H2_1', 'HP2_4', 'HP2_34', 'HP2_3', 'HP2_2', 'H1_3', 'N1_34', 'H1_34', 'HP1_4', 'M2_4', 'N2_4', 'N2_34', 'V2_3', 'N3_4', 'N1_4', 'H2_2', 'АЭ', 'H1_1', 'N2_3', 'V2_4', 'H2_134', 'V1_4', 'HP1_1', 'H1_2', 'M2_34', 'V3_4', 'M2_3', 'H2_14', 'M1_3', 'M2_1', 'M2_47', 'HP2_1', 'M2_2', 'M1_4', 'V2_2', 'HP1_3', 'H2_13', 'V2_1', 'N1_2', 'V2_34', 'V1_3', 'M1_1', 'HP2_14', 'NK1_4', 'V2_24', 'N3_3', 'V3_3', 'АТ', 'HP2_134', 'NK1_3', 'D1_1', 'H1_', 'HP2_234', 'H2_3,4', 'HP2_3,4', 'H2_1,2', 'V3_2', 'D1_4', 'D1_3', 'D1_2', 'H1_3,4', 'V3_34', 'N2_3,4', 'N3_34', 'AE', 'H2_1_4', 'HP2_1,4', 'M2_13', 'M2_43', 'H2_12', 'HP2_23', 'H2_23', 'V3_1', 'H2_24', 'HP2_124', 'H2_?34', 'HP2_1_4', 'HP2_24', 'H2_?3', 'HP1_2', 'N3_47', 'N1_3,4', 'V1_1', 'D1_124', 'D1_14', 'D1_23', 'HP2_1,3', 'HP2_12', 'HP2_13', 'V2_6', 'HP2_?', 'V1_2', 'M1_34', 'M1_2', 'M2_23', 'D1_1_4', 'D1_12', 'D1_13', 'H2_43', 'V3_23', 'N2_2', 'H1_24', 'HP1_34', 'HP2_1_3', 'HP2_123', 'H1_?1', 'V3_43', 'H1_12', 'V2_12', 'V3_3,4', 'M2_3,4', 'HP2_1,', 'V2_1,2', 'N3_2', 'N3_3,4', 'V1_34', 'N1_23', 'H2_124', 'V3_13', 'V2_1,3', 'V2_3,4', 'V1_3,4', 'V3_1,3', 'HP2_1-4', 'N2_1', 'M2_6', 'N2_2,4', 'HP2_2,4', 'H2_2,4', 'HP1_1_4', 'V2_1_3', 'V2_23', 'H1_23', 'V1_43', 'V2_2,', 'V1_35', 'H1_3,4,', 'N1_1', 'N1_43', 'N1_14', 'HP1_12', 'H2_4,', 'N2_', 'V1_14', 'HP1_14', 'V1_5', 'HP1_3,4', 'HP2_3,', 'H2_1,4', 'H1_13', 'H2_123', 'H2_1-4', 'H1_1,2', 'H1_14', 'M1_13', 'N1_1_4', 'N2_24', 'V2_14']
---------------------------------------------------------------------------
KETOS:
 ['КЕТОЗ1', 'КЕТОЗ2']
---------------------------------------------------------------------------
MAST:
 ['МВ', 'ТМ6_34', 'КМ4_134', 'КМ3_4', 'КМ5_34', 'КМ5_3', 'КМ5_12', 'КМ6_234', 'КМ5_1', 'КМ4_1', 'КМ4_12', 'КМ6_1', 'КМ1_1', 'КМ3_123', 'КМ5_?23', 'КМ3_1_4', 'КМ6_14', 'КМ4_1_4', 'СКМ4_4', 'КМ5_23', 'КМ1_1_4', 'КМ6_2', 'КМ4_4', 'КМ1_24', 'КМ5_234', 'КМ3_34', 'КМ5_4', 'КМ1_4', 'КМ3_3', 'КМ3_2', 'КМ4_123', 'КМ6_3', 'КМ5_13', 'КМ6_1_4', 'КМ5_1_4', 'КМ4_2', 'КМ5_2', 'КМ5_123', 'КМ4_34', 'КМ6_34', 'КМ1_34', 'КМ6_4', 'КМ6_23', 'КМ4_23', 'КМ1_134', 'КМ5_14', 'СКМ4_34', 'КМ3_14', 'КМ3_234', 'КМ3_1', 'СКМ4_1', 'КМ4_14', 'КМ2_14', 'ТМ3_3', 'КМ1_3', 'ТМ1_4', 'ТМ4_4', 'СКМ3_1', 'КМ4_234', 'КМ1_2', 'ТМ5_3', 'КМ6_123', 'СКМ3_4', 'КМ1_12', 'КМ1_123', 'КМ2_2', 'КМ6_12', 'КМ3_12', 'КМ2_1_4', 'КМ4_3', 'КМ6_13', 'КМ5_124', 'ТМ6_4', 'ТМ3_4', 'СКМ6_123', 'СКМ6_34', 'ТМ6_24', 'ТМ3_24', 'КМ2_23', 'СКМ6_3', 'КМ4_24', 'КМ3_23', 'КМ1_14', 'КМ3_24', 'КМ6_24', 'КМ4_124', 'ТМ5_4', 'КМ5_24', 'ТМ1_3', 'ТМ4_3', 'СКМ6_1', 'СКМ6_2', 'ТМ5_14', 'ТМ5_2', 'КМ2_13', 'КМ3_13', 'ТМ4_124', 'ТМ1_24', 'СКМ2_14', 'MB', 'СКМ3_34', 'ТМ1_124', 'КМ2_3', 'КМ2_1', 'КМ1_124', 'ТМ5_13', 'ТМ1_13', 'СКМ3_3', 'ТМ2_4', 'ТМ1_34', 'КМ1_13', 'СКМ6_234', 'СКМ2_12', 'КМ1_23', 'КМ3_124', 'СКМ5_12', 'КМ2_4', 'ТМ6_3', 'КМ4_13', 'ТМ1_14', 'ТМ5_124', 'ТМ1_123', 'КМ2_12', 'СКМ5_3', 'СКМ2_1', 'СКМ2_3', 'СКМ3_2', 'СКМ2_2', 'ТМ5_1_4', 'ТМ4_1', 'СКМ5_13', 'СКМ5_1', 'СКМ3_12', 'КМ5_1,4', 'КМ5_2,3', 'КМ3_134', 'ТМ1_1', 'КМ5_1,2', 'СКМ5_1,2', 'ТМ5_2,3', 'КМ3_2,3', 'СКМ6_14', 'КМ4_1,2', 'КМ6_1,4', 'КМ1_2,3', 'КМ2_2,3', 'КМ3_1,2', 'КМ3_1,3', 'КМ5_1,3', 'КМ5_2,4', 'ТМ1_2', 'КМ3_1,4', 'КМ1_1,4', 'ТМ5_23', 'КМ5_134', 'ТМ3_12', 'КМ1_2,4', 'КМ4_2,3', 'ТМ4_2', 'СКМ5_1_4', 'ТМ5_1,2', 'СКМ6_124', 'КМ1_234', 'КМ4_3,4', 'СКМ2_124', 'КМ4_1,4', 'ТМ4_T', 'КМ5_3,4', 'КМ6_124', 'КМ2_134', 'КМ6_2,4', 'ТМ1_1_4', 'СКМ4_1_4', 'КМ2_34', 'ТМ5_1', 'КМ2_1,2', 'КМ2_124', 'КМ1_?24', 'ТМ2_3', 'ТМ4_14', 'КМ7_1', 'КМ7_2', 'КМ8_134', 'КМ8_14', 'КМ2_234', 'КМ7_23', 'КМ8_12', 'КМ4_1,3', 'КМ8_1', 'СКМ2_1_4', 'КМ7_12', 'КМ7_34', 'КМ8_34', 'КМ8_3', 'КМ8_1_4', 'КМ6_134', 'КМ7_24', 'КМ2_24', 'КМ7_14', 'КМ8_2', 'КМ7_13', 'ТМ4_34', 'КМ8_4', 'КМ2_123', 'КМ7_1_4', 'КМ8_124', 'КМ7_3', 'КМ7_?', 'КМ2_2,4', 'ТМ5_34', 'КМ7_4', 'СКМ5_4', 'СКМ2_3,4', 'СКМ2_4', 'СКМ5_14', 'СКМ3_1_4', 'СКМ4_2', 'ТМ5_24', 'КМ1_3,4', 'КМ1_1,3', 'ТМ5_12', 'КМ1_', 'СКМ3_14', 'СКМ3_234', 'СКМ3_124', 'СКМ5_34', 'СКМ5_123', 'СКМ3_24', 'СКМ3_13', 'СКМ5_2', 'СКМ1_3', 'СКМ1_4', 'СКМ1_1_4', 'СКМ1_3,4', 'СКМ1_12', 'СКМ1_2', 'СКМ1_14', 'СКМ1_134', 'СКМ5_24', 'СКМ1_34', 'СКМ5_23', 'СКМ4_23', 'ТМ6_', 'КМ3_2,4', 'КМ6_,3', 'КМ6_1,2', 'КМ6_3,4', 'СКМ6_1,2', 'КМ6_43', 'ТМ6_6', 'КМ5_3_4', 'СКМ5_3,4', 'ТМ6_?', 'ТМ3_1', 'КМ6_?4', 'ТМ9_?', 'ТМ2_2', 'ТМ9_3', 'ТМ9_23', 'ТМ9_2', 'ТМ9_4', 'ТМ2_2,3', 'КМ3_3,4', 'СКМ4_3', 'ТМ9_3,4', 'КМ3_1-4', 'КМ1_1-4', 'КМ4_?', 'ТМ9_', 'КМ4_43', 'ТМ9_1', 'ТМ9_34', 'ТМ9_14', 'СКМ4_234', 'КМ1_1,2', 'ТМ1_2,3', 'СКМ3_1-4', 'ТМ3_2', 'СКМ4_134', 'ТМ9_1_4', 'ТМ9_12', 'ТМ9_2,3', 'ТМ9_13', 'КМ2_3,4', 'ТМ1_23', 'ТМ3_23', 'СКМ4_12', 'СКМ4_13', 'ТМ3_34', 'СКМ3_123', 'КМ1_1-3', 'СКМ4_1-4', 'ТМ9_4,', 'ТМ3_3,4', 'СКМ3_2,3', 'ТМ6_13', 'ТМ6_2', 'ТМ1_', 'ТМ3_14', 'ТМ1_3,4', 'СКМ4_1,2', 'КМ4_1-4', 'КМ4_2,4', 'ТМ1_1,4', 'ТМ6_2,3', 'КМ2_1,3', 'ТМ6_14', 'ТМ2_1', 'ТМ9_24', 'ТМ1_1,3', 'ТМ3_13', 'КМ1_1,4,', 'КМ2_1,4', 'КМ1_2-4', 'ТМ3_2,3', 'ТМ4_12', 'ТМ9_1,3', 'ТМ4_23', 'КМ5_?', 'ТМ2_2,4', 'КМ6_?', 'ТМ2_24', 'ТМ2_123', 'ТМ1_12', 'КМ6_2,3', 'ТМ2_3,4', 'СКМ6_1,4', 'СКМ6_1_4', 'СКМ6_1,3', 'СКМ6_4']
---------------------------------------------------------------------------
METR:
 ['Э1', 'Э3']
---------------------------------------------------------------------------
PARES:
 ['ПАРЕЗ']
---------------------------------------------------------------------------
RP:
 ['ПОСЛЕД2', 'ПОСЛЕД']
---------------------------------------------------------------------------

**Механика парсинга**.

In [8]:
def splitter(s):
    return s.split(';')[1] if len(s.split(';')) > 1 else 'OTHER'

df['remark'] = df.apply(lambda row: splitter(row.remark) if (row.event == 'SOLD' or row.event == 'DEAD') else row.remark, axis=1)

In [9]:
import itertools

def rule_name(s):
    symbols = (u'АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ0123456789_', u'ABVGDEEJZIJKLMNOPRSTUFHZCSS_Y_EUA0123456789_')
    trans = {ord(a):ord(b) for a, b in zip(*symbols)}
    return ''.join(list(map(lambda val: val.translate(trans), s)))

class ParsingRule:
    def __init__(self, match, parser, name = ''):
        self.name  = rule_name(name)
        self.parse = parser
        self.match = match
    
    @staticmethod
    def match_in(match_list, parse, name=''):
        return ParsingRule(lambda x: x in match_list, parse, name)
    
    @staticmethod
    def match_str(match_str, parse, name=''):
        return ParsingRule(lambda x: x == match_str, parse, name)
    
    @staticmethod
    def match_reg(reg, parse, name=''):
        return ParsingRule(lambda x: reg.match(x), parse, name)


def satisfy(s, rules):
    return any([r.match(s) for r in rules])
    
def uniq(names):
    return [ParsingRule.match_str(s, lambda x: 1, rule_name(s)) for s in names]

def combi(rules, names):
    return rules + [ParsingRule.match_str(s, lambda x: 1, rule_name(s)) for s in names if not satisfy(s, rules)]

def comp(rules, names):
    return rules + [ParsingRule.match_in([s for s in names if not satisfy(s, rules)], lambda x: 1, rule_name('OTHER'))]

#-------

def prot_id(s):
    a = re.search(r"\d", s)
    b = re.search(r"_", s)
    m = 0 if not a else a.start()
    n = 0 if not b else b.start()
    return int(s[m:n:]) if n > m else 0

def prot_name(s):
    a = re.search(r"\d", s)
    m = 0 if not a else a.start()
    return s[0:m:] if m else s

def prot_nums(s):
    s.replace('?', '1')
    m = []
    t = s[s.find('_')+ 1::]
    for i in range(len(t)):
        if t[i] == '_' or t[i] == '-':
            for j in range(int(t[i - 1])+1, int(t[i + 1])):
                m.append(j)
        elif t[i].isdigit():
            m.append(int(t[i]))
    return set(m)


def prot(protocols):
    prot_splited = itertools.product(list(set(map(prot_name, protocols))), list(set(map(prot_id, protocols))), [0, 1, 2, 3, 4])
    return [ParsingRule(lambda x: prot_name(x) == p[0] and
                                  prot_id(x)   == p[1] and 
                                  (p[2] == 0 or p[2] in prot_nums(x)), lambda x: 1, f'{p[0]}{p[1]}_0{p[2]}') for p in prot_splited]

Задаем правила парсинга:

In [10]:
lambda_bin = lambda x: 1

# 'ABORT':
RemarksABORT = [ParsingRule.match_in(['ЖТ', 'ЖТ,'], lambda_bin, 'ЖТ'),
ParsingRule.match_in(['ДС', 'ДЛ СХЕМА', 'ДЛ СХ'], lambda_bin, 'СХ'),
ParsingRule.match_in(['БЖТ', 'БЕЗ ЖТ'], lambda_bin, 'БЖТ'),
ParsingRule.match_str('ФК', lambda_bin, 'ФК'), 
ParsingRule.match_str('ЛК', lambda_bin, 'ЛК')]

# 'HEALTH':
RemarksHEALTH = [ParsingRule.match_in(['МАТСТИТ', 'МАСТИТ,', 'МАСТИТ3', 'МАСТИТ'], lambda_bin, 'МАСТИТ'),
ParsingRule.match_in(['ХРОМОТА', 'ХРОМАТА'], lambda_bin, 'ХРОМОТА')]

#'BROKE':
RemarksBROKE = [ParsingRule.match_in(['НОГИ', 'БРАКНОГИ'], lambda_bin, 'НОГИ'),
ParsingRule.match_in(['2СОСКА', '2 СОСКА', 'ТУГОДОЙ', 'ATP4', 'АТР4', 'АТР1',  'АТР2', 'АТР3', 'ВЫМЯ'], lambda_bin,'ВЫМЯ'),
ParsingRule.match_in(['БЕЛЬМО', 'СЛЕПАЯ'], lambda_bin, 'СЛЕПАЯ')]

 #'OPEN':
RemarksOPEN = [ParsingRule.match_in(['ФК', 'ФК, СТЕЛ'], lambda_bin, 'ФК'),
ParsingRule.match_in(['ЛК', 'ЛКЭ'], lambda_bin, 'ЛК'),
ParsingRule.match_in(['ЖТ', 'ЖТ Э', 'ЖТ,', 'ЖТ3',  'ЖТМ', 'ЮЖТ', 'ЖТ,ТОЩАЯ','ЖТ ПОЛИК', 'ЖТ ДЛ СХ'], lambda_bin,'ЖТ'),
ParsingRule.match_in(['БЕЗЖТ', 'БЕЗ ЖТ'], lambda_bin,'БЖТ'),
ParsingRule.match_in(['АБС', 'БРАК АБС', 'БР МАТКА', 'БРАКАБС', 'АБ МАТКИ','ЖТ/АБС'], lambda_bin, 'АБЦ'),
ParsingRule.match_in(['ПК', 'ПОЛИКИСТ', 'ПОЛИКИС', 'ЖТ ПОЛИК'], lambda_bin,'ПК'),
ParsingRule.match_in(['ГПФ', 'ГИПОФУНК', 'ГИПОФ'], lambda_bin, 'ГПФ'),
ParsingRule.match_in(['БПАК', 'БРАК', 'ХУДАЯ', 'БРАКНОГИ', 'БРАКТОЩА', 'БРАКЖИРН', 'БР ЖИРНА', 'ИЗ БРАКА'], lambda_bin, 'БРАК'),
ParsingRule.match_in(['ФОЛ', 'ФЛ'], lambda_bin, 'ФЛ'),
ParsingRule.match_in(['ДЛ СХ', 'ДЛСХ', 'ДЛ СХЕМА', 'ДЛСХ ОХО','11 СХ','ЖТ ДЛ СХ'], lambda_bin, 'CХ')]
        
#'DNB':
RemarksDNB = [ParsingRule.match_in(['ГИНЕКОЛ' , 'ГЕНИКОЛ' , 'ГЕНЕКОЛ'], lambda_bin, 'ГИН'),
ParsingRule.match_in(['АТП' , 'АТ'], lambda_bin, 'АТ'),
ParsingRule.match_in(['БРАК МОЛ', 'МОЛОКО'], lambda_bin, 'МОЛ'),
ParsingRule.match_in(['ЖИРНАЯ', 'ЖИРН',  'ВЕС', 'ХУДАЯ', 'РОСТ', 'НЕДОРОСТ', 'РАЗВИТИЕ' , 'УЗКИЙТАЗ', 'МЕЛКАЯ'], lambda_bin, 'ВЕС'),
ParsingRule.match_in(['АБС', 'АБСЦЕСС' , 'БРАК АБС' , 'ABC' , 'АБЦ' , 'АБЦЕС' , 'АБЦ ОПУХ' , 'АБСМАТКА', 'БЕЗМАТКИ' , 'БЕЗМЕТКИ'], lambda_bin, 'АБЦ'),
ParsingRule.match_in(['АГАЛАКТ', 'АГАЛАКТИ'], lambda_bin, 'АГ'),
ParsingRule.match_in(['МАСТИТ', 'МАСТ'], lambda_bin, 'МАСТ'),
ParsingRule.match_in(['ТУГОДОЙ', 'НАДОЙ', 'ТОНК СОС',  'ВЫМЯТРОЦ' ], lambda_bin, 'ВЫМЯ'),
ParsingRule.match_in(['БРАКНОГИ', 'ТРОЦНОГИ', 'НОГИТРОЦ', 'НОГИ ТОЩ'], lambda_bin,'НОГИ'),
ParsingRule.match_in(['ТОЩ', 'ТОЩ СУСТ', 'ТОЩЬ','НОГИ ТОЩ'], lambda_bin,'ТОЩ'),
ParsingRule.match_in(['СЛЕПАЯ', 'ГЛАЗА', 'БЕЗГЛАЗА'], lambda_bin, 'CЛЕПАЯ')]
               
 #'DRY':
RemarksDRY = [ParsingRule.match_in(['CEBA', 'СЕВА', 'СEBA', 'АТР124', 'AZIT'], lambda_bin, 'СЕВА')]

In [11]:
RuleBin  = ParsingRule(lambda x: 1, lambda x: 1, 'BIN')
RuleNum  = ParsingRule.match_reg(re.compile('[0-9]*'), lambda x: int(x) if x.isdigit() else 0, 'INT') 
RuleDays = ParsingRule.match_reg(re.compile('[0-9]* ((ДНИ)|(DAYS))'), lambda x: int(x[0:-4]) if re.match('[0-9]* (ДНИ)', x) else int(x[0:-5]), 'DAYS')

EventRules = {
    'ABORT'   : comp([RuleDays] + RemarksABORT, remarks('ABORT')),
    'TOSCM'   : uniq(remarks('TOSCM')), 
    'NULSCM'  : [RuleBin],
    'DNB'     : comp(RemarksDNB, remarks('DNB')),
    'BRED'    : uniq(remarks('BRED')), 
    'FRESH'   : [RuleBin],  
    'PREG'    : [RuleDays], 
    'PREGBEF' : [RuleDays],
    'DRY'     : comp(RemarksDRY, ('DRY')),
    'DRY2'    : [RuleBin],
    'OPEN'    : comp(RemarksOPEN,('OPEN')), 
    #-------
    'WEIGHT'  : [RuleNum],
    'DEAD'    : uniq(remarks('DEAD')),
    'MOVE'    : [RuleBin],
    'SOLD'    : uniq(remarks('SOLD')),
    #-------
    'VAC'     : uniq(remarks('VAC')),
    'VACVIR'  : uniq(remarks('VACVIR')),
    'FOOTRIM' : uniq(remarks('FOOTRIM')),
    'HEALTH'  : comp(RemarksHEALTH, remarks('HEALTH')),
    'BROKE'   : comp(RemarksBROKE, remarks('BROKE')),
    'POT'     : uniq(remarks('POT')),
    'ILLMISC' : prot(remarks('ILLMISC')),
    'LAME'    : prot(remarks('LAME')),
    'KETOS'   : uniq(remarks('KETOS')),
    'MAST'    : prot(remarks('MAST')),
    'METR'    : uniq(remarks('METR')),
    'PARES'   : uniq(remarks('PARES')),
    'RP'      : uniq(remarks('RP')),
}

#Get All Rules:
print("Правила парсинга:")
for event in EventRules.keys():
    #print(event+':')
    for rule in EventRules[event]:
        rule.name = event + '_' + rule_name(rule.name.upper())
        print(rule.name)
    print('--------------------')

Правила парсинга:
ABORT_DAYS
ABORT_JT
ABORT_SH
ABORT_BJT
ABORT_FK
ABORT_LK
ABORT_OTHER
--------------------
TOSCM_5
TOSCM_9
TOSCM_11
TOSCM_2
TOSCM_13
TOSCM_14
TOSCM_15
TOSCM_16
TOSCM_40
TOSCM_31
TOSCM_29
TOSCM_30
TOSCM_38
TOSCM_33
TOSCM_46
TOSCM_34
TOSCM_36
TOSCM_55
TOSCM_60
TOSCM_53
TOSCM_37
TOSCM_52
TOSCM_42
TOSCM_43
TOSCM_58
TOSCM_47
TOSCM_48
TOSCM_41
TOSCM_49
--------------------
NULSCM_BIN
--------------------
DNB_GIN
DNB_AT
DNB_MOL
DNB_VES
DNB_ABZ
DNB_AG
DNB_MAST
DNB_VYMA
DNB_NOGI
DNB_TOS
DNB_CLEPAA
DNB_OTHER
--------------------
BRED_1H11917
BRED_1H11673
BRED_1H11978
BRED_CALGARY
BRED_1H11344
BRED_777H10778
BRED_PLUTON
BRED_777H10771
BRED_777H10777
BRED_777H10574
BRED_777H10690
BRED_1H13162
BRED_200H528
BRED_1H12902
BRED_1H12490
BRED_1H11372
BRED_777H11079
BRED_777H10915
BRED_777H11243
BRED_1H13471
BRED_200H10591
BRED_1H13411
BRED_1H11913
BRED_TOUCH
BRED_1H15057
BRED_1H13456
BRED_1H14138
BRED_777H15000
BRED_777H15074
BRED_FEIM
BRED_ANSVER
BRED_501H15074
BRED_501H15000
BRED_1H13878
BRED_501H14018
BRED_1H15132
BRED_1H15185
BRED_1H15184
BRED_501H15132
BRED_501H15681
BRED_1H15689
BRED_501H15515
BRED_501H15184
BRED_1H15461
BRED_601H15575
BRED_7H14578
BRED_614H15481
BRED_1H15879
BRED_507H15248
--------------------
FRESH_NULSCM_BIN
--------------------
PREG_ABORT_DAYS
--------------------
PREGBEF_PREG_ABORT_DAYS
--------------------
DRY_SEVA
DRY_OTHER
--------------------
DRY2_FRESH_NULSCM_BIN
--------------------
OPEN_FK
OPEN_LK
OPEN_JT
OPEN_BJT
OPEN_ABZ
OPEN_PK
OPEN_GPF
OPEN_BRAK
OPEN_FL
OPEN_CH
OPEN_OTHER
--------------------
WEIGHT_INT
--------------------
DEAD_ PROCEE
DEAD_ PNEVMONIA
DEAD_ TRAVMY
DEAD_ POSLERODOVOE
DEAD_ BOLEZNI JKT
DEAD_ BOLEZNI PECENI
DEAD_ REPRODUKZIA
--------------------
MOVE_DRY2_FRESH_NULSCM_BIN
--------------------
SOLD_ PROCEE
SOLD_ MASTIT
SOLD_ MASOKOMBINAT
SOLD_ TRAVMY
SOLD_ POSLERODOVOE
SOLD_ KOPYTA
SOLD_ PNEVMONIA
SOLD_ REPRODUKZIA
SOLD_ BYCKI
SOLD_ BOLEZNI JKT
SOLD_ AGALAKTIA
SOLD_ BOLEZNI PECENI
SOLD_ PRICINA 12
SOLD_OTHER
--------------------
VAC_KOGLAVAK
VAC_LEPTO
VAC_TRIVAKT
VAC_SUPRAVAK
VAC_LTF
VAC_KROV_
VAC_SIBIR
VAC_ROTAGAL
VAC_TUBER
VAC_SKOU
--------------------
VACVIR_VISTA
--------------------
FOOTRIM_KAN
FOOTRIM_RDK
FOOTRIM_-
FOOTRIM_RDK3
FOOTRIM_KAN3
--------------------
HEALTH_MASTIT
HEALTH_HROMOTA
HEALTH_OTHER
--------------------
BROKE_NOGI
BROKE_VYMA
BROKE_SLEPAA
BROKE_OTHER
--------------------
POT_PROF2
POT_PROFOT
--------------------
ILLMISC_ABS0_00
ILLMISC_ABS0_01
ILLMISC_ABS0_02
ILLMISC_ABS0_03
ILLMISC_ABS0_04
ILLMISC_ABS1_00
ILLMISC_ABS1_01
ILLMISC_ABS1_02
ILLMISC_ABS1_03
ILLMISC_ABS1_04
ILLMISC_ABS2_00
ILLMISC_ABS2_01
ILLMISC_ABS2_02
ILLMISC_ABS2_03
ILLMISC_ABS2_04
ILLMISC_SUSTAV0_00
ILLMISC_SUSTAV0_01
ILLMISC_SUSTAV0_02
ILLMISC_SUSTAV0_03
ILLMISC_SUSTAV0_04
ILLMISC_SUSTAV1_00
ILLMISC_SUSTAV1_01
ILLMISC_SUSTAV1_02
ILLMISC_SUSTAV1_03
ILLMISC_SUSTAV1_04
ILLMISC_SUSTAV2_00
ILLMISC_SUSTAV2_01
ILLMISC_SUSTAV2_02
ILLMISC_SUSTAV2_03
ILLMISC_SUSTAV2_04
ILLMISC_TOS0_00
ILLMISC_TOS0_01
ILLMISC_TOS0_02
ILLMISC_TOS0_03
ILLMISC_TOS0_04
ILLMISC_TOS1_00
ILLMISC_TOS1_01
ILLMISC_TOS1_02
ILLMISC_TOS1_03
ILLMISC_TOS1_04
ILLMISC_TOS2_00
ILLMISC_TOS2_01
ILLMISC_TOS2_02
ILLMISC_TOS2_03
ILLMISC_TOS2_04
ILLMISC_BUR0_00
ILLMISC_BUR0_01
ILLMISC_BUR0_02
ILLMISC_BUR0_03
ILLMISC_BUR0_04
ILLMISC_BUR1_00
ILLMISC_BUR1_01
ILLMISC_BUR1_02
ILLMISC_BUR1_03
ILLMISC_BUR1_04
ILLMISC_BUR2_00
ILLMISC_BUR2_01
ILLMISC_BUR2_02
ILLMISC_BUR2_03
ILLMISC_BUR2_04
ILLMISC_RUBEZ0_00
ILLMISC_RUBEZ0_01
ILLMISC_RUBEZ0_02
ILLMISC_RUBEZ0_03
ILLMISC_RUBEZ0_04
ILLMISC_RUBEZ1_00
ILLMISC_RUBEZ1_01
ILLMISC_RUBEZ1_02
ILLMISC_RUBEZ1_03
ILLMISC_RUBEZ1_04
ILLMISC_RUBEZ2_00
ILLMISC_RUBEZ2_01
ILLMISC_RUBEZ2_02
ILLMISC_RUBEZ2_03
ILLMISC_RUBEZ2_04
ILLMISC_PONOS0_00
ILLMISC_PONOS0_01
ILLMISC_PONOS0_02
ILLMISC_PONOS0_03
ILLMISC_PONOS0_04
ILLMISC_PONOS1_00
ILLMISC_PONOS1_01
ILLMISC_PONOS1_02
ILLMISC_PONOS1_03
ILLMISC_PONOS1_04
ILLMISC_PONOS2_00
ILLMISC_PONOS2_01
ILLMISC_PONOS2_02
ILLMISC_PONOS2_03
ILLMISC_PONOS2_04
ILLMISC_TUGODOJ0_00
ILLMISC_TUGODOJ0_01
ILLMISC_TUGODOJ0_02
ILLMISC_TUGODOJ0_03
ILLMISC_TUGODOJ0_04
ILLMISC_TUGODOJ1_00
ILLMISC_TUGODOJ1_01
ILLMISC_TUGODOJ1_02
ILLMISC_TUGODOJ1_03
ILLMISC_TUGODOJ1_04
ILLMISC_TUGODOJ2_00
ILLMISC_TUGODOJ2_01
ILLMISC_TUGODOJ2_02
ILLMISC_TUGODOJ2_03
ILLMISC_TUGODOJ2_04
ILLMISC_KOLI0_00
ILLMISC_KOLI0_01
ILLMISC_KOLI0_02
ILLMISC_KOLI0_03
ILLMISC_KOLI0_04
ILLMISC_KOLI1_00
ILLMISC_KOLI1_01
ILLMISC_KOLI1_02
ILLMISC_KOLI1_03
ILLMISC_KOLI1_04
ILLMISC_KOLI2_00
ILLMISC_KOLI2_01
ILLMISC_KOLI2_02
ILLMISC_KOLI2_03
ILLMISC_KOLI2_04
ILLMISC_GASTRO0_00
ILLMISC_GASTRO0_01
ILLMISC_GASTRO0_02
ILLMISC_GASTRO0_03
ILLMISC_GASTRO0_04
ILLMISC_GASTRO1_00
ILLMISC_GASTRO1_01
ILLMISC_GASTRO1_02
ILLMISC_GASTRO1_03
ILLMISC_GASTRO1_04
ILLMISC_GASTRO2_00
ILLMISC_GASTRO2_01
ILLMISC_GASTRO2_02
ILLMISC_GASTRO2_03
ILLMISC_GASTRO2_04
ILLMISC_PNEVMO0_00
ILLMISC_PNEVMO0_01
ILLMISC_PNEVMO0_02
ILLMISC_PNEVMO0_03
ILLMISC_PNEVMO0_04
ILLMISC_PNEVMO1_00
ILLMISC_PNEVMO1_01
ILLMISC_PNEVMO1_02
ILLMISC_PNEVMO1_03
ILLMISC_PNEVMO1_04
ILLMISC_PNEVMO2_00
ILLMISC_PNEVMO2_01
ILLMISC_PNEVMO2_02
ILLMISC_PNEVMO2_03
ILLMISC_PNEVMO2_04
ILLMISC_RANA0_00
ILLMISC_RANA0_01
ILLMISC_RANA0_02
ILLMISC_RANA0_03
ILLMISC_RANA0_04
ILLMISC_RANA1_00
ILLMISC_RANA1_01
ILLMISC_RANA1_02
ILLMISC_RANA1_03
ILLMISC_RANA1_04
ILLMISC_RANA2_00
ILLMISC_RANA2_01
ILLMISC_RANA2_02
ILLMISC_RANA2_03
ILLMISC_RANA2_04
ILLMISC_GINTEL0_00
ILLMISC_GINTEL0_01
ILLMISC_GINTEL0_02
ILLMISC_GINTEL0_03
ILLMISC_GINTEL0_04
ILLMISC_GINTEL1_00
ILLMISC_GINTEL1_01
ILLMISC_GINTEL1_02
ILLMISC_GINTEL1_03
ILLMISC_GINTEL1_04
ILLMISC_GINTEL2_00
ILLMISC_GINTEL2_01
ILLMISC_GINTEL2_02
ILLMISC_GINTEL2_03
ILLMISC_GINTEL2_04
ILLMISC_ROTA0_00
ILLMISC_ROTA0_01
ILLMISC_ROTA0_02
ILLMISC_ROTA0_03
ILLMISC_ROTA0_04
ILLMISC_ROTA1_00
ILLMISC_ROTA1_01
ILLMISC_ROTA1_02
ILLMISC_ROTA1_03
ILLMISC_ROTA1_04
ILLMISC_ROTA2_00
ILLMISC_ROTA2_01
ILLMISC_ROTA2_02
ILLMISC_ROTA2_03
ILLMISC_ROTA2_04
ILLMISC_RIN0_00
ILLMISC_RIN0_01
ILLMISC_RIN0_02
ILLMISC_RIN0_03
ILLMISC_RIN0_04
ILLMISC_RIN1_00
ILLMISC_RIN1_01
ILLMISC_RIN1_02
ILLMISC_RIN1_03
ILLMISC_RIN1_04
ILLMISC_RIN2_00
ILLMISC_RIN2_01
ILLMISC_RIN2_02
ILLMISC_RIN2_03
ILLMISC_RIN2_04
ILLMISC_USIB0_00
ILLMISC_USIB0_01
ILLMISC_USIB0_02
ILLMISC_USIB0_03
ILLMISC_USIB0_04
ILLMISC_USIB1_00
ILLMISC_USIB1_01
ILLMISC_USIB1_02
ILLMISC_USIB1_03
ILLMISC_USIB1_04
ILLMISC_USIB2_00
ILLMISC_USIB2_01
ILLMISC_USIB2_02
ILLMISC_USIB2_03
ILLMISC_USIB2_04
ILLMISC_TIMPANIA0_00
ILLMISC_TIMPANIA0_01
ILLMISC_TIMPANIA0_02
ILLMISC_TIMPANIA0_03
ILLMISC_TIMPANIA0_04
ILLMISC_TIMPANIA1_00
ILLMISC_TIMPANIA1_01
ILLMISC_TIMPANIA1_02
ILLMISC_TIMPANIA1_03
ILLMISC_TIMPANIA1_04
ILLMISC_TIMPANIA2_00
ILLMISC_TIMPANIA2_01
ILLMISC_TIMPANIA2_02
ILLMISC_TIMPANIA2_03
ILLMISC_TIMPANIA2_04
ILLMISC_PUTY0_00
ILLMISC_PUTY0_01
ILLMISC_PUTY0_02
ILLMISC_PUTY0_03
ILLMISC_PUTY0_04
ILLMISC_PUTY1_00
ILLMISC_PUTY1_01
ILLMISC_PUTY1_02
ILLMISC_PUTY1_03
ILLMISC_PUTY1_04
ILLMISC_PUTY2_00
ILLMISC_PUTY2_01
ILLMISC_PUTY2_02
ILLMISC_PUTY2_03
ILLMISC_PUTY2_04
--------------------
LAME_AT0_00
LAME_AT0_01
LAME_AT0_02
LAME_AT0_03
LAME_AT0_04
LAME_AT1_00
LAME_AT1_01
LAME_AT1_02
LAME_AT1_03
LAME_AT1_04
LAME_AT2_00
LAME_AT2_01
LAME_AT2_02
LAME_AT2_03
LAME_AT2_04
LAME_AT3_00
LAME_AT3_01
LAME_AT3_02
LAME_AT3_03
LAME_AT3_04
LAME_HP0_00
LAME_HP0_01
LAME_HP0_02
LAME_HP0_03
LAME_HP0_04
LAME_HP1_00
LAME_HP1_01
LAME_HP1_02
LAME_HP1_03
LAME_HP1_04
LAME_HP2_00
LAME_HP2_01
LAME_HP2_02
LAME_HP2_03
LAME_HP2_04
LAME_HP3_00
LAME_HP3_01
LAME_HP3_02
LAME_HP3_03
LAME_HP3_04
LAME_AE0_00
LAME_AE0_01
LAME_AE0_02
LAME_AE0_03
LAME_AE0_04
LAME_AE1_00
LAME_AE1_01
LAME_AE1_02
LAME_AE1_03
LAME_AE1_04
LAME_AE2_00
LAME_AE2_01
LAME_AE2_02
LAME_AE2_03
LAME_AE2_04
LAME_AE3_00
LAME_AE3_01
LAME_AE3_02
LAME_AE3_03
LAME_AE3_04
LAME_AE0_00
LAME_AE0_01
LAME_AE0_02
LAME_AE0_03
LAME_AE0_04
LAME_AE1_00
LAME_AE1_01
LAME_AE1_02
LAME_AE1_03
LAME_AE1_04
LAME_AE2_00
LAME_AE2_01
LAME_AE2_02
LAME_AE2_03
LAME_AE2_04
LAME_AE3_00
LAME_AE3_01
LAME_AE3_02
LAME_AE3_03
LAME_AE3_04
LAME_M0_00
LAME_M0_01
LAME_M0_02
LAME_M0_03
LAME_M0_04
LAME_M1_00
LAME_M1_01
LAME_M1_02
LAME_M1_03
LAME_M1_04
LAME_M2_00
LAME_M2_01
LAME_M2_02
LAME_M2_03
LAME_M2_04
LAME_M3_00
LAME_M3_01
LAME_M3_02
LAME_M3_03
LAME_M3_04
LAME_V0_00
LAME_V0_01
LAME_V0_02
LAME_V0_03
LAME_V0_04
LAME_V1_00
LAME_V1_01
LAME_V1_02
LAME_V1_03
LAME_V1_04
LAME_V2_00
LAME_V2_01
LAME_V2_02
LAME_V2_03
LAME_V2_04
LAME_V3_00
LAME_V3_01
LAME_V3_02
LAME_V3_03
LAME_V3_04
LAME_NK0_00
LAME_NK0_01
LAME_NK0_02
LAME_NK0_03
LAME_NK0_04
LAME_NK1_00
LAME_NK1_01
LAME_NK1_02
LAME_NK1_03
LAME_NK1_04
LAME_NK2_00
LAME_NK2_01
LAME_NK2_02
LAME_NK2_03
LAME_NK2_04
LAME_NK3_00
LAME_NK3_01
LAME_NK3_02
LAME_NK3_03
LAME_NK3_04
LAME_D0_00
LAME_D0_01
LAME_D0_02
LAME_D0_03
LAME_D0_04
LAME_D1_00
LAME_D1_01
LAME_D1_02
LAME_D1_03
LAME_D1_04
LAME_D2_00
LAME_D2_01
LAME_D2_02
LAME_D2_03
LAME_D2_04
LAME_D3_00
LAME_D3_01
LAME_D3_02
LAME_D3_03
LAME_D3_04
LAME_N0_00
LAME_N0_01
LAME_N0_02
LAME_N0_03
LAME_N0_04
LAME_N1_00
LAME_N1_01
LAME_N1_02
LAME_N1_03
LAME_N1_04
LAME_N2_00
LAME_N2_01
LAME_N2_02
LAME_N2_03
LAME_N2_04
LAME_N3_00
LAME_N3_01
LAME_N3_02
LAME_N3_03
LAME_N3_04
LAME_H0_00
LAME_H0_01
LAME_H0_02
LAME_H0_03
LAME_H0_04
LAME_H1_00
LAME_H1_01
LAME_H1_02
LAME_H1_03
LAME_H1_04
LAME_H2_00
LAME_H2_01
LAME_H2_02
LAME_H2_03
LAME_H2_04
LAME_H3_00
LAME_H3_01
LAME_H3_02
LAME_H3_03
LAME_H3_04
--------------------
KETOS_KETOZ1
KETOS_KETOZ2
--------------------
MAST_SKM0_00
MAST_SKM0_01
MAST_SKM0_02
MAST_SKM0_03
MAST_SKM0_04
MAST_SKM1_00
MAST_SKM1_01
MAST_SKM1_02
MAST_SKM1_03
MAST_SKM1_04
MAST_SKM2_00
MAST_SKM2_01
MAST_SKM2_02
MAST_SKM2_03
MAST_SKM2_04
MAST_SKM3_00
MAST_SKM3_01
MAST_SKM3_02
MAST_SKM3_03
MAST_SKM3_04
MAST_SKM4_00
MAST_SKM4_01
MAST_SKM4_02
MAST_SKM4_03
MAST_SKM4_04
MAST_SKM5_00
MAST_SKM5_01
MAST_SKM5_02
MAST_SKM5_03
MAST_SKM5_04
MAST_SKM6_00
MAST_SKM6_01
MAST_SKM6_02
MAST_SKM6_03
MAST_SKM6_04
MAST_SKM7_00
MAST_SKM7_01
MAST_SKM7_02
MAST_SKM7_03
MAST_SKM7_04
MAST_SKM8_00
MAST_SKM8_01
MAST_SKM8_02
MAST_SKM8_03
MAST_SKM8_04
MAST_SKM9_00
MAST_SKM9_01
MAST_SKM9_02
MAST_SKM9_03
MAST_SKM9_04
MAST_MB0_00
MAST_MB0_01
MAST_MB0_02
MAST_MB0_03
MAST_MB0_04
MAST_MB1_00
MAST_MB1_01
MAST_MB1_02
MAST_MB1_03
MAST_MB1_04
MAST_MB2_00
MAST_MB2_01
MAST_MB2_02
MAST_MB2_03
MAST_MB2_04
MAST_MB3_00
MAST_MB3_01
MAST_MB3_02
MAST_MB3_03
MAST_MB3_04
MAST_MB4_00
MAST_MB4_01
MAST_MB4_02
MAST_MB4_03
MAST_MB4_04
MAST_MB5_00
MAST_MB5_01
MAST_MB5_02
MAST_MB5_03
MAST_MB5_04
MAST_MB6_00
MAST_MB6_01
MAST_MB6_02
MAST_MB6_03
MAST_MB6_04
MAST_MB7_00
MAST_MB7_01
MAST_MB7_02
MAST_MB7_03
MAST_MB7_04
MAST_MB8_00
MAST_MB8_01
MAST_MB8_02
MAST_MB8_03
MAST_MB8_04
MAST_MB9_00
MAST_MB9_01
MAST_MB9_02
MAST_MB9_03
MAST_MB9_04
MAST_TM0_00
MAST_TM0_01
MAST_TM0_02
MAST_TM0_03
MAST_TM0_04
MAST_TM1_00
MAST_TM1_01
MAST_TM1_02
MAST_TM1_03
MAST_TM1_04
MAST_TM2_00
MAST_TM2_01
MAST_TM2_02
MAST_TM2_03
MAST_TM2_04
MAST_TM3_00
MAST_TM3_01
MAST_TM3_02
MAST_TM3_03
MAST_TM3_04
MAST_TM4_00
MAST_TM4_01
MAST_TM4_02
MAST_TM4_03
MAST_TM4_04
MAST_TM5_00
MAST_TM5_01
MAST_TM5_02
MAST_TM5_03
MAST_TM5_04
MAST_TM6_00
MAST_TM6_01
MAST_TM6_02
MAST_TM6_03
MAST_TM6_04
MAST_TM7_00
MAST_TM7_01
MAST_TM7_02
MAST_TM7_03
MAST_TM7_04
MAST_TM8_00
MAST_TM8_01
MAST_TM8_02
MAST_TM8_03
MAST_TM8_04
MAST_TM9_00
MAST_TM9_01
MAST_TM9_02
MAST_TM9_03
MAST_TM9_04
MAST_MV0_00
MAST_MV0_01
MAST_MV0_02
MAST_MV0_03
MAST_MV0_04
MAST_MV1_00
MAST_MV1_01
MAST_MV1_02
MAST_MV1_03
MAST_MV1_04
MAST_MV2_00
MAST_MV2_01
MAST_MV2_02
MAST_MV2_03
MAST_MV2_04
MAST_MV3_00
MAST_MV3_01
MAST_MV3_02
MAST_MV3_03
MAST_MV3_04
MAST_MV4_00
MAST_MV4_01
MAST_MV4_02
MAST_MV4_03
MAST_MV4_04
MAST_MV5_00
MAST_MV5_01
MAST_MV5_02
MAST_MV5_03
MAST_MV5_04
MAST_MV6_00
MAST_MV6_01
MAST_MV6_02
MAST_MV6_03
MAST_MV6_04
MAST_MV7_00
MAST_MV7_01
MAST_MV7_02
MAST_MV7_03
MAST_MV7_04
MAST_MV8_00
MAST_MV8_01
MAST_MV8_02
MAST_MV8_03
MAST_MV8_04
MAST_MV9_00
MAST_MV9_01
MAST_MV9_02
MAST_MV9_03
MAST_MV9_04
MAST_KM0_00
MAST_KM0_01
MAST_KM0_02
MAST_KM0_03
MAST_KM0_04
MAST_KM1_00
MAST_KM1_01
MAST_KM1_02
MAST_KM1_03
MAST_KM1_04
MAST_KM2_00
MAST_KM2_01
MAST_KM2_02
MAST_KM2_03
MAST_KM2_04
MAST_KM3_00
MAST_KM3_01
MAST_KM3_02
MAST_KM3_03
MAST_KM3_04
MAST_KM4_00
MAST_KM4_01
MAST_KM4_02
MAST_KM4_03
MAST_KM4_04
MAST_KM5_00
MAST_KM5_01
MAST_KM5_02
MAST_KM5_03
MAST_KM5_04
MAST_KM6_00
MAST_KM6_01
MAST_KM6_02
MAST_KM6_03
MAST_KM6_04
MAST_KM7_00
MAST_KM7_01
MAST_KM7_02
MAST_KM7_03
MAST_KM7_04
MAST_KM8_00
MAST_KM8_01
MAST_KM8_02
MAST_KM8_03
MAST_KM8_04
MAST_KM9_00
MAST_KM9_01
MAST_KM9_02
MAST_KM9_03
MAST_KM9_04
--------------------
METR_E1
METR_E3
--------------------
PARES_PAREZ
--------------------
RP_POSLED2
RP_POSLED
--------------------

In [ ]:
def ext(x, rule):
    if (x.event == event and rule.match(x.remark)):
        x.rn = rule.parse(x.remark) 
    else:
        x.rn = 0
    return x

for event in EventRules.keys():
    print(event + ';')
    for rule in EventRules[event]:
        print('rule_name')
        rn = rule.name
        df = df.apply(lambda x: ext(x, rule), axis=1)

ABORT;
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
TOSCM;
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name
rule_name

In [ ]:
df = pd.read_csv('counters.csv', nrows=10000)

In [6]:
df[df['MAST_TM7_00'] == 0].head()

,Unnamed: 0,event_id,id,sex,lactation_number,birth_result,birth_difficult,birthday,days_no_milking,days_pregnant,...,MAST_SKM9_00,MAST_SKM9_01,MAST_SKM9_02,MAST_SKM9_03,MAST_SKM9_04,METR_E1,METR_E3,PARES_PAREZ,RP_POSLED2,RP_POSLED
5,5,5,321,F,6,FA,3,11.09.2009,62,291,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
6,6,6,321,F,6,FA,3,11.09.2009,62,291,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
8,8,8,321,F,6,FA,3,11.09.2009,62,291,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
89,89,89,1540,F,6,FA,1,18.07.2010,56,0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
92,92,92,1540,F,6,FA,1,18.07.2010,56,0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

## Генерация оставшихся каунтеров

### Пол и дети

In [107]:
df['sex'] = df['sex'].apply(lambda x: 1 if x =='F' else 0)

In [27]:
df['childs_fa'] = df['birth_result'].apply(lambda x: str(x).count('FA'))
df['childs_ma'] = df['birth_result'].apply(lambda x: str(x).count('MA'))
df['childs_fd'] = df['birth_result'].apply(lambda x: str(x).count('FD'))
df['childs_md'] = df['birth_result'].apply(lambda x: str(x).count('MD'))

df['childs_m'] = df['birth_result'].apply(lambda x: str(x).count('M'))
df['childs_f'] = df['birth_result'].apply(lambda x: str(x).count('F'))
df['childs_d'] = df['birth_result'].apply(lambda x: str(x).count('D'))
df['childs_a'] = df['birth_result'].apply(lambda x: str(x).count('A'))

In [80]:
df=df.drop(columns=['birth_result'])
df.dtypes

event_id             int64
id                   int64
sex                  int64
lactation_number     int64
birth_difficult      int64
birthday            object
days_no_milking      int64
days_pregnant        int64
group_id             int64
prev_group_id        int64
event               object
days_milking         int64
date                object
info                object
dtype: object

**TODO** check

### Дата рождения

In [108]:
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
df['birthday']  = pd.to_datetime(df['birthday'], infer_datetime_format=True)
df['age']  = ((df['date'] - df['birthday']) / np.timedelta64(1, 'D')).astype(int)

In [109]:
df=df.drop(columns=['birthday'])
df.dtypes

event_id                     int64
id                           int64
sex                          int64
lactation_number             int64
birth_result                object
birth_difficult              int64
days_no_milking              int64
days_pregnant                int64
group_id                     int64
prev_group_id                int64
event                       object
days_milking                 int64
date                datetime64[ns]
remark                      object
age                          int64
dtype: object

### Дата события

In [24]:
month=['jan','feb','mar','apr','may','jun', 'jul', 'aug', 'sep', 'oct', 'nov',' dec']
for m in range (12):
    df[month[m]]=df['date'].apply(lambda x: 1 if x.month == m + 1 else 0)
df.head()

,event_id,id,sex,lactation_number,birth_result,birth_difficult,days_no_milking,days_pregnant,group_id,prev_group_id,...,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,0,146,1,6,FA,1,62,277,18,18,...,1,0,0,0,0,0,0,0,0,0
1,1,146,1,6,FA,1,62,277,18,18,...,0,1,0,0,0,0,0,0,0,0
2,2,146,1,6,FA,1,62,277,18,18,...,0,1,0,0,0,0,0,0,0,0
3,3,291,1,6,MA,1,68,0,23,23,...,0,1,0,0,0,0,0,0,0,0
4,4,291,1,6,MA,1,68,0,23,23,...,0,1,0,0,0,0,0,0,0,0

In [139]:
STATUS_TYPES = ['FRESH', 'TOSCM', 'NULSCM', 'BRED', 'OPEN', 'ABORT', 'PREG', 'PREGBEF', 'DRY', 'DRY2', 'FOOTRIM', 'DNB', 'DEAD','SOLD','BROKE']
class StatusType(IntEnum):
    #------ Осемение
    FRESH   = 1110  # Отёл
    TOSCM   = 1121  # На схему гормональной стимуляции
    NULSCM  = 1121  # Со схемы гормональной стимуляции
    BRED    = 1130  # Осеменение
    #------ Не успех
    OPEN    = 1211  # Яловая
    ABORT   = 1212  # Аборт
    #------ Успех
    PREG    = 1311  # Стельность
    PREGBEF = 1312  # Стельность с выявлением более раннего оплодотворения
    DRY     = 1321  # Сухостой (фаза 1)
    DRY2    = 1322  # Сухостой (фаза 2)
    FOOTRIM = 1330  # Обрезка копыт
    #----- Final status
    DNB     = 1411  # Выбраковка  
    DEAD    = 1412  # Смерть
    SOLD    = 1413  # Продажа
    BROKE   = 1414  # Деффект
    
    @staicmethod
    def match(label):
        global STATUS_TYPES
        return label in STATUS_TYPES


ILLNESS_TYPES = ['MAST', 'LAME', 'KETOS', 'METR', 'PARES', 'ILLMISC', 'HEALTH', 'POT', 'VAC', 'VACVIR']
class IllnessType(IntEnum):
    #----- Основные болезни
    MAST     = 2010 #
    LAME     = 2020 #
    KETOS    = 2030 #
    METR     = 2040 #
    PARES    = 2050 #
    RP       = 2060 #
    
    #------ Другие болезни    
    ILL_BUR  = 2100 # бурсит
    ILL_ABC  = 2110 # абцесс
    ILL_RUB  = 2120 # рубец
    ILL_RIN  = 2130 # рин
    ILL_BLD  = 2140 # ран
    ILL_DMG  = 2150 # повреждение ('СУСТАВ', 'УШИБ',  'ПУТЫ')
    ILL_GAST = 2160 # гастро
    ILL_PNEV = 2170 # пневмно
    ILL_LEAN = 2180 # худоба
    ILL_DIAR = 2190 # диарея 
    ILL_MICS = 2200 # остальное 'ТУГОДОЙ', 'ГИНТЕЛ', 'ТИМПАНИЯ', 'КОЛИ', 'РОТА'

    #------ События лечения
    HEALTH   = 2300 #
    POT      = 2310 #
    VAC      = 2320 #
    VACVIR   = 2330 #
    
    @staicmethod
    def match(label):
        global ILLNESS_TYPES
        return label in ILLNESS_TYPES

    
ACTION_TYPES = ['WEIGHT', 'MOVE']
class ActionType(IntEnum):
    WEIGHT   = 3310 #
    MOVE     = 3320 #
    
    @staicmethod
    def match(label, remark):
        global ACTION_TYPES
        return label in ACTION_TYPES
        
    
class EventType(IntEnum):
    STATUS  = 1 
    ILL     = 2 
    ACTION  = 3
    
    @staticmethod
    def from_str(label):
        global EventName
        event = 
        if StatusType.match(event):
            return EventType.STATUS
        elif IllnesType.match(event):
            return EventType.ILL
        elif ActionType.match(event):
            return EventType.ACTION
        return EventType(-1)

IndentationError: expected an indented block after function definition on line 29 (3635007417.py, line 31)

## Учёт истории и переводы
Теперь мы переходим к обработке контексто-зависимых забытий. Для этого надо иметь понимаение какое событие произошло ДО текущего события и ПОСЛЕ текущего события.

Как понять очередность событий, если они происходят в один день? Для начала надо посмотреть на примеры такого.

In [161]:
sf = df.groupby(['id', 'date']).count()
sf[sf['event'] > 3]

,,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,remark
id,date,,,,,,,,,,,,
4146,7/3/2022,4,4,4,4,4,4,4,4,4,4,4,4
4245,7/29/2022,4,4,4,4,4,4,4,4,4,4,4,4
6214,7/1/2022,4,4,4,4,4,4,4,4,4,4,4,4
8036,7/29/2022,4,4,4,4,4,4,4,4,4,4,4,4
11293,7/20/2022,4,4,0,4,4,4,4,4,4,4,4,4
12171,7/20/2022,4,4,0,4,4,4,4,4,4,4,4,4
20398,7/21/2022,4,4,0,4,4,4,4,4,4,4,4,4
20855,7/12/2022,4,4,0,4,4,4,4,4,4,4,4,4
803063,7/8/2022,4,4,4,4,4,4,4,4,4,4,4,4
803155,7/25/2022,4,4,4,4,4,4,4,4,4,4,4,4
809017,7/25/2022,4,4,4,4,4,4,4,4,4,4,4,4
812117,7/5/2022,4,4,4,4,4,4,4,4,4,4,4,4
900527,7/18/2022,5,5,5,5,5,5,5,5,5,5,5,5
904014,7/15/2022,4,4,4,4,4,4,4,4,4,4,4,4
904040,7/19/2022,5,5,5,5,5,5,5,5,5,5,5,5
912010,7/12/2022,4,4,4,4,4,4,4,4,4,4,4,4

Иногда (но очень редко), с коровой происходит несколько событий в один день. Как правило эти события отделены переводом, а между переводами порядок не важен.

Кстати параметр "Предыдущая группа животного" указывает на группу в предыдущем событии! Сортировка событий в течении дня происходит так:
1. Разбить события на на группы (каждая группа отвечает что делали с животным когда оно было в соотвествующей группе)
2. Упорядочить группы в соответсвии с информацией о перводах
3. Упорядочить события внутри группы по порядку из Enuma

### События перемещения:
Надо проверить, что события перемещения отображают корректную информацию

In [111]:
df['incorrect_move'] = df.apply(lambda row: 1 if row.event == EventType.MOVE and int(row.remark[1:4]) != row.group_id else 0, axis=1)
df[df['incorrect_move'] == 1].head()

Empty DataFrame
Columns: [id, sid, sex, cycle, childs, childbirth, dob, deadwood_days, pregancy_days, group_id, group_past, event, milking_days, date, remark, incorrect_move]
Index: []

### Сортировка событий:

**TODO**:
Написано максимально криво надо подправить. К тому же есть вопросы к эффективности

In [9]:
print(df[df['event'] == EventType.FRESH]['group_id'].unique().tolist())

cond = ((df['event'] == EventType.FRESH) & (df['group_id'] == 18))
df[cond].head(10)

[18, 17, 45, 33, 40]

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark,event_index
126,8136,8136,F,1,FA,1,8/17/2020,0,0,18,8,106,0,7/1/2022,-,127
353,612062,612062,F,4,MA,1,12/12/2016,63,0,18,21,106,0,7/1/2022,-,354
432,811180,811180,F,3,MA,1,11/24/2018,57,0,18,10,106,0,7/1/2022,-,433
475,907168,907168,F,2,FA,1,7/24/2019,64,0,18,4,106,0,7/1/2022,-,476
480,907225,907225,F,2,FA,1,7/30/2019,71,0,18,10,106,0,7/1/2022,-,481
487,908049,908049,F,2,MA,1,8/9/2019,49,0,18,43,106,0,7/1/2022,-,488
502,909158,909158,F,2,FA,1,9/21/2019,57,0,18,10,106,0,7/1/2022,-,503
512,910131,910131,F,2,FA,1,10/19/2019,57,0,18,10,106,0,7/1/2022,-,513
514,910171,910171,F,2,FA,1,10/26/2019,64,0,18,10,106,0,7/1/2022,-,515
604,807075,807075,F,3,FA,1,7/14/2018,58,0,18,2,106,0,7/2/2022,-,605

In [12]:
import itertools
def path_sort(edge_list):
    m = len(edge_list)
    if m == 1:
        return edge_list
    
    for sigma in itertools.permutations(list(range(m))):
        bad=False
        for i in range(1, m):
            if edge_list[sigma[i]][1] != edge_list[sigma[i-1]][0]:
                bad=True
                break
        if not bad:
            edge_list_fixed = [edge_list[sigma[i]] for i in range(1, m)]
            return edge_list_fixed
    return edge_list


def get_day_ordering(r):
    
    cow_id   = r.id
    ev_date  = r.date 
    ev_index = r.event_index
    
    global df
    today = df[(df['id'] == cow_id) & (df['date'] == ev_date)].copy()
    
    moves = today[today['event'] == EventType.MOVE]
    if moves.shape[0] == 0:
        today.sort_values(by=['event'])
        today['ord'] = list(range(1, today.shape[0] + 1, 1))
        return (today[today['event_index'] == ev_index]['ord'].iloc[0])
   
    moves['to']   = moves['remark'].apply(lambda x: int(x[5::]))
    moves['from'] = moves['remark'].apply(lambda x: int(x[1:4:]))
    
    edge_list  = path_sort(moves.apply(lambda row: (row['from'], row['to']), axis=1).tolist())
    path = [edge[0] for edge in edge_list]
    path.append(edge_list[-1][1])
    
    try:
        today['group_ord'] = today['group_id'].apply(lambda x: path.index(x))
        today.sort_values(by=['group_ord', 'event'])
    except:
        #print('------------------')
        #print(edge_list)
        #print(row)
        #print('------------------')
        today.sort_values(by=['event'])
        
    today['ord'] = list(range(1, today.shape[0] + 1, 1))
    
    return (today[today['event_index'] == ev_index]['ord'].iloc[0])

In [13]:
df['ord'] = df.apply(lambda row: get_day_ordering(row), axis=1)
df.sort_values(by=['id', 'date', 'ord'])

------------------
[(44, 21)]
id                    8136
sid                   8136
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              8/17/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               8
event                  303
milking_days             0
date              7/1/2022
remark            F044T021
event_index            126
ord                      1
Name: 125, dtype: object
------------------
------------------
[(44, 21)]
id                    8136
sid                   8136
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              8/17/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               8
event                  106
milking_days             0
date              7/1/2022
remark                   -
event_index            127
ord                      2
Name: 126, dtype: object
------------------
------------------
[(44, 21)]
id                 809002
sid                809002
sex                     F
cycle                   3
childs                 FA
childbirth              1
dob              9/1/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             10
event                 303
milking_days            0
date             7/3/2022
remark           F044T021
event_index           784
ord                     1
Name: 783, dtype: object
------------------
------------------
[(44, 21)]
id                 809002
sid                809002
sex                     F
cycle                   3
childs                 FA
childbirth              1
dob              9/1/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             10
event                 213
milking_days            0
date             7/3/2022
remark            ПОСЛЕД2
event_index           785
ord                     2
Name: 784, dtype: object
------------------
------------------
[(44, 21)]
id                 809002
sid                809002
sex                     F
cycle                   3
childs                 FA
childbirth              1
dob              9/1/2018
deadwood_days          59
pregancy_days           0
group_id               18
group_past             10
event                 106
milking_days            0
date             7/3/2022
remark                  -
event_index           786
ord                     3
Name: 785, dtype: object
------------------
------------------
[(44, 21)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               18
group_past             44
event                 106
milking_days            0
date             7/3/2022
remark                  -
event_index           787
ord                     1
Name: 786, dtype: object
------------------
------------------
[(44, 21)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             44
event                 213
milking_days            0
date             7/3/2022
remark            ПОСЛЕД2
event_index           788
ord                     2
Name: 787, dtype: object
------------------
------------------
[(44, 21)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             44
event                 303
milking_days            0
date             7/3/2022
remark           F044T021
event_index           789
ord                     3
Name: 788, dtype: object
------------------
------------------
[(44, 21)]
id                  803181
sid                 803181
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              3/30/2018
deadwood_days           53
pregancy_days            0
group_id                44
group_past              10
event                  303
milking_days             0
date              7/4/2022
remark            F044T021
event_index           1199
ord                      1
Name: 1198, dtype: object
------------------
------------------
[(44, 21)]
id                  803181
sid                 803181
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              3/30/2018
deadwood_days           53
pregancy_days            0
group_id                18
group_past              10
event                  106
milking_days             0
date              7/4/2022
remark                   -
event_index           1200
ord                      2
Name: 1199, dtype: object
------------------
------------------
[(44, 21)]
id                  803181
sid                 803181
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              3/30/2018
deadwood_days           53
pregancy_days            0
group_id                44
group_past              10
event                  211
milking_days             0
date              7/4/2022
remark                  Э1
event_index           1201
ord                      3
Name: 1200, dtype: object
------------------
------------------
[(17, 45)]
id                  912062
sid                 912062
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              12/7/2019
deadwood_days            0
pregancy_days          269
group_id                17
group_past              18
event                  303
milking_days           280
date              7/4/2022
remark            F017T045
event_index           1365
ord                      1
Name: 1364, dtype: object
------------------
------------------
[(17, 45)]
id                  912062
sid                 912062
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              12/7/2019
deadwood_days            0
pregancy_days          269
group_id                 3
group_past              18
event                  109
milking_days           280
date              7/4/2022
remark                   -
event_index           1366
ord                      2
Name: 1365, dtype: object
------------------
------------------
[(44, 21)]
id                    9158
sid                   9158
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               8
event                  106
milking_days             0
date              7/5/2022
remark                   -
event_index           1441
ord                      1
Name: 1440, dtype: object
------------------
------------------
[(44, 21)]
id                    9158
sid                   9158
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               8
event                  303
milking_days             0
date              7/5/2022
remark            F044T021
event_index           1442
ord                      2
Name: 1441, dtype: object
------------------
------------------
[(44, 21)]
id                    9158
sid                   9158
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               8
event                  211
milking_days             0
date              7/5/2022
remark                  Э1
event_index           1443
ord                      3
Name: 1442, dtype: object
------------------

------------------
[(5, 12)]
id                 702036
sid                702036
sex                     F
cycle                   4
childs                 FA
childbirth              1
dob              2/5/2017
deadwood_days          52
pregancy_days         158
group_id                1
group_past             12
event                 207
milking_days          205
date             7/5/2022
remark             СУСТАВ
event_index          1533
ord                     1
Name: 1532, dtype: object
------------------
------------------
[(5, 12)]
id                 702036
sid                702036
sex                     F
cycle                   4
childs                 FA
childbirth              1
dob              2/5/2017
deadwood_days          52
pregancy_days         158
group_id               12
group_past             12
event                 204
milking_days          205
date             7/5/2022
remark            ХРОМОТА
event_index          1534
ord                     2
Name: 1533, dtype: object
------------------
------------------
[(5, 12)]
id                 702036
sid                702036
sex                     F
cycle                   4
childs                 FA
childbirth              1
dob              2/5/2017
deadwood_days          52
pregancy_days         158
group_id                5
group_past             12
event                 303
milking_days          205
date             7/5/2022
remark           F005T012
event_index          1535
ord                     3
Name: 1534, dtype: object
------------------
------------------
[(6, 12)]
id                  709108
sid                 709108
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              9/20/2017
deadwood_days           62
pregancy_days            0
group_id                 6
group_past              12
event                  303
milking_days           266
date              7/5/2022
remark            F006T012
event_index           1552
ord                      1
Name: 1551, dtype: object
------------------
------------------
[(6, 12)]
id                  709108
sid                 709108
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              9/20/2017
deadwood_days           62
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           266
date              7/5/2022
remark             ХРОМОТА
event_index           1553
ord                      2
Name: 1552, dtype: object
------------------
------------------
[(6, 12)]
id                  709108
sid                 709108
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              9/20/2017
deadwood_days           62
pregancy_days            0
group_id                 5
group_past              12
event                  203
milking_days           266
date              7/5/2022
remark                 КАН
event_index           1554
ord                      3
Name: 1553, dtype: object
------------------
------------------
[(18, 45)]
id                   812117
sid                  812117
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              12/17/2018
deadwood_days            57
pregancy_days           280
group_id                 17
group_past               18
event                   201
milking_days            312
date               7/5/2022
remark                 СКОУ
event_index            1621
ord                       1
Name: 1620, dtype: object
------------------
------------------
[(18, 45)]
id                   812117
sid                  812117
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              12/17/2018
deadwood_days            57
pregancy_days           280
group_id                 17
group_past               18
event                   110
milking_days            312
date               7/5/2022
remark                    -
event_index            1622
ord                       2
Name: 1621, dtype: object
------------------
------------------
[(18, 45)]
id                   812117
sid                  812117
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              12/17/2018
deadwood_days            57
pregancy_days           280
group_id                 18
group_past               18
event                   208
milking_days            312
date               7/5/2022
remark                 V3_4
event_index            1623
ord                       3
Name: 1622, dtype: object
------------------
------------------
[(18, 45)]
id                   812117
sid                  812117
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              12/17/2018
deadwood_days            57
pregancy_days           280
group_id                 18
group_past               18
event                   303
milking_days            312
date               7/5/2022
remark             F018T045
event_index            1624
ord                       4
Name: 1623, dtype: object
------------------
------------------
[(6, 12)]
id                  907216
sid                 907216
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              7/29/2019
deadwood_days            0
pregancy_days            0
group_id                 6
group_past              12
event                  303
milking_days           379
date              7/5/2022
remark            F006T012
event_index           1679
ord                      1
Name: 1678, dtype: object
------------------
------------------
[(6, 12)]
id                  907216
sid                 907216
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              7/29/2019
deadwood_days            0
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           379
date              7/5/2022
remark             ХРОМОТА
event_index           1680
ord                      2
Name: 1679, dtype: object
------------------
------------------
[(6, 12)]
id                  907216
sid                 907216
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              7/29/2019
deadwood_days            0
pregancy_days            0
group_id                 5
group_past              12
event                  203
milking_days           379
date              7/5/2022
remark                 КАН
event_index           1681
ord                      3
Name: 1680, dtype: object
------------------
------------------
[(9, 12)]
id                  910027
sid                 910027
sex                      F
cycle                    1
childs                  MA
childbirth               1
dob              10/4/2019
deadwood_days            0
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           295
date              7/5/2022
remark             ХРОМОТА
event_index           1694
ord                      1
Name: 1693, dtype: object
------------------
------------------
[(9, 12)]
id                  910027
sid                 910027
sex                      F
cycle                    1
childs                  MA
childbirth               1
dob              10/4/2019
deadwood_days            0
pregancy_days            0
group_id                 9
group_past              12
event                  303
milking_days           295
date              7/5/2022
remark            F009T012
event_index           1695
ord                      2
Name: 1694, dtype: object
------------------
------------------
[(9, 12)]
id                  910027
sid                 910027
sex                      F
cycle                    1
childs                  MA
childbirth               1
dob              10/4/2019
deadwood_days            0
pregancy_days            0
group_id                 5
group_past              12
event                  203
milking_days           295
date              7/5/2022
remark                 КАН
event_index           1696
ord                      3
Name: 1695, dtype: object
------------------

------------------
[(17, 45)]
id                  709076
sid                 709076
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              9/16/2017
deadwood_days           63
pregancy_days          215
group_id                42
group_past              17
event                  109
milking_days           343
date              7/6/2022
remark                   -
event_index           1869
ord                      1
Name: 1868, dtype: object
------------------
------------------
[(17, 45)]
id                  709076
sid                 709076
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              9/16/2017
deadwood_days           63
pregancy_days          215
group_id                17
group_past              17
event                  303
milking_days           343
date              7/6/2022
remark            F017T045
event_index           1870
ord                      2
Name: 1869, dtype: object
------------------
------------------
[(44, 21)]
id                   910179
sid                  910179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/27/2019
deadwood_days            62
pregancy_days             0
group_id                 44
group_past               10
event                   303
milking_days              0
date               7/6/2022
remark             F044T021
event_index            1958
ord                       1
Name: 1957, dtype: object
------------------
------------------
[(44, 21)]
id                   910179
sid                  910179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/27/2019
deadwood_days            62
pregancy_days             0
group_id                 44
group_past               10
event                   206
milking_days              0
date               7/6/2022
remark                ПРОФ2
event_index            1959
ord                       2
Name: 1958, dtype: object
------------------
------------------
[(44, 21)]
id                   910179
sid                  910179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/27/2019
deadwood_days            62
pregancy_days             0
group_id                 18
group_past               10
event                   106
milking_days              0
date               7/6/2022
remark                    -
event_index            1960
ord                       3
Name: 1959, dtype: object
------------------
------------------
[(21, 44)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               21
group_past             44
event                 303
milking_days            6
date             7/9/2022
remark           F021T044
event_index          2737
ord                     1
Name: 2736, dtype: object
------------------
------------------
[(21, 44)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               44
group_past             44
event                 209
milking_days            6
date             7/9/2022
remark             КЕТОЗ1
event_index          2738
ord                     2
Name: 2737, dtype: object
------------------
------------------
[(21, 44)]
id                 809026
sid                809026
sex                     F
cycle                   3
childs               MAMA
childbirth              1
dob              9/4/2018
deadwood_days          59
pregancy_days           0
group_id               42
group_past             44
event                 203
milking_days            6
date             7/9/2022
remark                КАН
event_index          2739
ord                     3
Name: 2738, dtype: object
------------------
------------------
[(1, 2)]
id                  909158
sid                 909158
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              9/21/2019
deadwood_days           57
pregancy_days            0
group_id                 1
group_past              10
event                  303
milking_days            10
date             7/11/2022
remark            F001T002
event_index           3470
ord                      1
Name: 3469, dtype: object
------------------
------------------
[(1, 2)]
id                  909158
sid                 909158
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              9/21/2019
deadwood_days           57
pregancy_days            0
group_id                21
group_past              10
event                  204
milking_days            10
date             7/11/2022
remark              МАСТИТ
event_index           3471
ord                      2
Name: 3470, dtype: object
------------------
------------------
[(44, 21)]
id                   910184
sid                  910184
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/28/2019
deadwood_days            60
pregancy_days             0
group_id                 44
group_past                4
event                   211
milking_days              0
date              7/11/2022
remark                   Э1
event_index            3495
ord                       1
Name: 3494, dtype: object
------------------
------------------
[(44, 21)]
id                   910184
sid                  910184
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/28/2019
deadwood_days            60
pregancy_days             0
group_id                 18
group_past                4
event                   106
milking_days              0
date              7/11/2022
remark                    -
event_index            3496
ord                       2
Name: 3495, dtype: object
------------------
------------------
[(44, 21)]
id                   910184
sid                  910184
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/28/2019
deadwood_days            60
pregancy_days             0
group_id                 44
group_past                4
event                   303
milking_days              0
date              7/11/2022
remark             F044T021
event_index            3497
ord                       3
Name: 3496, dtype: object
------------------
------------------
[(6, 12)]
id                    4245
sid                   4245
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              4/28/2020
deadwood_days            0
pregancy_days            0
group_id                 6
group_past              12
event                  105
milking_days           163
date             7/29/2022
remark           614H15481
event_index           4066
ord                      1
Name: 4065, dtype: object
------------------
------------------
[(6, 12)]
id                    4245
sid                   4245
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              4/28/2020
deadwood_days            0
pregancy_days            0
group_id                 9
group_past              12
event                  102
milking_days           163
date             7/29/2022
remark                   9
event_index           4067
ord                      2
Name: 4066, dtype: object
------------------
------------------
[(6, 12)]
id                    4245
sid                   4245
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              4/28/2020
deadwood_days            0
pregancy_days            0
group_id                 6
group_past              12
event                  303
milking_days           163
date             7/29/2022
remark            F006T012
event_index           4068
ord                      3
Name: 4067, dtype: object
------------------
------------------
[(6, 12)]
id                    4245
sid                   4245
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              4/28/2020
deadwood_days            0
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           163
date             7/29/2022
remark             ХРОМОТА
event_index           4069
ord                      4
Name: 4068, dtype: object
------------------

------------------
[(6, 12)]
id                    8036
sid                   8036
sex                      F
cycle                    1
childs                  FD
childbirth               2
dob               8/6/2020
deadwood_days            0
pregancy_days            0
group_id                 6
group_past               8
event                  105
milking_days            59
date             7/29/2022
remark           614H15481
event_index           4489
ord                      1
Name: 4488, dtype: object
------------------
------------------
[(6, 12)]
id                    8036
sid                   8036
sex                      F
cycle                    1
childs                  FD
childbirth               2
dob               8/6/2020
deadwood_days            0
pregancy_days            0
group_id                 9
group_past               8
event                  102
milking_days            59
date             7/29/2022
remark                  13
event_index           4490
ord                      2
Name: 4489, dtype: object
------------------
------------------
[(6, 12)]
id                    8036
sid                   8036
sex                      F
cycle                    1
childs                  FD
childbirth               2
dob               8/6/2020
deadwood_days            0
pregancy_days            0
group_id                 6
group_past               8
event                  303
milking_days            59
date             7/29/2022
remark            F006T012
event_index           4491
ord                      3
Name: 4490, dtype: object
------------------
------------------
[(6, 12)]
id                    8036
sid                   8036
sex                      F
cycle                    1
childs                  FD
childbirth               2
dob               8/6/2020
deadwood_days            0
pregancy_days            0
group_id                12
group_past               8
event                  204
milking_days            59
date             7/29/2022
remark             ХРОМОТА
event_index           4492
ord                      4
Name: 4491, dtype: object
------------------
------------------
[(44, 21)]
id                    9070
sid                   9070
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/10/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               9
event                  303
milking_days             0
date             7/21/2022
remark            F044T021
event_index           4701
ord                      1
Name: 4700, dtype: object
------------------
------------------
[(44, 21)]
id                    9070
sid                   9070
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/10/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               9
event                  206
milking_days             0
date             7/21/2022
remark               ПРОФ2
event_index           4702
ord                      2
Name: 4701, dtype: object
------------------
------------------
[(44, 21)]
id                    9070
sid                   9070
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/10/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               9
event                  106
milking_days             0
date             7/21/2022
remark                   -
event_index           4703
ord                      3
Name: 4702, dtype: object
------------------
------------------
[(44, 21)]
id                    9128
sid                   9128
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/18/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               2
event                  106
milking_days             0
date             7/18/2022
remark                   -
event_index           4786
ord                      1
Name: 4785, dtype: object
------------------
------------------
[(44, 21)]
id                    9128
sid                   9128
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/18/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               2
event                  211
milking_days             0
date             7/18/2022
remark                  Э1
event_index           4787
ord                      2
Name: 4786, dtype: object
------------------
------------------
[(44, 21)]
id                    9128
sid                   9128
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/18/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               2
event                  303
milking_days             0
date             7/18/2022
remark            F044T021
event_index           4788
ord                      3
Name: 4787, dtype: object
------------------
------------------
[(44, 21)]
id                    9159
sid                   9159
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               9
event                  303
milking_days             0
date             7/14/2022
remark            F044T021
event_index           4819
ord                      1
Name: 4818, dtype: object
------------------
------------------
[(44, 21)]
id                    9159
sid                   9159
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                44
group_past               9
event                  211
milking_days             0
date             7/14/2022
remark                  Э1
event_index           4820
ord                      2
Name: 4819, dtype: object
------------------
------------------
[(44, 21)]
id                    9159
sid                   9159
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              9/21/2020
deadwood_days            0
pregancy_days            0
group_id                18
group_past               9
event                  106
milking_days             0
date             7/14/2022
remark                   -
event_index           4821
ord                      3
Name: 4820, dtype: object
------------------
------------------
[(33, 40)]
id                    11145
sid                       -
sex                       F
cycle                     1
childs                   FD
childbirth                1
dob              11/14/2020
deadwood_days             0
pregancy_days             0
group_id                 44
group_past               40
event                   213
milking_days              0
date              7/28/2022
remark              ПОСЛЕД2
event_index            5237
ord                       1
Name: 5236, dtype: object
------------------
------------------
[(33, 40)]
id                    11145
sid                       -
sex                       F
cycle                     1
childs                   FD
childbirth                1
dob              11/14/2020
deadwood_days             0
pregancy_days             0
group_id                 40
group_past               40
event                   106
milking_days              0
date              7/28/2022
remark                    -
event_index            5238
ord                       2
Name: 5237, dtype: object
------------------
------------------
[(33, 40)]
id                    11145
sid                       -
sex                       F
cycle                     0
childs                  NaN
childbirth                1
dob              11/14/2020
deadwood_days             0
pregancy_days           208
group_id                 33
group_past               33
event                   303
milking_days            621
date              7/28/2022
remark             F033T040
event_index            5239
ord                       3
Name: 5238, dtype: object
------------------
------------------
[(31, 11)]
id                    11293
sid                   11293
sex                       F
cycle                     0
childs                  NaN
childbirth                0
dob              11/28/2020
deadwood_days             0
pregancy_days           234
group_id                 11
group_past               45
event                   303
milking_days            599
date              7/20/2022
remark             F011T040
event_index            5306
ord                       1
Name: 5305, dtype: object
------------------
------------------
[(31, 11)]
id                    11293
sid                   11293
sex                       F
cycle                     0
childs                  NaN
childbirth                0
dob              11/28/2020
deadwood_days             0
pregancy_days           234
group_id                 31
group_past               45
event                   107
milking_days            599
date              7/20/2022
remark              192 ДНИ
event_index            5307
ord                       2
Name: 5306, dtype: object
------------------
------------------
[(31, 11)]
id                    11293
sid                   11293
sex                       F
cycle                     0
childs                  NaN
childbirth                0
dob              11/28/2020
deadwood_days             0
pregancy_days           234
group_id                 31
group_past               45
event                   303
milking_days            599
date              7/20/2022
remark             F031T011
event_index            5308
ord                       3
Name: 5307, dtype: object
------------------
------------------
[(31, 11)]
id                    11293
sid                   11293
sex                       F
cycle                     0
childs                  NaN
childbirth                0
dob              11/28/2020
deadwood_days             0
pregancy_days           234
group_id                 40
group_past               45
event                   207
milking_days            599
date              7/20/2022
remark                 ПУТЫ
event_index            5309
ord                       4
Name: 5308, dtype: object
------------------

------------------
[(44, 21)]
id                  606021
sid                 606021
sex                      F
cycle                    5
childs                  MA
childbirth               1
dob               6/4/2016
deadwood_days           57
pregancy_days            0
group_id                18
group_past              21
event                  106
milking_days             0
date             7/22/2022
remark                   -
event_index           9103
ord                      1
Name: 9102, dtype: object
------------------
------------------
[(44, 21)]
id                  606021
sid                 606021
sex                      F
cycle                    5
childs                  MA
childbirth               1
dob               6/4/2016
deadwood_days           57
pregancy_days            0
group_id                44
group_past              21
event                  213
milking_days             0
date             7/22/2022
remark             ПОСЛЕД2
event_index           9104
ord                      2
Name: 9103, dtype: object
------------------
------------------
[(44, 21)]
id                  606021
sid                 606021
sex                      F
cycle                    5
childs                  MA
childbirth               1
dob               6/4/2016
deadwood_days           57
pregancy_days            0
group_id                44
group_past              21
event                  303
milking_days             0
date             7/22/2022
remark            F044T021
event_index           9105
ord                      3
Name: 9104, dtype: object
------------------
------------------
[(44, 21)]
id                  708142
sid                 708142
sex                      F
cycle                    4
childs                  FA
childbirth               1
dob              8/20/2017
deadwood_days           57
pregancy_days            0
group_id                44
group_past               4
event                  303
milking_days             0
date             7/29/2022
remark            F044T021
event_index           9354
ord                      1
Name: 9353, dtype: object
------------------
------------------
[(44, 21)]
id                  708142
sid                 708142
sex                      F
cycle                    4
childs                  FA
childbirth               1
dob              8/20/2017
deadwood_days           57
pregancy_days            0
group_id                44
group_past               4
event                  211
milking_days             0
date             7/29/2022
remark                  Э1
event_index           9355
ord                      2
Name: 9354, dtype: object
------------------
------------------
[(44, 21)]
id                  708142
sid                 708142
sex                      F
cycle                    4
childs                  FA
childbirth               1
dob              8/20/2017
deadwood_days           57
pregancy_days            0
group_id                18
group_past               4
event                  106
milking_days             0
date             7/29/2022
remark                   -
event_index           9356
ord                      3
Name: 9355, dtype: object
------------------
------------------
[(23, 4)]
id                  805168
sid                 805168
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              5/29/2018
deadwood_days           54
pregancy_days            0
group_id                23
group_past               4
event                  303
milking_days            21
date             7/19/2022
remark            F023T004
event_index           9686
ord                      1
Name: 9685, dtype: object
------------------
------------------
[(23, 4)]
id                  805168
sid                 805168
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              5/29/2018
deadwood_days           54
pregancy_days            0
group_id                 2
group_past               4
event                  204
milking_days            21
date             7/19/2022
remark             ГИНЕКОЛ
event_index           9687
ord                      2
Name: 9686, dtype: object
------------------
------------------
[(44, 21)]
id                  806015
sid                 806015
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob               6/2/2018
deadwood_days           65
pregancy_days            0
group_id                44
group_past               4
event                  303
milking_days             0
date             7/16/2022
remark            F044T021
event_index           9694
ord                      1
Name: 9693, dtype: object
------------------
------------------
[(44, 21)]
id                  806015
sid                 806015
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob               6/2/2018
deadwood_days           65
pregancy_days            0
group_id                44
group_past               4
event                  211
milking_days             0
date             7/16/2022
remark                  Э1
event_index           9695
ord                      2
Name: 9694, dtype: object
------------------
------------------
[(44, 21)]
id                  806015
sid                 806015
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob               6/2/2018
deadwood_days           65
pregancy_days            0
group_id                18
group_past               4
event                  106
milking_days             0
date             7/16/2022
remark                   -
event_index           9696
ord                      3
Name: 9695, dtype: object
------------------
------------------
[(44, 21)]
id                  807147
sid                 807147
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              7/25/2018
deadwood_days           56
pregancy_days            0
group_id                44
group_past               4
event                  206
milking_days             0
date             7/14/2022
remark               ПРОФ2
event_index           9791
ord                      1
Name: 9790, dtype: object
------------------
------------------
[(44, 21)]
id                  807147
sid                 807147
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              7/25/2018
deadwood_days           56
pregancy_days            0
group_id                18
group_past               4
event                  106
milking_days             0
date             7/14/2022
remark                   -
event_index           9792
ord                      2
Name: 9791, dtype: object
------------------
------------------
[(44, 21)]
id                  807147
sid                 807147
sex                      F
cycle                    3
childs                  MA
childbirth               1
dob              7/25/2018
deadwood_days           56
pregancy_days            0
group_id                44
group_past               4
event                  303
milking_days             0
date             7/14/2022
remark            F044T021
event_index           9793
ord                      3
Name: 9792, dtype: object
------------------
------------------
[(44, 21)]
id                  807163
sid                 807163
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              7/28/2018
deadwood_days          106
pregancy_days            0
group_id                44
group_past               2
event                  303
milking_days             0
date             7/22/2022
remark            F044T021
event_index           9798
ord                      1
Name: 9797, dtype: object
------------------
------------------
[(44, 21)]
id                  807163
sid                 807163
sex                      F
cycle                    3
childs                  FA
childbirth               1
dob              7/28/2018
deadwood_days          106
pregancy_days            0
group_id                18
group_past               2
event                  106
milking_days             0
date             7/22/2022
remark                   -
event_index           9799
ord                      2
Name: 9798, dtype: object
------------------

------------------
[(6, 12)]
id                  811042
sid                 811042
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/6/2018
deadwood_days           66
pregancy_days          230
group_id                 6
group_past               7
event                  303
milking_days           289
date             7/19/2022
remark            F006T012
event_index          10044
ord                      1
Name: 10043, dtype: object
------------------
------------------
[(6, 12)]
id                  811042
sid                 811042
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/6/2018
deadwood_days           66
pregancy_days          230
group_id                12
group_past               7
event                  204
milking_days           289
date             7/19/2022
remark             ХРОМОТА
event_index          10045
ord                      2
Name: 10044, dtype: object
------------------
------------------
[(6, 12)]
id                  811042
sid                 811042
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/6/2018
deadwood_days           66
pregancy_days          230
group_id                 7
group_past               7
event                  203
milking_days           289
date             7/19/2022
remark                 КАН
event_index          10046
ord                      3
Name: 10045, dtype: object
------------------
------------------
[(23, 4)]
id                   811221
sid                  811221
sex                       F
cycle                     3
childs                   FA
childbirth                1
dob              11/30/2018
deadwood_days            54
pregancy_days             0
group_id                 23
group_past                4
event                   303
milking_days             21
date              7/19/2022
remark             F023T004
event_index           10122
ord                       1
Name: 10121, dtype: object
------------------
------------------
[(23, 4)]
id                   811221
sid                  811221
sex                       F
cycle                     3
childs                   FA
childbirth                1
dob              11/30/2018
deadwood_days            54
pregancy_days             0
group_id                  2
group_past                4
event                   204
milking_days             21
date              7/19/2022
remark              ГИНЕКОЛ
event_index           10123
ord                       2
Name: 10122, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                 1
group_past               1
event                  207
milking_days           151
date             7/19/2022
remark                 ТОЩ
event_index          10394
ord                      1
Name: 10393, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                 1
group_past               1
event                  207
milking_days           151
date             7/19/2022
remark               БУР1_
event_index          10395
ord                      2
Name: 10394, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                 1
group_past               1
event                  204
milking_days           151
date             7/19/2022
remark             ХРОМОТА
event_index          10396
ord                      3
Name: 10395, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                 4
group_past               1
event                  303
milking_days           151
date             7/19/2022
remark            F004T012
event_index          10397
ord                      4
Name: 10396, dtype: object
------------------
------------------
[(4, 12)]
id                  904040
sid                 904040
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               4/7/2019
deadwood_days           64
pregancy_days            0
group_id                12
group_past               1
event                  303
milking_days           151
date             7/19/2022
remark            F012T001
event_index          10398
ord                      5
Name: 10397, dtype: object
------------------
------------------
[(10, 12)]
id                  904138
sid                 904138
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob              4/21/2019
deadwood_days           58
pregancy_days            0
group_id                10
group_past              12
event                  303
milking_days           129
date             7/19/2022
remark            F010T012
event_index          10438
ord                      1
Name: 10437, dtype: object
------------------
------------------
[(10, 12)]
id                  904138
sid                 904138
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob              4/21/2019
deadwood_days           58
pregancy_days            0
group_id                 4
group_past              12
event                  203
milking_days           129
date             7/19/2022
remark                 КАН
event_index          10439
ord                      2
Name: 10438, dtype: object
------------------
------------------
[(10, 12)]
id                  904138
sid                 904138
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob              4/21/2019
deadwood_days           58
pregancy_days            0
group_id                12
group_past              12
event                  204
milking_days           129
date             7/19/2022
remark             ХРОМОТА
event_index          10440
ord                      3
Name: 10439, dtype: object
------------------
------------------
[(23, 4)]
id                  907125
sid                 907125
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              7/19/2019
deadwood_days           54
pregancy_days            0
group_id                 2
group_past              10
event                  204
milking_days            21
date             7/19/2022
remark             ГИНЕКОЛ
event_index          10749
ord                      1
Name: 10748, dtype: object
------------------
------------------
[(23, 4)]
id                  907125
sid                 907125
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              7/19/2019
deadwood_days           54
pregancy_days            0
group_id                23
group_past              10
event                  303
milking_days            21
date             7/19/2022
remark            F023T004
event_index          10750
ord                      2
Name: 10749, dtype: object
------------------
------------------
[(23, 4)]
id                  908011
sid                 908011
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               8/2/2019
deadwood_days           58
pregancy_days            0
group_id                23
group_past              10
event                  303
milking_days            39
date             7/19/2022
remark            F023T004
event_index          10828
ord                      1
Name: 10827, dtype: object
------------------
------------------
[(23, 4)]
id                  908011
sid                 908011
sex                      F
cycle                    2
childs                  MA
childbirth               1
dob               8/2/2019
deadwood_days           58
pregancy_days            0
group_id                 2
group_past              10
event                  204
milking_days            39
date             7/19/2022
remark             ГИНЕКОЛ
event_index          10829
ord                      2
Name: 10828, dtype: object
------------------

------------------
[(44, 21)]
id                  910033
sid                 910033
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              10/5/2019
deadwood_days           56
pregancy_days            0
group_id                44
group_past              21
event                  303
milking_days             0
date             7/28/2022
remark            F044T021
event_index          11055
ord                      1
Name: 11054, dtype: object
------------------
------------------
[(44, 21)]
id                  910033
sid                 910033
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              10/5/2019
deadwood_days           56
pregancy_days            0
group_id                44
group_past              21
event                  206
milking_days             0
date             7/28/2022
remark               ПРОФ2
event_index          11056
ord                      2
Name: 11055, dtype: object
------------------
------------------
[(44, 21)]
id                  910033
sid                 910033
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              10/5/2019
deadwood_days           56
pregancy_days            0
group_id                18
group_past              21
event                  106
milking_days             0
date             7/28/2022
remark                   -
event_index          11057
ord                      3
Name: 11056, dtype: object
------------------
------------------
[(23, 4)]
id                   910188
sid                  910188
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/29/2019
deadwood_days            54
pregancy_days             0
group_id                 23
group_past                4
event                   303
milking_days             21
date              7/19/2022
remark             F023T004
event_index           11205
ord                       1
Name: 11204, dtype: object
------------------
------------------
[(23, 4)]
id                   910188
sid                  910188
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              10/29/2019
deadwood_days            54
pregancy_days             0
group_id                  2
group_past                4
event                   204
milking_days             21
date              7/19/2022
remark              ГИНЕКОЛ
event_index           11206
ord                       2
Name: 11205, dtype: object
------------------
------------------
[(44, 3)]
id                  911030
sid                 911030
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/4/2019
deadwood_days           50
pregancy_days            0
group_id                44
group_past               3
event                  303
milking_days             2
date             7/17/2022
remark            F044T003
event_index          11247
ord                      1
Name: 11246, dtype: object
------------------
------------------
[(44, 3)]
id                  911030
sid                 911030
sex                      F
cycle                    2
childs                  FA
childbirth               1
dob              11/4/2019
deadwood_days           50
pregancy_days            0
group_id                 3
group_past               3
event                  210
milking_days             2
date             7/17/2022
remark              КМ6_34
event_index          11248
ord                      2
Name: 11247, dtype: object
------------------
------------------
[(44, 3)]
id                  911030
sid                      -
sex                      F
cycle                    1
childs                  FA
childbirth               1
dob              11/4/2019
deadwood_days            0
pregancy_days          266
group_id                18
group_past              17
event                  210
milking_days           332
date             7/17/2022
remark              КМ6_34
event_index          11249
ord                      3
Name: 11248, dtype: object
------------------
------------------
[(23, 10)]
id                   911107
sid                  911107
sex                       F
cycle                     2
childs                   MA
childbirth                1
dob              11/12/2019
deadwood_days            53
pregancy_days             0
group_id                 23
group_past               10
event                   303
milking_days             21
date              7/26/2022
remark             F023T010
event_index           11317
ord                       1
Name: 11316, dtype: object
------------------
------------------
[(23, 10)]
id                   911107
sid                  911107
sex                       F
cycle                     2
childs                   MA
childbirth                1
dob              11/12/2019
deadwood_days            53
pregancy_days             0
group_id                  2
group_past               10
event                   204
milking_days             21
date              7/26/2022
remark              ГИНЕКОЛ
event_index           11318
ord                       2
Name: 11317, dtype: object
------------------
------------------
[(44, 21)]
id                   911179
sid                  911179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              11/22/2019
deadwood_days            57
pregancy_days             0
group_id                 44
group_past                4
event                   303
milking_days              0
date              7/29/2022
remark             F044T021
event_index           11365
ord                       1
Name: 11364, dtype: object
------------------
------------------
[(44, 21)]
id                   911179
sid                  911179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              11/22/2019
deadwood_days            57
pregancy_days             0
group_id                 18
group_past                4
event                   106
milking_days              0
date              7/29/2022
remark                    -
event_index           11366
ord                       2
Name: 11365, dtype: object
------------------
------------------
[(44, 21)]
id                   911179
sid                  911179
sex                       F
cycle                     2
childs                   FA
childbirth                1
dob              11/22/2019
deadwood_days            57
pregancy_days             0
group_id                 44
group_past                4
event                   206
milking_days              0
date              7/29/2022
remark                ПРОФ2
event_index           11367
ord                       3
Name: 11366, dtype: object
------------------
------------------
[(17, 45)]
id                   912253
sid                  912253
sex                       F
cycle                     1
childs                   FA
childbirth                1
dob              12/30/2019
deadwood_days             0
pregancy_days           250
group_id                 17
group_past               17
event                   303
milking_days            280
date              7/30/2022
remark             F017T045
event_index           11548
ord                       1
Name: 11547, dtype: object
------------------
------------------
[(17, 45)]
id                   912253
sid                  912253
sex                       F
cycle                     1
childs                   FA
childbirth                1
dob              12/30/2019
deadwood_days             0
pregancy_days           250
group_id                  3
group_past               17
event                   109
milking_days            280
date              7/30/2022
remark                    -
event_index           11549
ord                       2
Name: 11548, dtype: object
------------------

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark,event_index,ord
1965,1001,1001,F,1,FA,1,1/1/2020,0,203,9,9,203,248,7/7/2022,КАН,1966,1
3805,1005,1005,F,1,MA,1,1/1/2020,0,173,6,6,303,254,7/13/2022,F006T007,3806,1
2881,1007,1007,F,1,FA,1,1/1/2020,0,256,5,17,303,268,7/11/2022,F005T006,2882,1
3806,1007,1007,F,1,FA,1,1/1/2020,0,258,6,17,107,275,7/18/2022,214 ДНИ,3807,1
3807,1007,1007,F,1,FA,1,1/1/2020,0,258,6,17,109,278,7/21/2022,CEBA,3808,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11554,912269,912269,F,1,FA,1,12/31/2019,0,223,7,7,303,242,7/19/2022,F007T012,11555,1
11555,912269,912269,F,1,FA,1,12/31/2019,0,223,12,7,204,242,7/19/2022,ХРОМОТА,11556,2
11556,912270,912270,F,1,MA,1,12/31/2019,0,257,7,17,203,275,7/16/2022,КАН,11557,1
11557,912270,912270,F,1,MA,1,12/31/2019,0,257,7,17,107,277,7/18/2022,213 ДНИ,11558,1
11558,912270,912270,F,1,MA,1,12/31/2019,0,257,7,17,109,280,7/21/2022,-,11559,1

**TODO** Спросить что вообще с номерами групп происходит:

In [15]:
df[((df['date'] == '7/29/2022') & (df['id'] == 8036))].head(10)

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark,event_index,ord
4488,8036,8036,F,1,FD,2,8/6/2020,0,0,6,8,105,59,7/29/2022,614H15481,4489,1
4489,8036,8036,F,1,FD,2,8/6/2020,0,0,9,8,102,59,7/29/2022,13,4490,2
4490,8036,8036,F,1,FD,2,8/6/2020,0,0,6,8,303,59,7/29/2022,F006T012,4491,3
4491,8036,8036,F,1,FD,2,8/6/2020,0,0,12,8,204,59,7/29/2022,ХРОМОТА,4492,4

In [16]:
df[((df['date'] == '7/22/2022') & (df['id'] == 807163))].head(10)

,id,sid,sex,cycle,childs,childbirth,dob,deadwood_days,pregancy_days,group_id,group_past,event,milking_days,date,remark,event_index,ord
9797,807163,807163,F,3,FA,1,7/28/2018,106,0,44,2,303,0,7/22/2022,F044T021,9798,1
9798,807163,807163,F,3,FA,1,7/28/2018,106,0,18,2,106,0,7/22/2022,-,9799,2

На самом деле такое решение имеет смысл только если нет ситуации когда животное кидают из группы в группу по циклу (например перевели из 3 в 12 потом обратно в 3), в таком случае восстановить порядок наверняка невозможно. Но судя по всему такого не происходит

###  Cобытия выздоровления и болезней:
Заболевания КЕТОЗ, МЕТРИТ, ПАРЕЗ, ПОСЛЕД, ПРОФОТ протекают в новотельный период и имеют общий критерий выписки: все послеотельные осложнения животного вылечили, корова пригодна к дальнейшей работе и воспроизводству (примечание при выписке ГИНЕКОЛ). Примечание МОЛОДНЯК к событию ЗДОРОВА имеют только животные 0-й лактации (телки и бычки). Примечание ПРОЧИЕ к событию ЗДОРОВА имеют животные, перенесшие прочие заболевания (событие БОЛЕЗНЬ).

In [42]:
df.head()

,id,sex,cycle,childs,childbirth,deadwood_days,pregancy_days,group_id,group_past,event,...,MAST_КМ6_3,MAST_КМ6_4,MAST_ТМ1_1,MAST_ТМ1_2,MAST_ТМ1_3,MAST_ТМ1_4,MAST_КМ3_1,MAST_КМ3_2,MAST_КМ3_3,MAST_КМ3_4
0,1064,1,1,FA,1,0,0,9,9,BRED,...,0,0,0,0,0,0,0,0,0,0
1,1064,1,1,FA,1,0,0,9,9,TOSCM,...,0,0,0,0,0,0,0,0,0,0
2,1185,1,1,FA,1,0,49,9,43,BRED,...,0,0,0,0,0,0,0,0,0,0
3,1185,1,1,FA,1,0,49,9,43,TOSCM,...,0,0,0,0,0,0,0,0,0,0
4,1260,1,1,FA,1,0,49,5,5,TOSCM,...,0,0,0,0,0,0,0,0,0,0

# Генерация новых фичей